= form_for @neuro, url: { action: @neuro.id.nil? ? 'create' : 'update'}, html: { id: 'form_for_neuro' } do |f|
  =f.hidden_field :historia_clinica_id

  .panel-group.style-accordion.form-to-clinic-h#accordion1{role:'tablist', 'aria-multiselectable'=>'true'}
    .panel.panel-default
      .panel-heading{role:'tab', id:'headingOne'}
        %h4.panel-title
          %a{role:'button', 'data-toggle'=>'collapse', 'data-parent'=>'#accordion1', href:'#collapseOne', 'aria-expanded'=>'true', 'aria-controls'=>'collapseOne'}
            SISTEMA
            %span +
      #collapseOne.panel-collapse.collapse.in{role:'tabpanel', 'aria-labelledby'=>'headingOne'}
        .panel-body
          .row.text-center
            .col-md-6.col-sm-6.col-xs-12
              .form-group
                =f.label :marcha
                =f.text_area :marcha, class: 'form-control', rows: 3
            .col-md-6.col-sm-6.col-xs-12
              .form-group
                =f.label :propiocepcion, 'Propiocepción', class: 'neuro_count'
                =f.text_area :propiocepcion, class: 'form-control', rows: 3
            .col-md-6.col-sm-6.col-xs-12
              .form-group
                =f.label :equilibrio
                =f.text_area :equilibrio, class: 'form-control', rows: 3
            .col-md-6.col-sm-6.col-xs-12
              .form-group
                =f.label :tono_muscular, 'Tono muscular'
                =f.text_area :tono_muscular, class: 'form-control', rows: 3
            .col-md-12.col-sm-12.col-xs-12
              .text-center
                %br
                =f.submit class: 'btn btn-primary'


= form_for @history, url: { action: @history.id.nil? ? 'create_extra' : 'update_extra'}, method: 'put' do |f|
  =hidden_field_tag :neuro_id, @neuro.id.nil? ? nil : @neuro.id
  .panel-group.style-accordion.form-to-clinic-h#accordion{role:'tablist', 'aria-multiselectable'=>'true'}
    .panel.panel-default
      .panel-heading{role:'tab', id:'heading2'}
        %h4.panel-title
          %a{role:'button', 'data-toggle'=>'collapse', 'data-parent'=>'#accordion', href:'#collapse2', 'aria-expanded'=>'true', 'aria-controls'=>'collapse2'}
            TRANSICIONES
            %span +
      #collapse2.panel-collapse.collapse{role:'tabpanel', 'aria-labelledby'=>'heading2'}
        .panel-body
          =f.fields_for :transicion do |tran_form|
            .row.text-center
              %p
                * Opciones: lo logra, no lo logra, dificultad ligera, dificultad moderada

              -options = [['',nil], ['Lo logra', 'Lo logra'], ['No lo logra', 'No lo logra'], ['Dificultad ligera', 'Dificultad ligera'], ['Dificultad moderada', 'Dificultad moderada']]
              .col-md-6.col-sm-6.col-xs-12
                .form-group
                  =tran_form.label :decubito_prono, 'Decubito prono a supino y viceversa'
                  =tran_form.select :decubito_prono, options, {}, {class:'form-control transicion'}
              .col-md-6.col-sm-6.col-xs-12
                .form-group
                  =tran_form.label :supino, 'De supino a decúbito lateral'
                  =tran_form.select :supino, options, {}, {class:'form-control  transicion'}
              .col-md-6.col-sm-6.col-xs-12
                .form-group
                  =tran_form.label :decubito_lateral, 'Decubito lateral a sedente'
                  =tran_form.select :decubito_lateral, options, {}, {class:'form-control transicion'}
              .col-md-6.col-sm-6.col-xs-12
                .form-group
                  =tran_form.label :sedente_bipedo, 'De sedente a bípedo y viceversa'
                  =tran_form.select :sedente_bipedo, options, {}, {class:'form-control transicion'}

    .panel.panel-default
      .panel-heading{role:'tab', id:'heading3'}
        %h4.panel-title
          %a{role:'button', 'data-toggle'=>'collapse', 'data-parent'=>'#accordion', href:'#collapse3', 'aria-expanded'=>'true', 'aria-controls'=>'collapse3'}
            SISTEMA NEUROSENSORIAL
            %span +
      #collapse3.panel-collapse.collapse{role:'tabpanel', 'aria-labelledby'=>'heading3'}
        .panel-body.neuros
          =f.fields_for :sistema_neurosensorial do |sen_form|
            =sen_form.hidden_field :sistema_neuromuscular_id
            .row.text-center
              .col-md-12.col-sm-12.col-xs-12
                %p
                  TACTIL
              .col-md-6.col-sm-6.col-xs-12
                .form-group
                  =sen_form.label :vestirse, 'Vestirse y desvestirse es agradable'
                  .radio
                    %label
                      = sen_form.radio_button :vestirse, true
                      Si
                  .radio
                    %label
                      = sen_form.radio_button :vestirse, false
                      No
              .col-md-6.col-sm-6.col-xs-12
                .form-group
                  =sen_form.label :disfruta_banio, 'Disfruta el baño y juega con el agua'
                  .radio
                    %label
                      = sen_form.radio_button :disfruta_banio, true
                      Si
                  .radio
                    %label
                      = sen_form.radio_button :disfruta_banio, false
                      No
              .col-md-6.col-sm-6.col-xs-12
                .form-group
                  =sen_form.label :cepilla, 'Se cepilla sin dificultad'
                  .radio
                    %label
                      = sen_form.radio_button :cepilla, true
                      Si
                  .radio
                    %label
                      = sen_form.radio_button :cepilla, false
                      No
              .col-md-6.col-sm-6.col-xs-12
                .form-group
                  =sen_form.label :molesta_ensucia, 'Se molesta si se ensucia o suda'
                  .radio
                    %label
                      = sen_form.radio_button :molesta_ensucia, true
                      Si
                  .radio
                    %label
                      = sen_form.radio_button :molesta_ensucia, false
                      No
              .col-md-12.col-sm-12.col-xs-12
                %p
                  AUDITIVA
              .col-md-6.col-sm-6.col-xs-12
                .form-group
                  =sen_form.label :molesta_sonido, 'Se molestan con los sonidos fuertes como la licuadora, un rayo, o podadora'
                  .radio
                    %label
                      = sen_form.radio_button :molesta_sonido, true
                      Si
                  .radio
                    %label
                      = sen_form.radio_button :molesta_sonido, false
                      No
              .col-md-6.col-sm-6.col-xs-12
                .form-group
                  =sen_form.label :busca_sonido, 'Busca la fuente del sonido'
                  .radio
                    %label
                      = sen_form.radio_button :busca_sonido, true
                      Si
                  .radio
                    %label
                      = sen_form.radio_button :busca_sonido, false
                      No
              .col-md-6.col-sm-6.col-xs-12
                .form-group
                  =sen_form.label :responde_llamado, 'Responde al llamado'
                  .radio
                    %label
                      = sen_form.radio_button :responde_llamado, true
                      Si
                  .radio
                    %label
                      = sen_form.radio_button :responde_llamado, false
                      No
              .col-md-12.col-sm-12.col-xs-12
                %p
                  VISUAL
              .col-md-6.col-sm-6.col-xs-12
                .form-group
                  =sen_form.label :disfruta_estimulo, 'Disfruta de los estímulos visuales'
                  .radio
                    %label
                      = sen_form.radio_button :disfruta_estimulo, true
                      Si
                  .radio
                    %label
                      = sen_form.radio_button :disfruta_estimulo, false
                      No

              .col-md-6.col-sm-6.col-xs-12
                .form-group
                  =sen_form.label :persecucion_ocular, 'Hace Persecución ocular de objetos'
                  .radio
                    %label
                      = sen_form.radio_button :persecucion_ocular, true
                      Si
                  .radio
                    %label
                      = sen_form.radio_button :persecucion_ocular, false
                      No
              .col-md-12.col-sm-12.col-xs-12
                %p
                  VESTIBULAR Y PROPICEPTIVO
              .col-md-6.col-sm-6.col-xs-12
                .form-group
                  =sen_form.label :superficie_inestable, 'Disfruta estar es superficies inestables'
                  .radio
                    %label
                      = sen_form.radio_button :superficie_inestable, true
                      Si
                  .radio
                    %label
                      = sen_form.radio_button :superficie_inestable, false
                      No
              .col-md-6.col-sm-6.col-xs-12
                .form-group
                  =sen_form.label :juegos_mecanicos, 'Disfruta de juegos mecánicos'
                  .radio
                    %label
                      = sen_form.radio_button :juegos_mecanicos, true
                      Si
                  .radio
                    %label
                      = sen_form.radio_button :juegos_mecanicos, false
                      No
              .col-md-6.col-sm-6.col-xs-12
                .form-group
                  =sen_form.label :juegos_aparatos, 'Disfruta jugar en aparatos mecánicos'
                  .radio
                    %label
                      = sen_form.radio_button :juegos_aparatos, true
                      Si
                  .radio
                    %label
                      = sen_form.radio_button :juegos_aparatos, false
                      No

    .panel.panel-default
      .panel-heading{role:'tab', id:'heading4'}
        %h4.panel-title
          %a{role:'button', 'data-toggle'=>'collapse', 'data-parent'=>'#accordion', href:'#collapse4', 'aria-expanded'=>'true', 'aria-controls'=>'collapse4'}
            MEMORIA
            %span +
      #collapse4.panel-collapse.collapse{role:'tabpanel', 'aria-labelledby'=>'heading4'}
        .panel-body.memor
          =f.fields_for :memorium do |memo_form|
            .row.text-center
              -options_memoria = [['Indemne', 'Indemne'], ['Comprometida', 'Comprometida']]
              .col-md-6.col-sm-6.col-xs-12
                .form-group
                  =memo_form.label :anterograda, 'Anterógrada'
                  =memo_form.select :anterograda, options_memoria, {prompt: 'Seleccione una'}, {class:'form-control'}
              .col-md-6.col-sm-6.col-xs-12
                .form-group
                  =memo_form.label :retrogada, 'Retrógada'
                  =memo_form.select :retrogada, options_memoria, {prompt: 'Seleccione una'}, {class:'form-control'}
              .col-md-6.col-sm-6.col-xs-12
                .form-queja_memoria
                  =memo_form.label :queja_memoria, 'Queja de memoria'
                  -op = [['Seleccione una', nil],['Por parte del usuario', 'Por parte del usuario'], ['Por parte de la familia', 'Por parte de la familia']]
                  =memo_form.select :queja_memoria, op, {}, {class:'form-control'}

    .panel.panel-default
      .panel-heading{role:'tab', id:'heading5'}
        %h4.panel-title
          %a{role:'button', 'data-toggle'=>'collapse', 'data-parent'=>'#accordion', href:'#collapse5', 'aria-expanded'=>'true', 'aria-controls'=>'collapse5'}
            PSICOMOTRICIDAD
            %span +
      #collapse5.panel-collapse.collapse{role:'tabpanel', 'aria-labelledby'=>'heading5'}
        .panel-body.psico
          =f.fields_for :psicomotricidad do |ps_form|
            =ps_form.hidden_field :sistema_neuromuscular_id
            .row.text-center.cont-psicomotricidad
              .col-md-6.col-sm-6.col-xs-12
                .form-group
                  =ps_form.label :lanzamiento, 'Lanzamiento'
                  .radio
                    %label
                      = ps_form.radio_button :lanzamiento, true
                      Adecuado
                  .radio
                    %label
                      = ps_form.radio_button :lanzamiento, false
                      Por mejorar
              .col-md-6.col-sm-6.col-xs-12
                .form-group
                  =ps_form.label :pateo
                  .radio
                    %label
                      = ps_form.radio_button :pateo, true
                      Adecuado
                  .radio
                    %label
                      = ps_form.radio_button :pateo, false
                      Por mejorar
              .col-md-6.col-sm-6.col-xs-12
                .form-group
                  =ps_form.label :recepcion
                  .radio
                    %label
                      = ps_form.radio_button :recepcion, true
                      Adecuado
                  .radio
                    %label
                      = ps_form.radio_button :recepcion, false
                      Por mejorar
              .col-md-6.col-sm-6.col-xs-12
                .form-group
                  =ps_form.label :velocidad, 'Velocidad de reacción'
                  .radio
                    %label
                      = ps_form.radio_button :velocidad, true
                      Adecuado
                  .radio
                    %label
                      = ps_form.radio_button :velocidad, false
                      Por mejorar
              .col-md-6.col-sm-6.col-xs-12
                .form-group
                  =ps_form.label :tamborilear
                  .radio
                    %label
                      = ps_form.radio_button :tamborilear, true
                      Adecuado
                  .radio
                    %label
                      = ps_form.radio_button :tamborilear, false
                      Por mejorar
              .col-md-6.col-sm-6.col-xs-12
                .form-group
                  =ps_form.label :escritura
                  .radio
                    %label
                      = ps_form.radio_button :escritura, true
                      Adecuado
                  .radio
                    %label
                      = ps_form.radio_button :escritura, false
                      Por mejorar
              .col-md-6.col-sm-6.col-xs-12
                .form-group
                  =ps_form.label :salto_bipodal
                  .radio
                    %label
                      = ps_form.radio_button :salto_bipodal, true
                      Adecuado
                  .radio
                    %label
                      = ps_form.radio_button :salto_bipodal, false
                      Por mejorar
              .col-md-6.col-sm-6.col-xs-12
                .form-group
                  =ps_form.label :salto_unipodal
                  .radio
                    %label
                      = ps_form.radio_button :salto_unipodal, true
                      Adecuado
                  .radio
                    %label
                      = ps_form.radio_button :salto_unipodal, false
                      Por mejorar
              .col-md-6.col-sm-6.col-xs-12
                .form-group
                  =ps_form.label :ascenso_descenso, 'Ascenso y descenso de escalones'
                  .radio
                    %label
                      = ps_form.radio_button :ascenso_descenso, true
                      Adecuado
                  .radio
                    %label
                      = ps_form.radio_button :ascenso_descenso, false
                      Por mejorar
              .col-md-6.col-sm-6.col-xs-12
                .form-group
                  =ps_form.label :pedaleo
                  .radio
                    %label
                      = ps_form.radio_button :pedaleo, true
                      Adecuado
                  .radio
                    %label
                      = ps_form.radio_button :pedaleo, false
                      Por mejorar
              .col-md-6.col-sm-6.col-xs-12
                .form-group
                  =ps_form.label :trepado
                  .radio
                    %label
                      = ps_form.radio_button :trepado, true
                      Adecuado
                  .radio
                    %label
                      = ps_form.radio_button :trepado, false
                      Por mejorar
              .col-md-6.col-sm-6.col-xs-12
                .form-group
                  =ps_form.label :carrera
                  .radio
                    %label
                      = ps_form.radio_button :carrera, true
                      Adecuado
                  .radio
                    %label
                      = ps_form.radio_button :carrera, false
                      Por mejorar

              .col-md-6.col-sm-6.col-xs-12
                .form-group
                  =ps_form.label :dominancia
                  -op_ps = [[nil, nil], ['Derecha','Derecha'], ['Izquierda', 'Izquierda'], ['Ambidiestra', 'Ambidiestra']]
                  =ps_form.select :dominancia, op_ps, {}, {class:'form-control'}

              .col-md-6.col-sm-6.col-xs-12
                .form-group
                  =ps_form.label :lateralidad, 'Reconocimiento de la lateralidad'
                  .radio
                    %label
                      = ps_form.radio_button :lateralidad, true
                      Si
                  .radio
                    %label
                      = ps_form.radio_button :lateralidad, false
                      No
              .col-md-6.col-sm-6.col-xs-12
                .form-group
                  =ps_form.label :nocion_cuerpo, 'Noción de cuerpo'
                  =ps_form.text_field :nocion_cuerpo, class: 'form-control'


    .panel.panel-default
      .panel-heading{role:'tab', id:'heading6'}
        %h4.panel-title
          %a{role:'button', 'data-toggle'=>'collapse', 'data-parent'=>'#accordion', href:'#collapse6', 'aria-expanded'=>'true', 'aria-controls'=>'collapse6'}
            COORDINACIÓN MOTORA
            %span +
      #collapse6.panel-collapse.collapse{role:'tabpanel', 'aria-labelledby'=>'heading6'}
        .panel-body.motor
          =f.fields_for :coordinacion_motora do |cm_form|
            =cm_form.hidden_field :sistema_neuromuscular_id
            .row.text-center.cont-psicomotricidad
              .col-md-6.col-sm-6.col-xs-12
                .form-group
                  =cm_form.label :mano_boca
                  .radio
                    %label
                      = cm_form.radio_button :mano_boca, true
                      Si
                  .radio
                    %label
                      = cm_form.radio_button :mano_boca, false
                      No
              .col-md-6.col-sm-6.col-xs-12
                .form-group
                  =cm_form.label :mano_pie
                  .radio
                    %label
                      = cm_form.radio_button :mano_pie, true
                      Si
                  .radio
                    %label
                      = cm_form.radio_button :mano_pie, false
                      No

              .col-md-6.col-sm-6.col-xs-12
                .form-group
                  =cm_form.label :linea_media, 'Cruza línea media'
                  .radio
                    %label
                      = cm_form.radio_button :linea_media, true
                      Si
                  .radio
                    %label
                      = cm_form.radio_button :linea_media, false
                      No

              .col-md-6.col-sm-6.col-xs-12
                .form-group
                  =cm_form.label :toma_objeto, 'Toma un objeto'
                  .radio
                    %label
                      = cm_form.radio_button :toma_objeto, true
                      Si
                  .radio
                    %label
                      = cm_form.radio_button :toma_objeto, false
                      No
              .col-md-6.col-sm-6.col-xs-12
                .form-group
                  =cm_form.label :toma_mas, 'Toma más de dos objetos'
                  .radio
                    %label
                      = cm_form.radio_button :toma_mas, true
                      Si
                  .radio
                    %label
                      = cm_form.radio_button :toma_mas, false
                      No
              .col-md-6.col-sm-6.col-xs-12
                .form-group
                  =cm_form.label :prueba_diadococinesias, 'Prueba de diadococinesias'
                  .radio
                    %label
                      = cm_form.radio_button :prueba_diadococinesias, true
                      Indemnes
                  .radio
                    %label
                      = cm_form.radio_button :prueba_diadococinesias, false
                      Deficiente
              .col-md-6.col-sm-6.col-xs-12
                .form-group
                  =cm_form.label :prueba_dedo_nariz, 'Prueba de dedo-nariz'
                  .radio
                    %label
                      = cm_form.radio_button :prueba_dedo_nariz, true
                      Indemnes
                  .radio
                    %label
                      = cm_form.radio_button :prueba_dedo_nariz, false
                      Deficiente
              .col-md-6.col-sm-6.col-xs-12
                .form-group
                  =cm_form.label :observaciones
                  =cm_form.text_area :observaciones, class: 'form-control'

    .panel.panel-default
      .panel-heading{role:'tab', id:'heading7'}
        %h4.panel-title
          %a{role:'button', 'data-toggle'=>'collapse', 'data-parent'=>'#accordion', href:'#collapse7', 'aria-expanded'=>'true', 'aria-controls'=>'collapse7'}
            ACTIVIDADES DE LA VIDA DIARIA
            %span +
      #collapse7.panel-collapse.collapse{role:'tabpanel', 'aria-labelledby'=>'heading7'}
        .panel-body.acti
          =f.fields_for :actividad do |ac_form|
            =ac_form.hidden_field :sistema_neuromuscular_id
            .row.text-center.cont-psicomotricidad
              .col-md-6.col-sm-6.col-xs-12
                .form-group
                  =ac_form.label :vestirse, 'Vestirse y desvestirse'
                  .radio
                    %label
                      = ac_form.radio_button :vestirse, true
                      Si
                  .radio
                    %label
                      = ac_form.radio_button :vestirse, false
                      No
              .col-md-6.col-sm-6.col-xs-12
                .form-group
                  =ac_form.label :tomar_banio, 'Tomar un baño'
                  .radio
                    %label
                      = ac_form.radio_button :tomar_banio, true
                      Si
                  .radio
                    %label
                      = ac_form.radio_button :tomar_banio, false
                      No
              .col-md-6.col-sm-6.col-xs-12
                .form-group
                  =ac_form.label :levantar_sentar, 'Levantarse o sentarse en una silla'
                  .radio
                    %label
                      = ac_form.radio_button :levantar_sentar, true
                      Si
                  .radio
                    %label
                      = ac_form.radio_button :levantar_sentar, false
                      No
              .col-md-6.col-sm-6.col-xs-12
                .form-group
                  =ac_form.label :subir_bajar_escalera, 'Subir o bajar escaleras'
                  .radio
                    %label
                      = ac_form.radio_button :subir_bajar_escalera, true
                      Si
                  .radio
                    %label
                      = ac_form.radio_button :subir_bajar_escalera, false
                      No
              .col-md-6.col-sm-6.col-xs-12
                .form-group
                  =ac_form.label :subir_bajar_rampa, 'Subir o bajar rampas'
                  .radio
                    %label
                      = ac_form.radio_button :subir_bajar_rampa, true
                      Si
                  .radio
                    %label
                      = ac_form.radio_button :subir_bajar_rampa, false
                      No
              .col-md-6.col-sm-6.col-xs-12
                .form-group
                  =ac_form.label :caminar_barrio, 'Caminar por el barrio'
                  .radio
                    %label
                      = ac_form.radio_button :caminar_barrio, true
                      Si
                  .radio
                    %label
                      = ac_form.radio_button :caminar_barrio, false
                      No
              .col-md-6.col-sm-6.col-xs-12
                .form-group
                  =ac_form.label :preparar_comida, 'Prepara comida simple'
                  .radio
                    %label
                      = ac_form.radio_button :preparar_comida, true
                      Si
                  .radio
                    %label
                      = ac_form.radio_button :preparar_comida, false
                      No
              .col-md-6.col-sm-6.col-xs-12
                .form-group
                  =ac_form.label :limpiar_casa, 'Limpiar la casa'
                  .radio
                    %label
                      = ac_form.radio_button :limpiar_casa, true
                      Si
                  .radio
                    %label
                      = ac_form.radio_button :limpiar_casa, false
                      No
              .col-md-6.col-sm-6.col-xs-12
                .form-group
                  =ac_form.label :responder_telefono, 'Responder al teléfono'
                  .radio
                    %label
                      = ac_form.radio_button :responder_telefono, true
                      Si
                  .radio
                    %label
                      = ac_form.radio_button :responder_telefono, false
                      No

    .panel.panel-default
      .panel-heading{role:'tab', id:'heading8'}
        %h4.panel-title
          %a{role:'button', 'data-toggle'=>'collapse', 'data-parent'=>'#accordion', href:'#collapse8', 'aria-expanded'=>'true', 'aria-controls'=>'collapse8'}
            CLASIFICACIÓN INTERNACIONAL DEL FUNCIONAMIENTO, LA DISCAPACIDAD Y LA SALUD
            %span +
      #collapse8.panel-collapse.collapse{role:'tabpanel', 'aria-labelledby'=>'heading8'}
        .panel-body.clas
          =f.fields_for :clasificacion_internacional do |ci_form|
            =ci_form.hidden_field :sistema_neuromuscular_id
            .row.text-center.cont-psicomotricidad
              .col-md-6.col-sm-6.col-xs-12
                .form-group
                  =ci_form.label :deficiencia_principal, 'Deficiencia principal en'
                  =ci_form.text_area :deficiencia_principal, class: 'form-control'
              .col-md-6.col-sm-6.col-xs-12
                .form-group
                  =ci_form.label :limitacion_actividades, 'Limitación en actividades y participación'
                  =ci_form.text_area :limitacion_actividades, class: 'form-control'
              .col-md-6.col-sm-6.col-xs-12
                .form-group
                  =ci_form.label :factores_ambientales, 'Factores ambientales'
                  =ci_form.text_area :factores_ambientales, class: 'form-control'
              .col-md-6.col-sm-6.col-xs-12
                .form-group
                  =ci_form.label :observacion, 'Observación'
                  =ci_form.text_area :observacion, class: 'form-control'

  .col-md-12.col-sm-12.col-xs-12
    .text-center
      %br
      =f.submit class: 'btn btn-primary'



-if current_usuario.can_edit == false && !@neuro.new_record?
  %script
    $("#form_for_neuro :input").attr('disabled', true);
    $("#form_for_neuro :input[type='submit']").css({'display': 'none'});

-if current_usuario.can_edit == false && !@history.transicion.new_record?
  %script
    $(".transicion").attr('disabled', true);

-if current_usuario.can_edit == false && !@history.sistema_neurosensorial.new_record?
  %script
    $(".neuros :input").attr('disabled', true);

-if current_usuario.can_edit == false && !@history.memorium.new_record?
  %script
    $(".memor select").attr('disabled', true);

-if current_usuario.can_edit == false && !@history.psicomotricidad.new_record?
  %script
    $(".psico select").attr('disabled', true);
    $(".psico :input").attr('disabled', true);

-if current_usuario.can_edit == false && !@history.coordinacion_motora.new_record?
  %script
    $(".motor :input").attr('disabled', true);

-if current_usuario.can_edit == false && !@history.actividad.new_record?
  %script
    $(".acti :input").attr('disabled', true);

-if current_usuario.can_edit == false && !@history.clasificacion_internacional.new_record?
  %script
    $(".clas :input").attr('disabled', true);

