<div class="pull-right info-header-user">
  <%= @patient.nombre%> 
  <small>
    <a href="<%=edit_fisio_patient_clinic_history_path(@patient, @history)%>" title="Ver historia">
      <i class="fa fa-search"></i> 
    </a>
    <a href="<%= single_fisio_patient_clinic_history_print_index_path(@patient, @history, :format => :pdf)%>" title="Imprimir historia" target="_blank">
      <i class="fa fa-print"></i>
    </a>
  </small>
  <small><%=@history.created_at.strftime("%Y-%m-%d %I:%M %p") %></small>
</div>