<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- Sidebar user panel -->
    <div class="user-panel">
      <div class="pull-left image">
        <%= image_tag "" %>
      </div>
      <div class="pull-left info">
        <p><%=current_usuario.nombre %></p>
        <a href="<%=root_path%>"><i class="fa fa-circle text-success"></i> Ir a consultorio</a>
      </div>
    </div>
    <!-- /.search form -->
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu">
      <li class="header">GESTIÓN DEL PACIENTE</li>

      <li class="<%= $menu == "company" || $menu == "membership" || $menu=="invoice" ? 'active' : ''%>">
        <%-if @patient.new_record? %>
          <a href="#">
            <i class="fa fa-cog"></i> <span>Paciente</span>
          </a>
        <%else%>
          <a href="<%= edit_fisio_patient_path(@patient)%>">
            <i class="fa fa-cog"></i> <span>Paciente</span>
          </a>
        <%end%>
      </li>
      <%-unless @patient.id.nil?%>
        <li class="<%= $menu == "company" || $menu == "membership" || $menu=="invoice" ? 'active' : ''%>">
          <a href="<%=fisio_patient_clinic_histories_path(@patient)%>">
            <i class="fa fa-cog"></i> <span>Historias clínicas</span>
          </a>
        </li>
        <li class="<%= $menu == "company" || $menu == "membership" || $menu=="invoice" ? 'active' : ''%>">
          <a href="<%=fisio_patient_evoluciones_path(@patient)%>">
            <i class="fa fa-cog"></i> <span>Evoluciones</span>
          </a>
        </li>
        <%-if @patient.historia_clinicas.count > 0 && !@history.nil? && !@history.new_record?%>
          <hr>
          <li class="">
            <%-if @history.desarrollo_motor.nil? || @history.desarrollo_motor.new_record? %>
              <%-url = new_fisio_patient_clinic_history_desarrollo_motore_path(@patient, @history) %>
            <%else%>
              <%-url = edit_fisio_patient_clinic_history_desarrollo_motore_path(patient_id: @patient.id, clinic_history_id: @history.id, id: @history.desarrollo_motor.id) %>
            <%end%>
            <a href="<%= url %>">
              <i class="fa fa-cog"></i> <span>Desarrollo Motor</span>
            </a>
          </li>

          <li class="">
            <%-if @history.sistema_cardiopulmonar.nil? || @history.sistema_cardiopulmonar.new_record? %>
              <%-url = new_fisio_patient_clinic_history_sistema_cardiopulmonar_path(@patient, @history) %>
            <%else%>
              <%-url = edit_fisio_patient_clinic_history_sistema_cardiopulmonar_path(patient_id: @patient.id, clinic_history_id: @history.id, id: @history.sistema_cardiopulmonar.id) %>
            <%end%>
            <a href="<%= url %>">
              <i class="fa fa-cog"></i> <span>Sistema Cardiopulmonar</span>
            </a>
          </li>

          <li class="">
            <%-if @history.sistema_musculoesqueletico.nil? || @history.sistema_musculoesqueletico.new_record? %>
              <%-url = new_fisio_patient_clinic_history_sistema_musculoesqueletico_path(@patient, @history) %>
            <%else%>
              <%-url = edit_fisio_patient_clinic_history_sistema_musculoesqueletico_path(patient_id: @patient.id, clinic_history_id: @history.id, id: @history.sistema_musculoesqueletico.id) %>
            <%end%>
            <a href="<%= url %>">
              <i class="fa fa-cog"></i> <span>Sistema Musculoesqueletico</span>
            </a>
          </li>

          <li class="">
            <%-url = edit_fisio_patient_clinic_history_pruebas_especiale_path(patient_id: @patient.id, clinic_history_id: @history.id, id: 1) %>
            <a href="<%= url %>">
              <i class="fa fa-cog"></i> <span>Pruebas Especiales</span>
            </a>
          </li>

          <li class="">
            <%-if @history.sistema_neuromuscular.nil? || @history.sistema_neuromuscular.new_record? %>
              <%-url = new_fisio_patient_clinic_history_sistema_neuromuscular_path(@patient, @history) %>
            <%else%>
              <%-url = edit_fisio_patient_clinic_history_sistema_neuromuscular_path(patient_id: @patient.id, clinic_history_id: @history.id, id: @history.sistema_neuromuscular.id) %>
            <%end%>
            <a href="<%= url %>">
              <i class="fa fa-cog"></i> <span>Sistema Neuromuscular</span>
            </a>
          </li>

          <li class="">
            <%-if @history.sistema_tegumentario.nil? || @history.sistema_tegumentario.new_record? %>
              <%-url = new_fisio_patient_clinic_history_sistema_tegumentario_path(@patient, @history) %>
            <%else%>
              <%-url = edit_fisio_patient_clinic_history_sistema_tegumentario_path(patient_id: @patient.id, clinic_history_id: @history.id, id: @history.sistema_tegumentario.id) %>
            <%end%>
            <a href="<%= url %>">
              <i class="fa fa-cog"></i> <span>Sistema Tegumentario</span>
            </a>
          </li>

          <li class="">
            <%-if @history.sistema_genitourinario.nil? || @history.sistema_genitourinario.new_record? %>
              <%-url = new_fisio_patient_clinic_history_sistema_genitourinario_path(@patient, @history) %>
            <%else%>
              <%-url = edit_fisio_patient_clinic_history_sistema_genitourinario_path(patient_id: @patient.id, clinic_history_id: @history.id, id: @history.sistema_genitourinario.id) %>
            <%end%>
            <a href="<%= url %>">
              <i class="fa fa-cog"></i> <span>Sistema Genitourinario</span>
            </a>
          </li>

          <li class="">
            <%-if @history.diagnostico.nil? || @history.diagnostico.new_record? %>
              <%-url = new_fisio_patient_clinic_history_remision_externa_path(@patient, @history) %>
            <%else%>
              <%-url = edit_fisio_patient_clinic_history_remision_externa_path(patient_id: @patient.id, clinic_history_id: @history.id, id: @history.diagnostico.id) %>
            <%end%>
            <a href="<%= url %>">
              <i class="fa fa-cog"></i> <span>Remisión externa</span>
            </a>
          </li>



        <%end%>
      <%end%>
    </ul>
  </section>
  <!-- /.sidebar -->
</aside>