<!DOCTYPE html>
<html>
<!-- ng-app="SensationApp" -->
<head>
  <title>HistoriaClínica</title>
  <%= csrf_meta_tags %>

  <meta content="initial-scale=1, maximum-scale=1" name="viewport"/>
  <meta name="theme-color" content="#1199d3">
  <!-- Windows Phone -->
  <meta name="msapplication-navbutton-color" content="#1199d3">
  <!-- iOS Safari -->
  <meta name="apple-mobile-web-app-status-bar-style" content="#1199d3">

  <%= stylesheet_link_tag    'adminlte/application', media: 'all', 'data-turbolinks-track' => 'reload' %>
  <%= javascript_include_tag 'adminlte/application', 'data-turbolinks-track'=> 'reload' %>

  <!-- Font Awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
</head>

<body class="hold-transition skin-blue sidebar-mini">

  <script type="text/javascript">
    $(document).ready(function() {
      $.AdminLTE.layout.activate();
    });

    $(document).on('page:load', function() {
      var o;
      o = $.AdminLTE.options;
      if (o.sidebarPushMenu) {
        $.AdminLTE.pushMenu.activate(o.sidebarToggleSelector);
      }
      $.AdminLTE.layout.activate();
    });
  </script>
    
  <%-if alert %>
    <div class="alert alert-danger alert-dismissible no-print">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
      <h4><i class="icon fa fa-ban"></i> Alerta!</h4>
      <%= alert %>
    </div>
  <%end%>
  

  <%-if notice%>
    <div class="alert alert-success alert-dismissible no-print">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
      <h4><i class="icon fa fa-check"></i> Exito!</h4>
      <%=notice%>
    </div>
  <%end%>


  <div class="wrapper">

    <header class="main-header">
      <!-- Logo -->
      <a href="<%= root_path %>" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><b>H</b>C</span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><b>Historia</b>ClÍNICA</span>
      </a>
      <!-- Header Navbar: style can be found in header.less -->
      <nav class="navbar navbar-static-top">
        <!-- Sidebar toggle button-->
        <!--<a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">-->
        <a href="#" class="sidebar-toggle sidebar-toggle-large" role="button" onclick="toggle_menu()">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>
        <!-- Sidebar toggle button responsive -->
        <a href="#" class="sidebar-toggle sidebar-toggle-small" role="button" onclick="toggle_menu_small()">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </a>

        <div class="navbar-custom-menu">
          <ul class="nav navbar-nav">
            <!-- User Account: style can be found in dropdown.less -->
            <li class=" user user-menu">
              <a href="#" class="dropdown-toggle">
                <%- if !current_usuario.logo_empresa.url.nil? %>
                  <%= image_tag current_usuario.logo_empresa.url, class: "user-image", alt: "User Image" %>
                <% end %>  
                <span class="hidden-xs"><%= current_usuario.nombre %></span>
              </a>
            </li>
            <li>
              <a href="<%= destroy_usuario_session_path%>" data-method="delete" ><i class="fa fa-sign-out"></i>Cerrar sesión</a>
            </li>
            <!-- Control Sidebar Toggle Button -->
            <!--
            <li>
              <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
            </li>-->
          </ul>
        </div>
      </nav>
    </header>
    <!-- Left side column. contains the logo and sidebar -->
    <%=render 'fisio/layouts/left_menu' %>
    
    <div class="content-wrapper">
      <%= yield %>
    </div>

    <footer class="main-footer">
      <div class="pull-right hidden-xs">
        <b>Version</b> 1.0
      </div>
      <strong>Historia clínica. </strong>
      <strong>
        <a class="link-license" data-toggle="modal" data-target="#myModal">  
          Acuerdo de uso y licencia
        </a>
      </strong>
      <!--
      <strong>Copyright &copy; 2014-2016 <a href="#">Almsaeed Studio</a>.</strong> All rights
      reserved.-->
    </footer>
  </div>
  <%= render template: 'layouts/license' %>
</body>
</html>
