/* --------------------
        FONTS
--------------------- */

//Open Sans
@font-face {
  font-family: 'open_sansbold';
  src: font-url('opensans-bold-webfont.eot');
  src: font-url('opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
  font-url('opensans-bold-webfont.woff2') format('woff2'),
  font-url('opensans-bold-webfont.woff') format('woff'),
  font-url('opensans-bold-webfont.ttf') format('truetype'),
  font-url('opensans-bold-webfont.svg#open_sansbold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'open_sanslight';
  src: font-url('opensans-light-webfont.eot');
  src: font-url('opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
  font-url('opensans-light-webfont.woff2') format('woff2'),
  font-url('opensans-light-webfont.woff') format('woff'),
  font-url('opensans-light-webfont.ttf') format('truetype'),
  font-url('opensans-light-webfont.svg#open_sanslight') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'open_sansregular';
  src: font-url('opensans-regular-webfont.eot');
  src: font-url('opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
  font-url('opensans-regular-webfont.woff2') format('woff2'),
  font-url('opensans-regular-webfont.woff') format('woff'),
  font-url('opensans-regular-webfont.ttf') format('truetype'),
  font-url('opensans-regular-webfont.svg#open_sansregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'open_sanssemibold';
  src: font-url('opensans-semibold-webfont.eot');
  src: font-url('opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'),
  font-url('opensans-semibold-webfont.woff2') format('woff2'),
  font-url('opensans-semibold-webfont.woff') format('woff'),
  font-url('opensans-semibold-webfont.ttf') format('truetype'),
  font-url('opensans-semibold-webfont.svg#open_sanssemibold') format('svg');
  font-weight: normal;
  font-style: normal;

}

//Roboto
@font-face {
  font-family: 'robotobold';
  src: font-url('roboto-bold-webfont.eot');
  src: font-url('roboto-bold-webfont.eot?#iefix') format('embedded-opentype'),
  font-url('roboto-bold-webfont.woff2') format('woff2'),
  font-url('roboto-bold-webfont.woff') format('woff'),
  font-url('roboto-bold-webfont.ttf') format('truetype'),
  font-url('roboto-bold-webfont.svg#robotobold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotolight';
  src: font-url('roboto-light-webfont.eot');
  src: font-url('roboto-light-webfont.eot?#iefix') format('embedded-opentype'),
  font-url('roboto-light-webfont.woff2') format('woff2'),
  font-url('roboto-light-webfont.woff') format('woff'),
  font-url('roboto-light-webfont.ttf') format('truetype'),
  font-url('roboto-light-webfont.svg#robotolight') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'robotoregular';
  src: font-url('roboto-regular-webfont.eot');
  src: font-url('roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
  font-url('roboto-regular-webfont.woff2') format('woff2'),
  font-url('roboto-regular-webfont.woff') format('woff'),
  font-url('roboto-regular-webfont.ttf') format('truetype'),
  font-url('roboto-regular-webfont.svg#robotoregular') format('svg');
  font-weight: normal;
  font-style: normal;

}

//Montserrat
@font-face {
  font-family: 'montserratbold';
  src: font-url('montserrat-bold-webfont.eot');
  src: font-url('montserrat-bold-webfont.eot?#iefix') format('embedded-opentype'),
  font-url('montserrat-bold-webfont.woff2') format('woff2'),
  font-url('montserrat-bold-webfont.woff') format('woff'),
  font-url('montserrat-bold-webfont.ttf') format('truetype'),
  font-url('montserrat-bold-webfont.svg#montserratbold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'montserratlight';
  src: font-url('montserrat-light-webfont.eot');
  src: font-url('montserrat-light-webfont.eot?#iefix') format('embedded-opentype'),
  font-url('montserrat-light-webfont.woff2') format('woff2'),
  font-url('montserrat-light-webfont.woff') format('woff'),
  font-url('montserrat-light-webfont.ttf') format('truetype'),
  font-url('montserrat-light-webfont.svg#montserratlight') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'montserratregular';
  src: font-url('montserrat-regular-webfont.eot');
  src: font-url('montserrat-regular-webfont.eot?#iefix') format('embedded-opentype'),
  font-url('montserrat-regular-webfont.woff2') format('woff2'),
  font-url('montserrat-regular-webfont.woff') format('woff'),
  font-url('montserrat-regular-webfont.ttf') format('truetype'),
  font-url('montserrat-regular-webfont.svg#montserratregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'montserratsemi_bold';
  src: font-url('montserrat-semibold-webfont.eot');
  src: font-url('montserrat-semibold-webfont.eot?#iefix') format('embedded-opentype'),
  font-url('montserrat-semibold-webfont.woff2') format('woff2'),
  font-url('montserrat-semibold-webfont.woff') format('woff'),
  font-url('montserrat-semibold-webfont.ttf') format('truetype'),
  font-url('montserrat-semibold-webfont.svg#montserratsemi_bold') format('svg');
  font-weight: normal;
  font-style: normal;
}