/* Autor: Vanessa Pineda Diaz
*
* Fecha creacion: 13-12-2015
*
* Autor actualizacion:
*
* Fecha actualizacion:
*
* Estilo: Estilos que se repiten en las vistas
*/

body {
  background-color: $bgcolor-body;
}

.logo {
  height: 120px;
  object-fit: contain;
}

.margin_top {
  margin-top: 40px;
}

.float-right {
  float: right;
 }

.links-right {
  padding-top: 50px;
  a {
    color: $color-dark-blue !important;
    text-decoration: underline;
  }
}

.inline-block {
  display: inline-block;
}

a {
  color: $color-black;
  font-family: $font-open-sans-bold;
  &:hover {
    color: $color-blue !important;
  }
  &:focus, &:active {
    outline: 0;
  }
}

//Encabezados
h1, h2 {
  color: $color-black;
  font-family: $font-open-sans-semibold;
}

h3, h4 {
  color: $color-white;
  font-family: $font-montserrat-regular;
}

h5 {
  color: $color-blue;
}

//Formularios
input, select {
  font-family: $font-roboto-regular;
  color: $color-gray-dark !important;
  font-size: 15px;
  &:hover, &:focus, &:active {
    border: 1px solid $color-blue !important;
    outline: 0;
  }
}

label {
  font-family: $font-roboto-regular;
  color: $color-gray-dark;
}

//Link Eliminar
.link_remove {
  color: $color-red-remove;
  font-family: $font-open-sans-semibold;
  display: inline-block;
  width: 95%;
  text-align: right;
  &:hover {
    color: $color-red-remove !important;
  }
}

.primary-btn {
  @include primary-button($color-blue, 3px solid $color-dark-blue, $color-white, 14px 40px, 16px, uppercase, $font-open-sans-bold, 0px, 3px);
}

.second-btn {
  @include primary-button($color-white, 1px solid $color-dark-blue, $color-dark-blue, 10px 36px, 16px, Capitalize, $font-open-sans-semibold, 1px solid $color-dark-blue, 0px);
  border: 1px solid $color-dark-blue;
  &:hover {
    background-color: $color-blue;
    border: 1px solid $color-blue;
    color: $color-white !important;
    transition: background 0.7s ease;
    text-decoration: none;
  }
   &:focus {
    text-decoration: none;
  }
}

//Mensajes de error y completado
.alert {
  border-radius: 0px !important;
  margin-bottom: 0px;
  transition: 1s;
}
.alert_info {
  font-family: $font-montserrat-light;
}

//Cajas de contenido
.box {
  @include box(450px, $color-gray, $color-blue, Capitalize,  30px 25px, 25px 10px);
}

//Table
table {
  border: 1px solid $color-gray;
  margin-top: 10px;
  thead {
    background-color: $color-gray;
    tr {
      th {
        color: $color-black;
        font-family: $font-open-sans-bold;
        font-size: 15px;
        border-bottom: 1px solid $color-gray !important;
      }
    }
  }
  .odd {
    background-color: $color-white !important;
    .sorting_1 {
      background-color: $color-white !important;
      padding: 14px 12px;
    }
  }
  .even {
    background-color: #f9f9f9 !important;
    .sorting_1 {
      background-color: #f9f9f9 !important;
      padding: 14px 12px;
    }
  }
  td {
    font-family: $font-roboto-light;
    font-size: 14.5px;
    color: $color-gray-dark;
  }
  a {
    font-family: $font-roboto-bold;
    color: $color-blue;
    font-size: 15px;
    margin-right: 10px;
  }
}

.dataTables_length {
  margin-bottom: 16px;
}

.dataTables_info, .dataTables_length > label, .dataTables_filter > label, .dataTables_paginate > a{
  color: $color-black !important;
  font-family: $font-montserrat-regular;
}

.dataTables_wrapper .dataTables_paginate .paginate_button:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover, .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active {
  background: none !important;
  color: $color-dark-blue !important;
  border: 0px none !important;
  font-family: $font-montserrat-light !important;
  text-decoration: underline;
  cursor: pointer;
}

a.paginate_button.current, .dataTables_wrapper .dataTables_paginate .paginate_button.current {
  background: none !important;
  background-color: transparent !important;
  border: 0px none !important;
  color: $color-blue !important;
  text-decoration: underline !important;
  cursor: pointer;
}

.links_style {
  color: $color-dark-blue !important;
  text-decoration: underline;
  text-transform: uppercase;
}

.textarea-big {
  height: 120px !important;
}

.description_evolutions a {
  font-family: $font-roboto-regular;
  font-size: 14.5px;
  color: $color-black;
}

.bg-white-evolution {
  background-color: $color-white;
  padding: 35px 30px !important;
  margin-top: 45px;
  border-top: 3px solid #d2d6de;
}

.table-daniels {
  tr td {
    padding-bottom: 7px;
    input {
      border-radius: 0 !important;
    }
  }
}

.table-import-patient {
  tr td {
    vertical-align: middle !important;
    border: 0 !important;
  }
}

.icon-btn {
  font-size: 18px;
  margin-right: 4px;
}

.bg-white {
  background-color: $color-white !important;
  min-height: 100%;
}