//Mixin


//Placeholder
@mixin placeholder($color, $font-family, $font-size) {
  input::-webkit-input-placeholder {
    color: $color;
    font-family: $font-family;
    font-size: $font-size;
  }
  input:-moz-placeholder { /* Firefox 18- */
    color: $color;
    font-family: $font-family;
    font-size: $font-size;
  }
  input::-moz-placeholder {  /* Firefox 19+ */
    color: $color;
    font-family: $font-family;
    font-size: $font-size;
  }
  input:-ms-input-placeholder {
    color: $color;
    font-family: $font-family;
    font-size: $font-size;
  }
}


//Border radius
@mixin border-radius($tamano){
  border-radius: $tamano;
  -moz-border-radius: $tamano;
  -ms-border-radius: $tamano;
  -webkit-border-radius: $tamano;
}

//button
@mixin primary-button($bgcolor, $border, $color, $padding, $font-size, $text-transform, $font-family, $border-active, $margin-top) {
  background-color: $bgcolor;
  border-bottom: $border !important;
  color: $color !important;
  padding: $padding !important;
  font-size: $font-size;
  text-transform: $text-transform;
  font-family: $font-family;
  &:hover, &:focus, &:active {
    border-bottom: $border-active !important;
    margin-top: $margin-top;
    outline: 0 !important;
  }
}

//box content blue and gray
@mixin box($width, $bgcolor, $bgcolor-title, $text-transform-title, $padding-box-content, $padding-input) {
  width: $width;
  max-width: 100%;
  background-color: $bgcolor;
  margin: 0 auto;
  .box-title {
    background: $bgcolor-title;
    padding: 20px;
    h3 {
      margin: 0;
      text-transform: $text-transform-title;
    }
  }
  .box-content {
    padding: $padding-box-content;
    input {
      padding: $padding-input;
      border-radius: 0px;
      border: 0px;
    }
    @include placeholder($color-gray-dark, $font-roboto-regular, 15px);
  }
}


