//Variables

//General colors
$color-black: #333;
$color-blue: #3c8dbc;
$color-white: #fff;
$color-dark-blue: #367fa9;
$color-gray: #f3f3f3;
$color-gray-dark: #888;
$color-red-remove: #A94442;
$bgcolor-body: #ecf0f5;
$bgcolor-left-menu: #2c3b41;
$color-left-menu-title: #8aa4af;


//Fonts
$font-open-sans-bold: 'open_sansbold';
$font-open-sans-semibold: 'open_sanssemibold';
$font-open-sans-regular: 'open_sansregular';
$font-open-sans-light: 'open_sanslight';

$font-roboto-bold: 'robotobold';
$font-roboto-regular: 'robotoregular';
$font-roboto-light: 'robotolight';

$font-montserrat-bold: 'montserratbold';
$font-montserrat-semibold: 'montserratbold';
$font-montserrat-regular: 'montserratregular';
$font-montserrat-light: 'montserratlight';


