<div class="pull-right info-header-user">
  <%= @patient.nombre%> 
  <small><a href="<%=edit_medical_patient_historia_medica_path(@patient, @history)%>" title="Ver historia">
    <i class="fa fa-search"></i> 
  </a></small>
  <small><%=@history.created_at.strftime("%Y-%m-%d %I:%M %p") %></small>
</div>