<aside class="main-sidebar">
  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">
    <!-- Sidebar user panel -->
    <div class="user-panel">
      <div class="pull-left image">
        <%= image_tag "" %>
      </div>
      <div class="pull-left info">
        <p><%=current_usuario.nombre %></p>
        <a href="<%=root_path%>"><i class="fa fa-circle text-success"></i> Ir a consultorio</a>
      </div>
    </div>
    <!-- /.search form -->
    <!-- sidebar menu: : style can be found in sidebar.less -->
    <ul class="sidebar-menu">
      <li class="header">GESTIÓN DEL PACIENTE</li>

      <li class="<%= $menu == "company" || $menu == "membership" || $menu=="invoice" ? 'active' : ''%>">
        <%-if @patient.new_record? %>
          <a href="#">
            <i class="fa fa-cog"></i> <span>Paciente</span>
          </a>
        <%else%>
          <a href="<%= edit_medical_patient_path(@patient)%>">
            <i class="fa fa-cog"></i> <span>Paciente</span>
          </a>
        <%end%>
      </li>
      <%-unless @patient.id.nil?%>
        <li class="<%= $menu == "company" || $menu == "membership" || $menu=="invoice" ? 'active' : ''%>">
          <a href="<%=medical_patient_historia_medicas_path(@patient)%>">
            <i class="fa fa-cog"></i> <span>Historias clínicas</span>
          </a>
        </li>
        <%-if @patient.historia_clinicas.count > 0 && !@history.nil? && !@history.new_record?%>
          <hr>
          <li class="">
            <a href="">
              <i class="fa fa-cog"></i> <span>Desarrollo Motor</span>
            </a>
          </li>
        <%end%>
      <%end%>
    </ul>
  </section>
  <!-- /.sidebar -->
</aside>