<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Información del paciente
    <small>Nuevo paciente</small>
  </h1>
</section>

<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box box-primary">
        <div class="box-header"></div>
        <!-- /.box-header -->
        <div class="box-body">
          <%-if @patient.errors.count > 0 %>
            <div class="alert alert-danger alert-dismissible">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
              <h4><i class="icon fa fa-ban"></i> Error!</h4>
              <%= @patient.errors.full_messages.to_sentence%>
            </div>
          <%end%>
          <%= render 'form' %>
        </div>
      </div>
    </div>
  </div>
</section>  
