="Paciente: #{@patient.nombre}"
  = form_for @evolution, url: {action: "#{action}"}, html: {class: ""} do |f|
    = "Fecha actual"
    = Time.now
    %br
    =f.label :descripcion
    %br
    =f.text_area :creation_date
    %br
    =f.text_area :creation_date
    %br
    =f.hidden_field :paciente_id, value: params[:patient_id]
    =f.submit