=render template: 'partials/top_menu'

%script
  $( document ).ready(function() {
  //LLama al datepicker y lo traduce
  $( ".datepicker" ).datepicker();
  date_picker_es();
  });

.container.margin_top.text-center
  .all_forms_style.bg-white-evolution
    %h4="Paciente: #{@patient.nombre}"
    = form_for @evolution, url: {action: 'update'}, html: {class: ""} do |f|
      %p
        = "Fecha actual"
        = Time.now
      .form-group
        =f.label :descripcion
        =f.text_area :descripcion, class: 'form-control textarea-big'
      .form-group
        =f.label :creation_date, 'Fecha de creación'
        =f.text_field :creation_date, class: 'form-control datepicker', required:true
      .text-center
        %br
        =f.hidden_field :paciente_id, value: params[:patient_id]
        =f.submit class:'btn primary-btn'