%script
  $(document).ready(function(){
  //LLama a la función del data Table para mostrar los pacientes - patients.js
  data_table('#table_evolutions', 'Evolución', 'Evoluciones');
  });

=render template: 'partials/top_menu'

.container.margin_top
  .text-right
    =link_to 'Ingresar Evolución', new_patient_evolution_path, class:'links_style'

  .list_patients
    %h2
      ="Evolución del Paciente: #{@patient.nombre}"
    %table#table_evolutions.display{:cellspacing => "0", :width => "100%"}
      %thead
        %tr
          %th Evolución
          %th Fecha de Creación
          %th Acción
      %tfoot
        %tr
          %th Evolución
          %th Fecha de Creación
          %th Acción
      %tbody
        -@evolutions.each do |evolution|
          %tr
            %td.description_evolutions
              =link_to evolution.descripcion, edit_patient_evolution_path(patient_id: params[:patient_id], id: evolution.id)
            %td=evolution.creation_date
            %td
              =link_to '<i class="fa fa-pencil-square-o icon-btn"></i> Editar'.html_safe, edit_patient_evolution_path(patient_id: params[:patient_id], id: evolution.id)
              =link_to ' - '
              =link_to '<i class="fa fa-trash-o icon-btn"></i> Eliminar'.html_safe, patient_evolution_path(patient_id: params[:patient_id], id: evolution.id), method: :delete, data: {confirm: 'Está seguro de eliminar esta evolución?'}

  %br
  =current_usuario.nombre
  =current_usuario.apellido
  =current_usuario.tarjeta_profesional
%br