%script
  $( document ).ready(function() {
  //LLama al datepicker y lo traduce
  $( ".datepicker" ).datepicker({
  changeMonth: true,
  changeYear: true,
  format: 'yyyy-mm-dd'
  });
  date_picker_es();

  });

= nested_form_for @history, url: {action: @history.id.nil? ? 'create' : 'update'}, html: {class: ""} do |f|
  .box-body.form-to-clinic-h.clinic-medical
    =f.hidden_field :paciente_id, value: @patient.id
    -unless @history.id.nil?
      .row
        %a.pull-right.btn.btn-default{ href: single_medical_patient_historia_medica_print_index_path(@patient, @history, :format => :pdf), title: "Imprimir historia", target: "_blank" } 
          %i.fa.fa-print{ "aria-hidden"=> "true" }
          Imprimir
    .row.text-center
      .col-md-6.col-sm-4.col-xs-12
        .form-group
          =f.label :motivo_consulta, 'Motivo de consulta'
          =f.text_area :motivo_consulta, class: 'form-control'
      .col-md-6.col-sm-4.col-xs-12
        .form-group
          =f.label :historia_actual
          =f.text_area :historia_actual, class: 'form-control'
      .col-md-12.col-sm-12.col-xs-12
        %p
          %STRONG ANTECEDENTES
      .col-md-4.col-sm-4.col-xs-12
        .form-group
          =f.label :antecedente_medico, 'Médicos'
          =f.text_area :antecedente_medico, class: 'form-control'
      .col-md-4.col-sm-4.col-xs-12
        .form-group
          =f.label :antecedente_quirurgico, 'Quirúrgico'
          =f.text_area :antecedente_quirurgico, class: 'form-control'
      .col-md-4.col-sm-4.col-xs-12
        .form-group
          =f.label :antecedente_ginecoobstetrico, 'Ginecoobstetricos'
          =f.text_area :antecedente_ginecoobstetrico, class: 'form-control'
      .col-md-4.col-sm-4.col-xs-12
        .form-group
          =f.label :antecedente_alergia, 'Alergias'
          =f.text_area :antecedente_alergia, class: 'form-control'
      
      .col-md-12.col-sm-12.col-xs-12
        .form-group
          =f.label :revision_sistemas, 'Revisión por sistemas'
          =f.text_area :revision_sistemas, class: 'form-control'
      
      .col-md-4.col-sm-4.col-xs-12
        .form-group
          =f.label :imagenes, 'Imágenes'
          =f.text_area :imagenes, class: 'form-control'
      .col-md-4.col-sm-4.col-xs-12
        .form-group
          =f.label :laboratorios
          =f.text_area :laboratorios, class: 'form-control'

      .col-md-12.col-sm-12.col-xs-12
        %p
          %STRONG SIGNOS VITALES
      .col-md-4.col-sm-4.col-xs-12
        .form-group
          =f.label :ta, 'TA'
          =f.text_field :ta, class: 'form-control'
      .col-md-4.col-sm-4.col-xs-12
        .form-group
          =f.label :fc, 'FC'
          =f.text_field :fc, class: 'form-control', type: 'number', step: '0.01'
      .col-md-4.col-sm-4.col-xs-12
        .form-group
          =f.label :fr, 'FR'
          =f.text_field :fr, class: 'form-control', type: 'number', step: '0.01'
      .col-md-4.col-sm-4.col-xs-12
        .form-group
          =f.label :sato2, 'SatO2'
          =f.text_field :sato2, class: 'form-control', type: 'number', step: '0.01'
      .col-md-4.col-sm-4.col-xs-12
        .form-group
          =f.label :peso
          =f.text_field :peso, class: 'form-control', type: 'number', step: '0.01', onfocusout: 'sm_imc()'
      .col-md-2.col-sm-2.col-xs-12
        .form-group
          =f.label :talla
          =f.text_field :talla, class: 'form-control', type: 'number', step: '0.01', onfocusout: 'sm_imc()'
      .col-md-2.col-sm-2.col-xs-12
        .form-group
          =f.label :unidad_talla
          =f.select :unidad_talla, [['Metros', 1],['Centímetros', 2]], {}, {class:'form-control', onchange: 'sm_imc()'}
      .col-md-4.col-sm-4.col-xs-12
        .form-group
          =f.label :glucometria
          =f.text_field :glucometria, class: 'form-control', type: 'number', step: '0.01'
      .col-md-4.col-sm-4.col-xs-12
        .form-group
          =f.label :imc
          =f.text_field :imc, class: 'form-control', readonly: true, placeholder: 'peso/(talla^2)'
      .col-md-4.col-sm-4.col-xs-12
        .form-group
          =f.label :temperatura
          =f.text_field :temperatura, class: 'form-control'


      .col-md-12.col-sm-12.col-xs-12
        %p
          %STRONG EXÁMEN FÍSICO

      .col-md-4.col-sm-4.col-xs-12
        .form-group
          =f.label :inspeccion_general, 'Inspección general'
          =f.text_area :inspeccion_general, class: 'form-control'
      .col-md-4.col-sm-4.col-xs-12
        .form-group
          =f.label :cabeza
          =f.text_area :cabeza, class: 'form-control'
      .col-md-4.col-sm-4.col-xs-12
        .form-group
          =f.label :cuello
          =f.text_area :cuello, class: 'form-control'
      .col-md-4.col-sm-4.col-xs-12
        .form-group
          =f.label :torax
          =f.text_area :torax, class: 'form-control'
      .col-md-4.col-sm-4.col-xs-12
        .form-group
          =f.label :abdomen
          =f.text_area :abdomen, class: 'form-control'
      .col-md-4.col-sm-4.col-xs-12
        .form-group
          =f.label :genitales
          =f.text_area :genitales, class: 'form-control'
      .col-md-4.col-sm-4.col-xs-12
        .form-group
          =f.label :extremidades
          =f.text_area :extremidades, class: 'form-control'
      .col-md-4.col-sm-4.col-xs-12
        .form-group
          =f.label :neurologico, 'Neurológico'
          =f.text_area :neurologico, class: 'form-control'
      .col-md-4.col-sm-4.col-xs-12
        .form-group
          =f.label :piel_faneras, 'Piel y faneras'
          =f.text_area :piel_faneras, class: 'form-control'
      .col-md-12.col-sm-12.col-xs-12
        .form-group
          =f.label :mental
          =f.text_area :mental, class: 'form-control'
      
      .col-md-12.col-sm-12.col-xs-12
        .box.box-info
          .box-header.with-border
            %h3.box-title IMPRESIÓN DIAGNÓSTICA
          .box-body
            =f.fields_for :impresion_diagnosticas do |id_form|
              .col-md-12.col-sm-12.col-xs-12
                .form-group
                  =id_form.label :descripcion, 'Descripción'
                  =id_form.hidden_field :historia_medica
                  =id_form.text_area :descripcion, class: 'form-control'
                  %br
                  =id_form.link_to_remove "Eliminar", class: 'btn btn-danger pull-right'
            = f.link_to_add "Agregar", :impresion_diagnosticas, class: 'btn btn-default pull-left'

      %hr
      .col-md-12.col-sm-12.col-xs-12
        .form-group
          =f.label :analisis, 'Análisis'
          =f.text_area :analisis, class: 'form-control'
      .col-md-6.col-sm-6.col-xs-12
        .form-group
          =f.label :plan
          =f.text_area :plan, class: 'form-control'
      .col-md-6.col-sm-6.col-xs-12
        .form-group
          =f.label :intervencion_terapeutica, 'Intervención terapéutica'
          =f.text_area :intervencion_terapeutica, class: 'form-control'
      .col-md-12.col-sm-12.col-xs-12
        .form-group
          =f.label :formulacion, 'Formulación'
          =f.text_area :formulacion, class: 'form-control'
        -unless @history.id.nil?
          .row
            %a.pull-right.btn.btn-default{ href: formulacion_medical_patient_historia_medica_print_index_path(@patient, @history, :format => :pdf), title: "Imprimir historia", target: "_blank" } 
              %i.fa.fa-print{ "aria-hidden"=> "true" }
              Formulación
      .col-md-12.col-sm-12.col-xs-12
        .form-group
          =f.label :control
          =f.text_area :control, class: 'form-control'


    .text-center
      %br
      =f.submit class: 'btn btn-primary'
      %br

