<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Historias Clínicas de <%= @patient.nombre %>
  </h1>
</section>

<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">Historias</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <table id="example2" class="table table-bordered table-hover">
            <thead>
            <tr>
              <th>Id</th>
              <th>Nombre</th>
              <th>Fecha de creación</th>
              <th>Opciones</th>
            </tr>
            </thead>
            <tbody>
              <%-@histories.each do |history|%>
                <tr>
                  <td><%= history.id%></td>
                  <td><%= @patient.nombre %></td>
                  <td><%= history.created_at.strftime("%Y-%m-%d %I:%M %p") %></td>
                  <td>
                    <a href="<%= edit_medical_patient_historia_medica_path(@patient, history) %>">
                      <i class="fa fa-fw fa-search"></i>  
                    </a>
                    <a href="<%= single_medical_patient_historia_medica_print_index_path(@patient, history, :format => :pdf)%>" title="Imprimir historia" target="_blank">
                      <i class="fa fa-print" aria-hidden="true"></i>
                    </a>
                  </td>
                </tr>
              <%end%>
            </tbody>
          </table>
          <br>
          <div class="row">
            <div class="col-md-3">
              <a href="<%= new_medical_patient_historia_medica_path(@patient)%>" class="btn btn-primary">
                Crear
              </a>
            </div>
            <div class="col-md-9">
              <div class="pull-right">
                <%= will_paginate @histories, renderer: BootstrapPagination::Rails %>    
              </div>
            </div>
          </div>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</section>
<!-- /.content -->

<script>
$(function () {
  $('#example2').dataTable({
    'paging'      : false,
    'lengthChange': false,
    'searching'   : false,
    'ordering'    : true,
    'info'        : true,
    'autoWidth'   : false
  })
})
</script>
