%div
  =wicked_pdf_image_tag current_usuario.logo_empresa.url, style: 'width: 135px; object-fit: contain, display: inline-block; vertical-align: middle; margin-right: 60px' unless current_usuario.logo_empresa.url.nil?
  %h2{style: 'display: inline-block; font-size: 15px; color: #333; font-family:Arial; text-transform:uppercase; width: 50%; text-align: center '}
    -#current_usuario.nombre
    MEDICINA
%br
%div.personal-info
  %h4{style: 'text-align:center; margin-bottom:5px; font-size: 10px; border-bottom: 1px solid #333; color: #333; font-family:Arial; padding:4px; margin-top: 0'} INFORMACIÓN PERSONAL

  %p{style: 'margin:0 0 2px; color: #272525; font-family:Arial; font-size: 10px; width: 42%; display: inline-block;'}
    %b{style: 'color: #333; font-family:Arial;'} NOMBRE:
    %span{style: "text-transform: uppercase"}=@patient.nombre
  %p{style: 'margin:0 0 2px; color: #272525; font-family:Arial; font-size: 10px; width: 29%; display: inline-block;'}
    %b{style: 'color: #333; font-family:Arial'} FEC. NACIMIENTO:
    %span{style: "text-transform: uppercase"}=@patient.fecha_nacimiento
  %p{style: 'margin:0 0 2px; color: #272525; font-family:Arial; font-size: 10px; width: 27%; display: inline-block'}
    %b{style: 'color: #333; font-family:Arial'} EDAD:
    %span{style: "text-transform: uppercase"}=@patient.edad
    %span{style: "text-transform: uppercase"}= @patient.edad.nil? ? '' : ' años'

  %p{style: 'margin:0 0 2px; color: #272525; font-family:Arial; font-size: 10px; width: 42%; display: inline-block;'}
    %b{style: 'color: #333; font-family:Arial'} TIPO DOCUMENTO:
    %span{style: "text-transform: uppercase"}=@patient.type_document.nil? ? 'Sin asignar' : @patient.type_document.name
  %p{style: 'margin:0 0 2px; color: #272525; font-family:Arial; font-size: 10px; width: 29%; display: inline-block;'}
    %b{style: 'color: #333; font-family:Arial'} DOCUMENTO:
    %span{style: "text-transform: uppercase"}=@patient.documento
  - if @patient.genero?
    %p{style: 'margin:0 0 2px; color: #272525; font-family:Arial; font-size: 10px; width: 27%; display: inline-block'}
      %b{style: 'color: #333; font-family:Arial'} GÉNERO:
      %span{style: "text-transform: uppercase"}=@patient.genero

  %p{style: 'margin:0 0 2px; color: #272525; font-family:Arial; font-size: 10px; width: 42%; display: inline-block;'}
    %b{style: 'color: #333; font-family:Arial'} ESTADO CIVIL:
    %span{style: "text-transform: uppercase"}=@patient.estado_civil.nil? ? 'Sin asignar' : @patient.estado_civil.name
  - if @patient.telefono?
    %p{style: 'margin:0 0 2px; color: #272525; font-family:Arial; font-size: 10px; width: 29%; display: inline-block;'}
      %b{style: 'color: #333; font-family:Arial'} TELÉFONO:
      %span{style: "text-transform: uppercase"}=@patient.telefono
  - if @patient.movil?
    %p{style: 'margin:0 0 2px; color: #272525; font-family:Arial; font-size: 10px; width: 27%; display: inline-block'}
      %b{style: 'color: #333; font-family:Arial'} CELULAR:
      %span{style: "text-transform: uppercase"}=@patient.movil

  -if @patient.direccion?
    %p{style: 'margin:0 0 2px; color: #272525; font-family:Arial; font-size: 10px; width: 71.5%; display: inline-block;'}
      %b{style: 'color: #333; font-family:Arial'} RESIDENCIA:
      %span{style: "text-transform: uppercase"}=@patient.direccion
  - if @patient.rh?
    %p{style: 'margin:0 0 2px; color: #272525; font-family:Arial; font-size: 10px; width: 27%; display: inline-block;'}
      %b{style: 'color: #333; font-family:Arial'} R.H:
      %span{style: "text-transform: uppercase"}=@patient.rh

  - if @patient.profesion?
    %p{style: 'margin:0 0 2px; color: #272525; font-family:Arial; font-size: 10px; width: 42%; display: inline-block;'}
      %b{style: 'color: #333; font-family:Arial'} OCUPACIÓN:
      %span{style: "text-transform: uppercase"}=@patient.profesion
  - if @patient.escolaridad?
    %p{style: 'margin:0 0 2px; color: #272525; font-family:Arial; font-size: 10px; width: 56%; display: inline-block'}
      %b{style: 'color: #333; font-family:Arial'} ESCOLARIDAD:
      %span{style: "text-transform: uppercase"}=@patient.escolaridad

  
  - if @patient.eps?
    %p{style: 'margin:0 0 2px; color: #272525; font-family:Arial; font-size: 10px; width: 42%; display: inline-block;'}
      %b{style: 'color: #333; font-family:Arial'} EPS:
      %span{style: "text-transform: uppercase"}=@patient.eps
  - if @patient.email?
    %p{style: 'margin:0 0 2px; color: #272525; font-family:Arial; font-size: 10px; width: 56%; display: inline-block;'}
      %b{style: 'color: #333; font-family:Arial'} CORREO:
      %span{style: "text-transform: uppercase"}=@patient.email

  - if @patient.remitido_por?
    %p{style: 'margin:0 0 2px; color: #272525; font-family:Arial; font-size: 10px; width: 42%; display: inline-block;'}
      %b{style: 'color: #333; font-family:Arial'} REMITIDO POR
      %span{style: "text-transform: uppercase"}=@patient.remitido_por
  - if @patient.fecha_actual?
    %p{style: 'margin:0 0 2px; color: #272525; font-family:Arial; font-size: 10px; width: 56%; display: inline-block;'}
      %b{style: 'color: #333; font-family:Arial'} FECHA INGRESO
      %span{style: "text-transform: uppercase"}=@patient.fecha_actual

  - if @patient.nombre_acompanante?
    %p{style: 'margin:0 0 2px; color: #272525; font-family:Arial; font-size: 10px; width: 42%; display: inline-block;'}
      %b{style: 'color: #333; font-family:Arial'} ACOMPAÑANTE:
      %span{style: "text-transform: uppercase"}=@patient.nombre_acompanante
  - if @patient.movil_acompanante?
    %p{style: 'margin:0 0 2px; color: #272525; font-family:Arial; font-size: 10px; width: 56%; display: inline-block'}
      %b{style: 'color: #333; font-family:Arial'} TELÉFONO ACOMP:
      %span{style: "text-transform: uppercase"}=@patient.movil_acompanante


%div.clinic-history
  -unless @history.nil?
    %h4{style: 'text-align:center; margin-bottom:5px; font-size: 10px; border-bottom: 1px solid #333; color: #333; font-family:Arial; padding:4px'} HISTORIA CLÍNICA
    - if !@history.motivo_consulta.blank?
      %p{style: 'margin:0 0 2px; color: #272525; font-family:Arial; font-size: 10px;  width: 100%; display: inline-block; text-align: justify'}
        %b{style: 'color: #333; font-family:Arial'} MOTIVO CONSULTA:
        %span{style: "text-transform: uppercase"}=@history.motivo_consulta
    - if !@history.historia_actual.blank?
      %p{style: 'margin:0 0 2px; color: #272525; font-family:Arial; font-size: 10px; width: 100%; display: inline-block; text-align: justify'}
        %b{style: 'color: #333; font-family:Arial'} HISTORIA ACTUAL:
        %span{style: "text-transform: uppercase"}=@history.historia_actual
    -if !@history.antecedente_medico.blank? || !@history.antecedente_quirurgico.blank? || !@history.antecedente_ginecoobstetrico.blank? || !@history.antecedente_alergia.blank?
      %br
      %hr
      %h4{style: 'margin: 5px 0; text-decoration:underline; color: #333; font-family:Arial; font-size: 10px;'}
        ANTECEDENTES:
      - if !@history.antecedente_medico.blank?
        %p{style: 'margin:0 0 2px; color: #272525; font-family:Arial; font-size: 10px; width: 49%; display: inline-block; vertical-align:top; margin-right:10px'}
          %b{style: 'color: #333; font-family:Arial'} MÉDICOS:
          %span{style: "text-transform: uppercase"}=@history.antecedente_medico
      - if !@history.antecedente_quirurgico.blank?
        %p{style: 'margin:0 0 2px; color: #272525; font-family:Arial; font-size: 10px; width: 49%; display: inline-block; vertical-align:top'}
          %b{style: 'color: #333; font-family:Arial'} QUIRÚRGICOS:
          %span{style: "text-transform: uppercase"}=@history.antecedente_quirurgico
      - if !@history.antecedente_ginecoobstetrico.blank?
        %p{style: 'margin:0 0 2px; color: #272525; font-family:Arial; font-size: 10px;  width: 49%; display: inline-block; margin-right:10px; vertical-align:top'}
          %b{style: 'color: #333; font-family:Arial'} GINECOOBSTÉRTRICOS:
          %span{style: "text-transform: uppercase"}=@history.antecedente_ginecoobstetrico
      - if !@history.antecedente_alergia.blank?
        %p{style: 'margin:0 0 2px; color: #272525; font-family:Arial; font-size: 10px;  width: 49%; display: inline-block; vertical-align:top'}
          %b{style: 'color: #333; font-family:Arial'} ALERGIAS:
          %span{style: "text-transform: uppercase"}=@history.antecedente_alergia
      %hr

    - if !@history.revision_sistemas.blank?
      %p{style: 'margin:2px 0 4px; color: #272525; font-family:Arial; font-size: 10px;  width: 100%; display: inline-block; text-align: justify'}
        %b{style: 'color: #333; font-family:Arial'} REVISIÓN POR SISTEMAS:
        %span{style: "text-transform: uppercase"}=@history.revision_sistemas

    - if !@history.imagenes.blank?
      %p{style: 'margin:2px 0 4px; color: #272525; font-family:Arial; font-size: 10px;  width: 49%; display: inline-block; margin-right:10px'}
        %b{style: 'color: #333; font-family:Arial'} IMÁGENES:
        %span{style: "text-transform: uppercase"}=@history.imagenes
    - if !@history.laboratorios.blank?
      %p{style: 'margin:2px 0 4px; color: #272525; font-family:Arial; font-size: 10px;  width: 49%; display: inline-block;'}
        %b{style: 'color: #333; font-family:Arial'} LABORATORIOS:
        %span{style: "text-transform: uppercase"}=@history.laboratorios
    %hr

    %h4{style: 'margin: 5px 0; text-decoration:underline; color: #333; font-family:Arial; font-size: 10px;'}
      SIGNOS VITALES:

 
    - if !@history.ta.blank?
      %p{style: 'margin:2px 0 4px; color: #272525; font-family:Arial; font-size: 10px;  width: 32%; display: inline-block; text-align: justify'}
        %b{style: 'color: #333; font-family:Arial'} TA:
        %span{}="#{@history.ta} Mmhg"

    - if !@history.fc.blank?
      %p{style: 'margin:2px 0 4px; color: #272525; font-family:Arial; font-size: 10px;  width: 32%; display: inline-block; text-align: justify'}
        %b{style: 'color: #333; font-family:Arial'} FC:
        %span{}="#{@history.fc} x Min"

    - if !@history.fr.blank?
      %p{style: 'margin:2px 0 4px; color: #272525; font-family:Arial; font-size: 10px;  width: 32%; display: inline-block; text-align: justify'}
        %b{style: 'color: #333; font-family:Arial'} FR:
        %span{}="#{@history.fr} x Min"

    - if !@history.sato2.blank?
      %p{style: 'margin:2px 0 4px; color: #272525; font-family:Arial; font-size: 10px;  width: 32%; display: inline-block; text-align: justify'}
        %b{style: 'color: #333; font-family:Arial'} SATO2:
        %span{style: "text-transform: uppercase"}="#{@history.sato2} %"

    - if !@history.peso.blank?
      %p{style: 'margin:2px 0 4px; color: #272525; font-family:Arial; font-size: 10px;  width: 32%; display: inline-block; text-align: justify'}
        %b{style: 'color: #333; font-family:Arial'} PESO:
        %span{style: "text-transform: uppercase"}="#{@history.peso} kg"

    - if !@history.talla.blank?
      %p{style: 'margin:2px 0 4px; color: #272525; font-family:Arial; font-size: 10px;  width: 32%; display: inline-block; text-align: justify'}
        %b{style: 'color: #333; font-family:Arial'} TALLA:
        %span{style: "text-transform: uppercase"}="#{@history.talla} #{@history.unidad_talla == 1 ? 'm' : 'cm'}"
    
    - if !@history.glucometria.blank?
      %p{style: 'margin:2px 0 4px; color: #272525; font-family:Arial; font-size: 10px;  width: 32%; display: inline-block; text-align: justify'}
        %b{style: 'color: #333; font-family:Arial'} GLUCOMETRÍA:
        %span{style: "text-transform: uppercase"}="#{@history.glucometria} g/dl"
    
    - if !@history.imc.blank?
      %p{style: 'margin:2px 0 4px; color: #272525; font-family:Arial; font-size: 10px;  width: 32%; display: inline-block; text-align: justify'}
        %b{style: 'color: #333; font-family:Arial'} IMC:
        %span{style: "text-transform: uppercase"}=@history.imc
    - if !@history.temperatura.blank?
      %p{style: 'margin:2px 0 4px; color: #272525; font-family:Arial; font-size: 10px;  width: 32%; display: inline-block; text-align: justify'}
        %b{style: 'color: #333; font-family:Arial'} TEMPERATURA:
        %span{style: "text-transform: uppercase"}="#{@history.temperatura} °C"

    %h4{style: 'margin: 5px 0; text-decoration:underline; color: #333; font-family:Arial; font-size: 10px;'}
      EXÁMEN FÍSICO:

    - if !@history.inspeccion_general.blank?
      %p{style: 'margin:2px 0 4px; color: #272525; font-family:Arial; font-size: 10px;  width: 100%; display: inline-block; text-align: justify'}
        %b{style: 'color: #333; font-family:Arial'} INSPECCIÓN GENERAL:
        %span{style: "text-transform: uppercase"}=@history.inspeccion_general
    - if !@history.cabeza.blank?
      %p{style: 'margin:2px 0 4px; color: #272525; font-family:Arial; font-size: 10px;  width: 49%; display: inline-block; vertical-align:top'}
        %b{style: 'color: #333; font-family:Arial'} CABEZA:
        %span{style: "text-transform: uppercase"}=@history.cabeza
    - if !@history.cuello.blank?
      %p{style: 'margin:2px 0 4px; color: #272525; font-family:Arial; font-size: 10px;  width: 49%; display: inline-block; vertical-align:top'}
        %b{style: 'color: #333; font-family:Arial'} CUELLO:
        %span{style: "text-transform: uppercase"}=@history.cuello
    - if !@history.torax.blank?
      %p{style: 'margin:2px 0 4px; color: #272525; font-family:Arial; font-size: 10px;  width: 49%; display: inline-block; vertical-align:top'}
        %b{style: 'color: #333; font-family:Arial'} TORAX:
        %span{style: "text-transform: uppercase"}=@history.torax
    - if !@history.abdomen.blank?
      %p{style: 'margin:2px 0 4px; color: #272525; font-family:Arial; font-size: 10px;  width: 49%; display: inline-block; vertical-align:top'}
        %b{style: 'color: #333; font-family:Arial'} ABDOMEN:
        %span{style: "text-transform: uppercase"}=@history.abdomen
    - if !@history.genitales.blank?
      %p{style: 'margin:2px 0 4px; color: #272525; font-family:Arial; font-size: 10px;  width: 49%; display: inline-block; vertical-align:top'}
        %b{style: 'color: #333; font-family:Arial'} GENITALES:
        %span{style: "text-transform: uppercase"}=@history.genitales
    - if !@history.extremidades.blank?
      %p{style: 'margin:2px 0 4px; color: #272525; font-family:Arial; font-size: 10px;  width: 49%; display: inline-block; vertical-align:top'}
        %b{style: 'color: #333; font-family:Arial'} EXTREMIDADES:
        %span{style: "text-transform: uppercase"}=@history.extremidades
    - if !@history.neurologico.blank?
      %p{style: 'margin:2px 0 4px; color: #272525; font-family:Arial; font-size: 10px;  width: 49%; display: inline-block; vertical-align:top'}
        %b{style: 'color: #333; font-family:Arial'} NEUROLÓGICO:
        %span{style: "text-transform: uppercase"}=@history.neurologico
    - if !@history.piel_faneras.blank?
      %p{style: 'margin:2px 0 4px; color: #272525; font-family:Arial; font-size: 10px;  width: 49%; display: inline-block; vertical-align:top'}
        %b{style: 'color: #333; font-family:Arial'} PIEL Y FANERAS:
        %span{style: "text-transform: uppercase"}=@history.piel_faneras
    - if !@history.mental.blank?
      %p{style: 'margin:2px 0 4px; color: #272525; font-family:Arial; font-size: 10px;  width: 49%; display: inline-block; vertical-align:top'}
        %b{style: 'color: #333; font-family:Arial'} MENTAL:
        %span{style: "text-transform: uppercase"}=@history.mental

    - if @history.impresion_diagnosticas.count > 0
      %hr
      %h4{style: 'margin: 5px 0; text-decoration:underline; color: #333; font-family:Arial; font-size: 10px;'}
        IMPRESIÓN DIAGNÓSTICA:
      -@history.impresion_diagnosticas.each_with_index do |id, index|
        %p{style: 'margin:2px 0 4px; color: #272525; font-family:Arial; font-size: 10px;  width: 100%; display: inline-block; text-align: justify'}
          %b{style: 'color: #333; font-family:Arial'}
            ="#{index + 1}. DESCRIPCIÓN:"
          %span{style: "text-transform: uppercase"}=id.descripcion
      %hr
    - if !@history.analisis.blank?
      %p{style: 'margin:2px 0 4px; color: #272525; font-family:Arial; font-size: 10px;  width: 100%; display: inline-block; text-align: justify'}
        %b{style: 'color: #333; font-family:Arial'} ANÁLISIS:
        %span{style: "text-transform: uppercase"}=@history.analisis
    - if !@history.plan.blank?
      %p{style: 'margin:2px 0 4px; color: #272525; font-family:Arial; font-size: 10px;  width: 100%; display: inline-block; text-align: justify'}
        %b{style: 'color: #333; font-family:Arial'} PLAN:
        %span{style: "text-transform: uppercase"}=@history.plan
    - if !@history.intervencion_terapeutica.blank?
      %p{style: 'margin:2px 0 4px; color: #272525; font-family:Arial; font-size: 10px;  width: 100%; display: inline-block; text-align: justify'}
        %b{style: 'color: #333; font-family:Arial'} INTERVENCIÓN TERAPÉUTICA:
        %span{style: "text-transform: uppercase"}=@history.intervencion_terapeutica
    - if !@history.formulacion.blank?
      %p{style: 'margin:2px 0 4px; color: #272525; font-family:Arial; font-size: 10px;  width: 100%; display: inline-block; text-align: justify'}
        %b{style: 'color: #333; font-family:Arial'} FORMULACIÓN
        %span{style: "text-transform: uppercase"}=@history.formulacion
    - if !@history.control.blank?
      %p{style: 'margin:2px 0 4px; color: #272525; font-family:Arial; font-size: 10px;  width: 100%; display: inline-block; text-align: justify'}
        %b{style: 'color: #333; font-family:Arial'} CONTROL
        %span{style: "text-transform: uppercase"}=@history.control


