%div
  =wicked_pdf_image_tag current_usuario.logo_empresa.url, style: 'width: 135px; object-fit: contain, display: inline-block; vertical-align: middle; margin-right: 60px' unless current_usuario.logo_empresa.url.nil?
  %h2{style: 'display: inline-block; font-size: 15px; color: #333; font-family:Arial; text-transform:uppercase; width: 50%; text-align: center '}
    -#current_usuario.nombre
    MEDICINA
%br
%div.personal-info
  %h4{style: 'text-align:center; margin-bottom:5px; font-size: 10px; border-bottom: 1px solid #333; color: #333; font-family:Arial; padding:4px; margin-top: 0'} INFORMACIÓN PERSONAL

  %p{style: 'margin:0 0 2px; color: #272525; font-family:Arial; font-size: 10px; width: 42%; display: inline-block;'}
    %b{style: 'color: #333; font-family:Arial;'} NOMBRE:
    %span{style: "text-transform: uppercase"}=@patient.nombre

  
  %p{style: 'margin:0 0 2px; color: #272525; font-family:Arial; font-size: 10px; width: 29%; display: inline-block;'}
    %b{style: 'color: #333; font-family:Arial'} DOCUMENTO:
    %span{style: "text-transform: uppercase"}=@patient.documento
  
  

%div.clinic-history
  -unless @history.nil?
    %h4{style: 'text-align:center; margin-bottom:5px; font-size: 10px; border-bottom: 1px solid #333; color: #333; font-family:Arial; padding:4px'} FORMULACIÓN
    - if !@history.formulacion.blank?
      %p{style: 'margin:2px 0 4px; color: #272525; font-family:Arial; font-size: 10px;  width: 100%; display: inline-block; text-align: justify'}
        %span{style: "text-transform: uppercase"}=@history.formulacion




