= nested_form_for @motores, url: {action: @motores.id.nil? ? 'create' : 'update'}, html: {class: ""} do |f|
  .box-body
    =f.hidden_field :historia_clinica_id, value: @history.id
    .row.text-center
      .col-md-4.col-sm-4.col-xs-12
        .form-group
          =f.label :centro_cefalico, 'Control cefálico'
          =f.text_field :centro_cefalico, class: 'form-control'
      .col-md-4.col-sm-4.col-xs-12
        .form-group
          =f.label :sedente
          =f.text_field :sedente, class: 'form-control'
      .col-md-4.col-sm-4.col-xs-12
        .form-group
          =f.label :rolado, 'rolado'
          =f.text_field :rolado, class: 'form-control'
      .col-md-4.col-sm-4.col-xs-12
        .form-group
          =f.label :gateo
          =f.text_field :gateo, class: 'form-control'
      .col-md-4.col-sm-4.col-xs-12
        .form-group
          =f.label :bipedo, 'Bípedo'
          =f.text_field :bipedo, class: 'form-control'
      .col-md-4.col-sm-4.col-xs-12
        .form-group
          =f.label :marcha
          =f.text_field :marcha, class: 'form-control'
      .col-md-4.col-sm-4.col-xs-12
        .form-group
          =f.label :adicion
          -options = [[nil, nil],['Prono sobre antebrazos', 'Prono sobre antebrazos'], ['Sedente largo', 'Sedente largo'], ['Sedente corto', 'Sedente corto'], ['Rodillas', 'Rodillas'], ['Semirodillas', 'Semirodillas'] ]
          = f.select :adicion, options, {}, {class:'form-control'}
      .col-md-8.col-sm-8.col-xs-12
        .form-group
          =f.label :observacion, 'Observación'
          =f.text_area :observacion, class: 'form-control'
      .col-md-12.col-sm-12.col-xs-12
        .form-group
          %p
            %STRONG ANTECEDENTES PSICOSOCIALES
      .col-md-6.col-sm-6.col-xs-12
        .form-group
          =f.label :nucleo_familiar, 'Núcleo familiar'
          =f.text_area :nucleo_familiar, class: 'form-control'
      .col-md-6.col-sm-6.col-xs-12
        .form-group
          =f.label :escolaridad
          =f.text_area :escolaridad, class: 'form-control'
      .col-md-6.col-sm-6.col-xs-12
        .form-group
          =f.label :habitos, 'Hábitos y estilo de vida'
          =f.text_area :habitos, class: 'form-control'


    .text-center
      %br
      =f.submit class: 'btn btn-primary'

-if current_usuario.can_edit == false && !@motores.new_record?
  %script
    disableInputs();