%nav.navbar.navbar-default.top_menu
  .container1
    .pull-left
      %h3 
        =link_to 'SportMedic', root_path
    .navbar-header
      %button.navbar-toggle.collapsed{type: 'button', 'data-toggle'=>'collapse', 'data-target'=>'#bs-example-navbar-collapse-1', 'aria-expanded'=>'false'}
        %span.sr-only
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar

    .collapse.navbar-collapse#bs-example-navbar-collapse-1
      %ul.nav.navbar-nav
        %li
          =link_to 'Inicio', root_path
        -if @patient.id.nil?
          %li.active
            %a{ href: "#{clinic_history_patients_path }" } Historia Clínica
        -else
          %li.active
            %a{ href: "#{clinic_history_patients_path(id: @patient.id) }" } Historia Clínica
          %li
            =link_to 'Evolución', patient_evolutions_path(patient_id: @patient.id)

      %ul.pull-right.nav.navbar-nav
        %li
          =link_to 'Cerrar Sesión', destroy_usuario_session_path, method: :delete
