-# ***********
-# OJO, por defecto coloqué 25 de morgin para el footer, el contenido de este archivo no debe superar esa medida
-# para cambiarlo se debe ir a app/controllers/patients_controlle.rb -> print
-# **********

%hr{style: 'border-top: 1px solid #333; margin-bottom:1px'}
.footer{style: 'height: 45px; padding: 1px 10px; margin-top: 0; width:100%'}
  %div{style: 'display: inline-block; width: 20%; margin-top: 0; height: 45px;'}
    =wicked_pdf_image_tag 'bgGrayFooter.png', height: '45', width: '100%'
  -if current_usuario.firma_digital.url.nil?

    %div{style: 'display: inline-block; width: 58%; text-align: center'}
      %p{style: 'margin: 2px; color: #272525; font-family:Arial; font-size: 10px;'}
        T. Profesional:
        =current_usuario.tarjeta_profesional
      %p{style: 'margin: 2px; color: #272525; font-family:Arial; font-size: 10px;'}
        Tel: 
        ="#{current_usuario.telefono}"
      %p{style: 'margin: 2px; color: #272525; font-family:Arial; font-size: 10px;'}
        E-mail: 
        =current_usuario.email
      %p{style: 'margin: 3px; color: #272525; font-family:Arial; font-size: 10px;'}
        =current_usuario.direccion
  
  -else
    %div{style: 'display: inline-block; width: 58%; text-align: center'}
      %div{style: 'display: inline-block; width: 48%; text-align: center'}
        %p{style: 'margin: 2px; color: #272525; font-family:Arial; font-size: 10px;'}
          T. Profesional:
          =current_usuario.tarjeta_profesional
        %p{style: 'margin: 2px; color: #272525; font-family:Arial; font-size: 10px;'}
          Tel: 
          ="#{current_usuario.telefono}"
        %p{style: 'margin: 2px; color: #272525; font-family:Arial; font-size: 10px;'}
          E-mail: 
          =current_usuario.email
        %p{style: 'margin: 3px; color: #272525; font-family:Arial; font-size: 10px;'}
          =current_usuario.direccion
      %div{style: 'display: inline-block; width: 48%; text-align: center'}
        =wicked_pdf_image_tag current_usuario.firma_digital.url, height: '33', style: 'margin: 2px;'
        %hr{style: 'margin: 2px 0'}
        %p{style: 'margin: 0 2px; color: #272525; font-family:Arial; font-size: 10px;'}
          Firma

  %div{style: 'display: inline-block; width: 20%; margin-top: 0; height: 45px;'}
    =wicked_pdf_image_tag 'bgGrayFooter2.png', height: '45', width: '100%'

