%script
  $( document ).ready(function() {
  //LLama al datepicker y lo traduce
  $( ".datepicker" ).datepicker({
  changeMonth: true,
  changeYear: true,
  format: 'yyyy-mm-dd'
  });
  date_picker_es();
  //Inicializa la librería Jquery Chosen, para los selects
  //$(".chosen-selects").chosen();
  });

= nested_form_for @history, url: {action: @history.id.nil? ? 'create' : 'update'}, html: {class: ""} do |f|
  .box-body.form-to-clinic-h
    =f.hidden_field :paciente_id, value: @patient.id
    .row.text-center
      .col-md-12.col-sm-12.col-xs-12
        .form-group
          =f.label :motivo_consulta
          =f.text_area :motivo_consulta, class: 'form-control'
      .col-md-4.col-sm-4.col-xs-12
        .form-group
          =f.label :embarazos
          =f.text_field :embarazos, class: 'form-control'
      .col-md-4.col-sm-4.col-xs-12
        .form-group
          =f.label :partos
          =f.text_field :partos, class: 'form-control'
      .col-md-4.col-sm-4.col-xs-12
        .form-group
          =f.label :cesarea, 'Cesárea'
          =f.text_field :cesarea, class: 'form-control'
      .col-md-4.col-sm-4.col-xs-12
        .form-group
          =f.label :hijos_vivos
          =f.text_field :hijos_vivos, class: 'form-control'
      .col-md-4.col-sm-4.col-xs-12
        .form-group
          =f.label :embarazo_actual
          =f.text_field :embarazo_actual, class: 'form-control'
      .col-md-4.col-sm-4.col-xs-12
        .form-group
          =f.label :fum
          =f.text_field :fum, class: 'form-control'
      .col-md-4.col-sm-4.col-xs-12
        .form-group
          =f.label :abortos
          =f.text_field :abortos, class: 'form-control'
      .col-md-4.col-sm-4.col-xs-12
        .form-group
          =f.label :medicamentos
          =f.text_area :medicamentos, class: 'form-control'
      .col-md-4.col-sm-4.col-xs-12
        .form-group
          =f.label :cirugias, 'Cirugías'
          =f.text_area :cirugias, class: 'form-control'
      .col-md-4.col-sm-4.col-xs-12
        .form-group
          =f.label :antecedentes_familiares
          =f.text_area :antecedentes_familiares, class: 'form-control'
      .col-md-4.col-sm-4.col-xs-12
        .form-group
          =f.label :antecedentes_personales
          =f.text_area :antecedentes_personales, class: 'form-control'
      .col-md-4.col-sm-4.col-xs-12
        .form-group
          =f.label :examenes_clinicos, 'Exámenes clínicos'
          =f.text_area :examenes_clinicos, class: 'form-control'
      .col-md-4.col-sm-4.col-xs-12
        .form-group
          =f.label :tiempo_gestacion, 'Tiempo de gestación'
          =f.text_field :tiempo_gestacion, class: 'form-control'
      .col-md-4.col-sm-4.col-xs-12
        .form-group
          =f.label :riesgo_embarazo, 'Riesgo durante el embarazo'
          .radio{style: 'height: 34px'}
            %label
              = f.radio_button :riesgo_embarazo, true
              Si
          .radio{style: 'height: 34px'}
            %label
              = f.radio_button :riesgo_embarazo, false
              No
      .col-md-4.col-sm-4.col-xs-12
        .form-group
          =f.label :riesgo_embarazo_razon, 'Por Qué?'
          =f.text_area :riesgo_embarazo_razon, class: 'form-control'
      .col-md-4.col-sm-4.col-xs-12
        .form-group
          =f.label :patologicos, 'Patológicos'
          =f.text_area :patologicos, class: 'form-control'
      .col-md-4.col-sm-4.col-xs-12
        .form-group
          =f.label :hospitalarios
          =f.text_area :hospitalarios, class: 'form-control'
      .col-md-4.col-sm-4.col-xs-12
        .form-group
          =f.label :alergicos, 'Alérgicos'
          =f.text_area :alergicos, class: 'form-control'

    .row.text-center
      %hr
      %h3 Antecedentes prenatales
      = f.fields_for :prenatale do |prenatale_form|
        .col-md-12.col-sm-12.col-xs-12
          .form-group.pull-left
            =prenatale_form.label :print, 'Agregar a impresión?'
            =prenatale_form.check_box :print
        .col-md-4.col-sm-4.col-xs-12
          .form-group
            = prenatale_form.label :embarazo_riesgo, 'Embarazo alto riesgo'
            .radio
              %label
                = prenatale_form.radio_button :embarazo_riesgo, true
                Si
            .radio
              %label
                = prenatale_form.radio_button :embarazo_riesgo, false
                No
        .col-md-4.col-sm-4.col-xs-12
          .form-group
            = prenatale_form.label :planeado
            .radio
              %label
                = prenatale_form.radio_button :planeado, true
                Si
            .radio
              %label
                = prenatale_form.radio_button :planeado, false
                No
        .col-md-4.col-sm-4.col-xs-12
          .form-group
            = prenatale_form.label :controles
            .radio
              %label
                = prenatale_form.radio_button :controles, true
                Si
            .radio
              %label
                = prenatale_form.radio_button :controles, false
                No
        .col-md-4.col-sm-4.col-xs-12
          .form-group
            = prenatale_form.label :amenaza_aborto, 'Amenaza de aborto'
            .radio
              %label
                = prenatale_form.radio_button :amenaza_aborto, true
                Si
            .radio
              %label
                = prenatale_form.radio_button :amenaza_aborto, false
                No

    .row.text-center
      %hr
      %h3 Antecedentes perinatales:
      = f.fields_for :perinatale do |perinatale_form|
        .col-md-12.col-sm-12.col-xs-12
          .form-group.pull-left
            =perinatale_form.label :print, 'Agregar a impresión?'
            =perinatale_form.check_box :print
        .col-md-4.col-sm-4.col-xs-12
          .form-group
            = perinatale_form.label :nacimiento, 'Número de semanas al nacimiento'
            = perinatale_form.text_field :nacimiento, class: 'form-control', type: 'number'
        .col-md-4.col-sm-4.col-xs-12
          .form-group
            = perinatale_form.label :cesarias
            .radio
              %label
                = perinatale_form.radio_button :cesarias, true
                Si
            .radio
              %label
                = perinatale_form.radio_button :cesarias, false
                No
        .col-md-4.col-sm-4.col-xs-12
          .form-group
            = perinatale_form.label :vaginal
            .radio
              %label
                = perinatale_form.radio_button :vaginal, true
                Si
            .radio
              %label
                = perinatale_form.radio_button :vaginal, false
                No

    .row.text-center
      %hr
      %h3 Antecedentes postnatales:
      = f.fields_for :postnatale do |postnatale_form|
        .col-md-12.col-sm-12.col-xs-12
          .form-group.pull-left
            =postnatale_form.label :print, 'Agregar a impresión?'
            =postnatale_form.check_box :print
        .col-md-4.col-sm-4.col-xs-12
          .form-group
            = postnatale_form.label :complicaciones
            .radio
              %label
                = postnatale_form.radio_button :complicaciones, true
                Si
            .radio
              %label
                = postnatale_form.radio_button :complicaciones, false
                No
        .col-md-4.col-sm-4.col-xs-12
          .form-group
            = postnatale_form.label :lactancia_exclusiva
            .radio
              %label
                = postnatale_form.radio_button :lactancia_exclusiva, true
                Si
            .radio
              %label
                = postnatale_form.radio_button :lactancia_exclusiva, false
                No




    .text-center
      %br
      =f.submit class: 'btn btn-primary'
      %br
      %br


-if current_usuario.can_edit == false && !@history.new_record?
  %script
    disableInputs();