= form_for @musculo, url: {action: @musculo.id.nil? ? 'create' : 'update'}, html: {class: ""} do |f|
  =hidden_field_tag :patient_id,  @patient.id
  =f.hidden_field :historia_clinica_id, value: @history.id

  .panel-group#accordion.style-accordion.form-to-clinic-h{role:'tablist', 'aria-multiselectable'=>'true'}
    .panel.panel-default
      .panel-heading{role:'tab', id:'headingOne'}
        %h4.panel-title
          %a{role:'button', 'data-toggle'=>'collapse', 'data-parent'=>'#accordion', href:'#collapseOne', 'aria-expanded'=>'true', 'aria-controls'=>'collapseOne'}
            ANTROPOMETRIA
            %span +
      #collapseOne.panel-collapse.collapse.in{role:'tabpanel', 'aria-labelledby'=>'headingOne'}
        .panel-body
          .row.text-center
            .col-md-3.col-sm-3.col-xs-6
              .form-group
                =f.label :talla
                =f.text_field :talla, onfocusout: 'sm_imc_pris()', class: 'form-control'
            .col-md-3.col-sm-3.col-xs-6
              .form-group
                =f.label :unidad_talla
                =f.select :unidad_talla, [['Metros', 1],['Centímetros', 2]], {}, {class:'form-control', onchange: 'sm_imc_pris()'}
            .col-md-6.col-sm-6.col-xs-12
              .form-group
                =f.label :peso
                =f.text_field :peso, onfocusout: 'sm_imc_pris()', class: 'form-control'
            .col-md-6.col-sm-6.col-xs-12
              .form-group
                =f.label :imc
                =f.text_field :imc, placeholder: 'peso/(talla^2)', class: 'form-control'
            .col-md-6.col-sm-6.col-xs-12
              .form-group
                =f.label :grasa_total
                =f.text_field :grasa_total, class: 'form-control'
          %br
    -# Este bloque esta comentado
      .panel.panel-default
        .panel-heading{role:'tab', id:'headingTwo'}
          %h4.panel-title
            %a.collapsed{role:'button', 'data-toggle'=>'collapse', 'data-parent'=>'#accordion', href:'#collapseTwo', 'aria-expanded'=>'false', 'aria-controls'=>'collapseTwo'}
              PERÍMETRO
              %span +
        #collapseTwo.panel-collapse.collapse{role:'tabpanel', 'aria-labelledby'=>'headingTwo'}
          .panel-body
            =f.fields_for :perimetro do |perimetro_form|
              .row.text-center
                .col-md-4.col-sm-4.col-xs-12
                  .form-group
                    =perimetro_form.label :biceps
                    =perimetro_form.text_field :biceps, class: 'form-control'
                .col-md-4.col-sm-4.col-xs-12
                  .form-group
                    =perimetro_form.label :abdomen
                    =perimetro_form.text_field :abdomen, class: 'form-control'
                .col-md-4.col-sm-4.col-xs-12
                  .form-group
                    =perimetro_form.label :muslo
                    =perimetro_form.text_field :muslo, class: 'form-control'
                .col-md-4.col-sm-4.col-xs-12
                  .form-group
                    =perimetro_form.label :pecho
                    =perimetro_form.text_field :pecho, class: 'form-control'
                .col-md-4.col-sm-4.col-xs-12
                  .form-group
                    =perimetro_form.label :cadera
                    =perimetro_form.text_field :cadera, class: 'form-control'
                .col-md-4.col-sm-4.col-xs-12
                  .form-group
                    =perimetro_form.label :pierna
                    =perimetro_form.text_field :pierna, class: 'form-control'
              %br

    .panel.panel-default
      .panel-heading{role:'tab', id:'headingOne'}
        %h4.panel-title
          %a{role:'button', 'data-toggle'=>'collapse', 'data-parent'=>'#accordion', href:'#collapsePost', 'aria-expanded'=>'true', 'aria-controls'=>'collapsePost'}
            POSTURA
            %span +
      #collapsePost.panel-collapse.collapse{role:'tabpanel', 'aria-labelledby'=>'headingOne'}
        .panel-body
          =f.fields_for :postura do |postura_form|
            .row.text-center
              .col-md-6.col-sm-6.col-xs-12
                .form-group
                  =postura_form.label :cabeza_cuello, 'Cabeza y cuello'
                  =postura_form.text_field :cabeza_cuello, class: 'form-control'
              .col-md-6.col-sm-6.col-xs-12
                .form-group
                  =postura_form.label :hombros
                  =postura_form.text_field :hombros, class: 'form-control'
              .col-md-6.col-sm-6.col-xs-12
                .form-group
                  =postura_form.label :tronco
                  =postura_form.text_field :tronco, class: 'form-control'
              .col-md-6.col-sm-6.col-xs-12
                .form-group
                  =postura_form.label :miembros_superiores
                  =postura_form.text_field :miembros_superiores, class: 'form-control'
              .col-md-6.col-sm-6.col-xs-12
                .form-group
                  =postura_form.label :miembros_inferiores
                  =postura_form.text_field :miembros_inferiores, class: 'form-control'
              .col-md-6.col-sm-6.col-xs-12
                .form-group
                  =postura_form.label :columna
                  =postura_form.text_field :columna, class: 'form-control'
              .col-md-6.col-sm-6.col-xs-12
                .form-group
                  =postura_form.label :pelvis
                  =postura_form.text_field :pelvis, class: 'form-control'
              .col-md-6.col-sm-6.col-xs-12
                .form-group
                  =postura_form.label :observacion, 'Observación'
                  =postura_form.text_field :observacion, class: 'form-control'
          %br
    .panel.panel-default
      .panel-heading{role:'tab', id:'heading3'}
        %h4.panel-title
          %a.collapsed{role:'button', 'data-toggle'=>'collapse', 'data-parent'=>'#accordion', href:'#collapse3', 'aria-expanded'=>'false', 'aria-controls'=>'collapse3'}
            SIMETRÍA
            %span +
      #collapse3.panel-collapse.collapse{role:'tabpanel', 'aria-labelledby'=>'heading3'}
        .panel-body
          .row.text-center
            .col-md-6.col-sm-6.col-xs-12
              .text-center
                %h4 MIEMBROS SUPERIORES
                %br
            .col-md-6.col-sm-6.col-xs-12
              .text-center
                %h4 MIEMBROS INFERIORES
                %br
            .col-md-6.col-sm-6.col-xs-12    
              .form-group
                =f.label :m_superior_r_derecho, 'Miembro superior real derecho'
                =f.text_field :m_superior_r_derecho, class: 'form-control'
            .col-md-6.col-sm-6.col-xs-12
              .form-group
                =f.label :m_inferior_r_derecho, 'Miembro inferior real derecho'
                =f.text_field :m_inferior_r_derecho, class: 'form-control'
            .col-md-6.col-sm-6.col-xs-12    
              .form-group
                =f.label :m_superior_r_izquierdo, 'Miembro superior real izquierdo'
                =f.text_field :m_superior_r_izquierdo, class: 'form-control'
            .col-md-6.col-sm-6.col-xs-12    
              .form-group
                =f.label :m_inferior_r_izquierdo, 'Miembro inferior real izquierdo'
                =f.text_field :m_inferior_r_izquierdo, class: 'form-control'
            .col-md-6.col-sm-6.col-xs-12    
              .form-group
                =f.label :m_superior_a_derecho, 'Miembro superior aparente derecho'
                =f.text_field :m_superior_a_derecho, class: 'form-control'
            .col-md-6.col-sm-6.col-xs-12    
              .form-group
                =f.label :m_inferior_a_derecho, 'Miembro inferior aparante derecho'
                =f.text_field :m_inferior_a_derecho, class: 'form-control'
            .col-md-6.col-sm-6.col-xs-12    
              .form-group
                =f.label :m_superior_a_izquierdo, 'Miembro superior aparente izquierdo'
                =f.text_field :m_superior_a_izquierdo, class: 'form-control'
            .col-md-6.col-sm-6.col-xs-12     
              .form-group
                =f.label :m_inferior_a_izquierdo, 'Miembro inferior aparente izquierdo'
                =f.text_field :m_inferior_a_izquierdo, class: 'form-control'
            .col-md-6.col-sm-6.col-xs-12    
              .form-group
                =f.label :m_superiores_diferencia, 'Miembros superiores diferencia'
                =f.text_field :m_superiores_diferencia, class: 'form-control'
            .col-md-6.col-sm-6.col-xs-12    
              .form-group
                =f.label :m_inferiores_diferencia, 'Miembros inferiores diferencia'
                =f.text_field :m_inferiores_diferencia, class: 'form-control'     

    -# Este bloque esta comentado
      .panel.panel-default
        .panel-heading{role:'tab', id:'heading4'}
          %h4.panel-title
            %a.collapsed{role:'button', 'data-toggle'=>'collapse', 'data-parent'=>'#accordion', href:'#collapse4', 'aria-expanded'=>'false', 'aria-controls'=>'collapse4'}
              ADIPOMETRÍA
              %span +
        #collapse4.panel-collapse.collapse{role:'tabpanel', 'aria-labelledby'=>'heading4'}
          .panel-body
            =f.fields_for :adipometrium do |adipo_form|
              .row.text-center
                .col-md-4.col-sm-4.col-xs-12
                  .form-group
                    =adipo_form.label :triceps
                    =adipo_form.text_field :triceps, onfocusout: "sm_grasa_localizada('#{@patient.genero}')", class: 'form-control'
                .col-md-4.col-sm-4.col-xs-12
                  .form-group
                    =adipo_form.label :s_iliaco
                    =adipo_form.text_field :s_iliaco, onfocusout: "sm_grasa_localizada('#{@patient.genero}')", class: 'form-control'
                .col-md-4.col-sm-4.col-xs-12
                  .form-group
                    =adipo_form.label :muslo
                    =adipo_form.text_field :muslo, onfocusout: "sm_grasa_localizada('#{@patient.genero}')", class: 'form-control'
                .col-md-4.col-sm-4.col-xs-12
                  .form-group
                    =adipo_form.label :s_escap
                    =adipo_form.text_field :s_escap, onfocusout: "sm_grasa_localizada('#{@patient.genero}')", class: 'form-control'
                .col-md-4.col-sm-4.col-xs-12
                  .form-group
                    =adipo_form.label :abdomen
                    =adipo_form.text_field :abdomen, onfocusout: "sm_grasa_localizada('#{@patient.genero}')", class: 'form-control'
                .col-md-4.col-sm-4.col-xs-12
                  .form-group
                    =adipo_form.label :pierna
                    =adipo_form.text_field :pierna, onfocusout: "sm_grasa_localizada('#{@patient.genero}')", class: 'form-control'
                .col-md-4.col-sm-4.col-xs-12
                  .form-group
                    =f.label :grasa_localizada
                    =f.text_field :grasa_localizada, readonly: true, class: 'form-control'

    .panel.panel-default
      .panel-heading{role:'tab', id:'heading5'}
        %h4.panel-title
          %a.collapsed{role:'button', 'data-toggle'=>'collapse', 'data-parent'=>'#accordion', href:'#collapse5', 'aria-expanded'=>'false', 'aria-controls'=>'collapse5'}
            RANGOS DE MOVILIDAD ARTICULAR
            %span +
      #collapse5.panel-collapse.collapse{role:'tabpanel', 'aria-labelledby'=>'heading5'}
        .panel-body
          %h4.text-center CUELLO
          %br
          =f.fields_for :cuello do |cuello_form|
            .row.text-center
              .col-md-6.col-sm-6.col-xs-12
                %h4 Derecho
                %br
              .col-md-6.col-sm-6.col-xs-12
                %h4 Izquierdo
                %br
              .col-md-6.col-sm-6.col-xs-12
                .form-group
                  =cuello_form.label :flexion_derecho, 'Flexión - (0º a 35º - 45º)'
                  =cuello_form.text_field :flexion_derecho, class: 'form-control'
              .col-md-6.col-sm-6.col-xs-12
                .form-group
                  =cuello_form.label :flexion_izquierdo, 'Flexión - (0º a 35º - 45º)'
                  =cuello_form.text_field :flexion_izquierdo, class: 'form-control'
              .col-md-6.col-sm-6.col-xs-12
                .form-group
                  =cuello_form.label :ext_derecho, 'Extensión - (0º a 35º - 45º)'
                  =cuello_form.text_field :ext_derecho, class: 'form-control'
              .col-md-6.col-sm-6.col-xs-12
                .form-group
                  =cuello_form.label :ext_izquierdo, 'Extensión - (0º a 35º - 45º)'
                  =cuello_form.text_field :ext_izquierdo, class: 'form-control'
              .col-md-6.col-sm-6.col-xs-12
                .form-group
                  =cuello_form.label :incl_lateral_der, 'Inclinación lateral - (0º - 45º)'
                  =cuello_form.text_field :incl_lateral_der, class: 'form-control'
              .col-md-6.col-sm-6.col-xs-12
                .form-group
                  =cuello_form.label :incl_lateral_izq, 'Inclinación lateral - (0º - 45º)'
                  =cuello_form.text_field :incl_lateral_izq, class: 'form-control'
              .col-md-6.col-sm-6.col-xs-12
                .form-group
                  =cuello_form.label :rotacion_lat_der, 'Rotación lateral - (0º a 60º - 80º)'
                  =cuello_form.text_field :rotacion_lat_der, class: 'form-control'
              .col-md-6.col-sm-6.col-xs-12
                .form-group
                  =cuello_form.label :rotacion_lat_izq, 'Rotación lateral - (0º a 60º - 80º)'
                  =cuello_form.text_field :rotacion_lat_izq, class: 'form-control'

          %hr
          %h4.text-center HOMBRO
          %br
          =f.fields_for :hombro do |hombro_form|
            .row.text-center
              .col-md-6.col-sm-6.col-xs-12
                %h4 Derecho
                %br
              .col-md-6.col-sm-6.col-xs-12
                %h4 Izquierdo
                %br
              .col-md-6.col-sm-6.col-xs-12
                .form-group
                  =hombro_form.label :flexion_derecho, 'Flexión - (0º - 180º)'
                  =hombro_form.text_field :flexion_derecho, class: 'form-control'
              .col-md-6.col-sm-6.col-xs-12
                .form-group
                  =hombro_form.label :flexion_izquierdo, 'Flexión - (0º - 180º)'
                  =hombro_form.text_field :flexion_izquierdo, class: 'form-control'
              .col-md-6.col-sm-6.col-xs-12
                .form-group
                  =hombro_form.label :ext_derecho, 'Extensión - (0º a 40º - 60º)'
                  =hombro_form.text_field :ext_derecho, class: 'form-control'
              .col-md-6.col-sm-6.col-xs-12
                .form-group
                  =hombro_form.label :ext_izquierdo, 'Extensión - (0º a 40º - 60º)'
                  =hombro_form.text_field :ext_izquierdo, class: 'form-control'
              .col-md-6.col-sm-6.col-xs-12
                .form-group
                  =hombro_form.label :abduccion_der, 'Abducción - (0º a 160º - 180º)'
                  =hombro_form.text_field :abduccion_der, class: 'form-control'
              .col-md-6.col-sm-6.col-xs-12
                .form-group
                  =hombro_form.label :abduccion_izq, 'Abducción - (0º a 160º - 180º)'
                  =hombro_form.text_field :abduccion_izq, class: 'form-control'
              .col-md-6.col-sm-6.col-xs-12
                .form-group
                  =hombro_form.label :aduccion_der, 'Aducción - (0º - 30º)'
                  =hombro_form.text_field :aduccion_der, class: 'form-control'
              .col-md-6.col-sm-6.col-xs-12
                .form-group
                  =hombro_form.label :aduccion_izq, 'Aducción - (0º - 30º)'
                  =hombro_form.text_field :aduccion_izq, class: 'form-control'
              .col-md-6.col-sm-6.col-xs-12
                .form-group
                  =hombro_form.label :rotacion_interna_der, 'Rotación interna - (0º - 70º)'
                  =hombro_form.text_field :rotacion_interna_der, class: 'form-control'
              .col-md-6.col-sm-6.col-xs-12
                .form-group
                  =hombro_form.label :rotacion_interna_izq, 'Rotación interna - (0º - 70º)'
                  =hombro_form.text_field :rotacion_interna_izq, class: 'form-control'
              .col-md-6.col-sm-6.col-xs-12
                .form-group
                  =hombro_form.label :rotacion_externa_der, 'Rotación externa - (0º - 90º)'
                  =hombro_form.text_field :rotacion_externa_der, class: 'form-control'
              .col-md-6.col-sm-6.col-xs-12
                .form-group
                  =hombro_form.label :rotacion_externa_izq, 'Rotación externa - (0º - 90º)'
                  =hombro_form.text_field :rotacion_externa_izq, class: 'form-control'          
              

          %hr
          %h4.text-center MIEMBROS SUPERIORES
          %br
          =f.fields_for :musculos_superior do |ms_form|
            .row.text-center
              .col-md-6.col-sm-6.col-xs-12
                %h4 Derecho
                %br
              .col-md-6.col-sm-6.col-xs-12
                %h4 Izquierdo
                %br
              .col-md-6.col-sm-6.col-xs-12
                .form-group
                  =ms_form.label :flexion_codo_der, 'Flexión codo - (0º - 150º)'
                  =ms_form.text_field :flexion_codo_der, class: 'form-control'
              .col-md-6.col-sm-6.col-xs-12
                .form-group
                  =ms_form.label :flexion_codo_izq, 'Flexión codo - (0º - 150º)'
                  =ms_form.text_field :flexion_codo_izq, class: 'form-control'
              .col-md-6.col-sm-6.col-xs-12
                .form-group
                  =ms_form.label :extension_codo_der, 'Extensión codo - (0º - 10º)'
                  =ms_form.text_field :extension_codo_der, class: 'form-control'
              .col-md-6.col-sm-6.col-xs-12
                .form-group
                  =ms_form.label :extension_codo_izq, 'Extensión codo - (0º - 10º)'
                  =ms_form.text_field :extension_codo_izq, class: 'form-control'
              .col-md-6.col-sm-6.col-xs-12
                .form-group
                  =ms_form.label :supinacion_codo_der, 'Supinación codo - (0º - 80º)'
                  =ms_form.text_field :supinacion_codo_der, class: 'form-control'
              .col-md-6.col-sm-6.col-xs-12
                .form-group
                  =ms_form.label :supinacion_codo_izq, 'Supinación codo - (0º - 80º)'
                  =ms_form.text_field :supinacion_codo_izq, class: 'form-control'
              .col-md-6.col-sm-6.col-xs-12
                .form-group
                  =ms_form.label :pronacion_codo_der, 'Pronación codo - (0º - 90º)'
                  =ms_form.text_field :pronacion_codo_der, class: 'form-control'
              .col-md-6.col-sm-6.col-xs-12
                .form-group
                  =ms_form.label :pronacion_codo_izq, 'Pronación codo - (0º - 90º)'
                  =ms_form.text_field :pronacion_codo_izq, class: 'form-control'
              .col-md-6.col-sm-6.col-xs-12
                .form-group
                  =ms_form.label :extension_muneca_der, 'Extensión muñeca - (0º - 70º)'
                  =ms_form.text_field :extension_muneca_der, class: 'form-control'
              .col-md-6.col-sm-6.col-xs-12
                .form-group
                  =ms_form.label :extension_muneca_izq, 'Extensión muñeca - (0º - 70º)'
                  =ms_form.text_field :extension_muneca_izq, class: 'form-control'
              .col-md-6.col-sm-6.col-xs-12
                .form-group
                  =ms_form.label :desviacion_ulnar_muneca_der, 'Desviación ulnar muñeca - (0º - 30º)'
                  =ms_form.text_field :desviacion_ulnar_muneca_der, class: 'form-control'
              .col-md-6.col-sm-6.col-xs-12
                .form-group
                  =ms_form.label :desviacion_ulnar_muneca_izq, 'Desviación ulnar muñeca - (0º - 30º)'
                  =ms_form.text_field :desviacion_ulnar_muneca_izq, class: 'form-control'
              .col-md-6.col-sm-6.col-xs-12
                .form-group
                  =ms_form.label :desviacion_radial_muneca_der, 'Desviación radial muñeca - (0º - 20º)'
                  =ms_form.text_field :desviacion_radial_muneca_der, class: 'form-control'
              .col-md-6.col-sm-6.col-xs-12
                .form-group
                  =ms_form.label :desviacion_radial_muneca_izq, 'Desviación radial muñeca - (0º - 20º)'
                  =ms_form.text_field :desviacion_radial_muneca_izq, class: 'form-control'

          %hr
          %h4.text-center TRONCO
          %br
          =f.fields_for :tronco do |tronco_form|
            .row.text-center
              .col-md-6.col-sm-6.col-xs-12
                %h4 Derecho
                %br
              .col-md-6.col-sm-6.col-xs-12
                %h4 Izquierdo
                %br
              .col-md-6.col-sm-6.col-xs-12
                .form-group
                  =tronco_form.label :flexion_der, 'Flexión - (0º - 80º)'
                  =tronco_form.text_field :flexion_der, class: 'form-control'
              .col-md-6.col-sm-6.col-xs-12
                .form-group
                  =tronco_form.label :flexion_izq, 'Flexión - (0º - 80º)'
                  =tronco_form.text_field :flexion_izq, class: 'form-control'
              .col-md-6.col-sm-6.col-xs-12
                .form-group
                  =tronco_form.label :extension_der, 'Extensión - (0º - 30º)'
                  =tronco_form.text_field :extension_der, class: 'form-control'
              .col-md-6.col-sm-6.col-xs-12
                .form-group
                  =tronco_form.label :extension_izq, 'Extensión - (0º - 30º)'
                  =tronco_form.text_field :extension_izq, class: 'form-control'
              .col-md-6.col-sm-6.col-xs-12
                .form-group
                  =tronco_form.label :flexion_lateral_der, 'Flexión lateral - (0º a 30ª - 40º)'
                  =tronco_form.text_field :flexion_lateral_der, class: 'form-control'
              .col-md-6.col-sm-6.col-xs-12
                .form-group
                  =tronco_form.label :flexion_lateral_izq, 'Flexión lateral - (0º a 30ª - 40º)'
                  =tronco_form.text_field :flexion_lateral_izq, class: 'form-control'
              .col-md-6.col-sm-6.col-xs-12
                .form-group
                  =tronco_form.label :rotacion_der, 'Rotación - (0º a 30ª - 45º)'
                  =tronco_form.text_field :rotacion_der, class: 'form-control'     
              .col-md-6.col-sm-6.col-xs-12
                .form-group
                  =tronco_form.label :rotacion_izq, 'Rotación - (0º a 30ª - 45º)'
                  =tronco_form.text_field :rotacion_izq, class: 'form-control'

          %hr
          %h4.text-center CADERA
          %br
          =f.fields_for :cadera do |cadera_form|
            .row.text-center
              .col-md-6.col-sm-6.col-xs-12
                %h4 Derecho
                %br
              .col-md-6.col-sm-6.col-xs-12
                %h4 Izquierdo
                %br
              .col-md-6.col-sm-6.col-xs-12
                .form-group
                  =cadera_form.label :flexion_der, 'Flexión - (0º - 150ª)'
                  =cadera_form.text_field :flexion_der, class: 'form-control'
              .col-md-6.col-sm-6.col-xs-12
                .form-group
                  =cadera_form.label :flexion_izq, 'Flexión - (0º - 150ª)'
                  =cadera_form.text_field :flexion_izq, class: 'form-control'
              .col-md-6.col-sm-6.col-xs-12
                .form-group
                  =cadera_form.label :extension_der, 'Extensión - (0º - 10ª)'
                  =cadera_form.text_field :extension_der, class: 'form-control'
              .col-md-6.col-sm-6.col-xs-12
                .form-group
                  =cadera_form.label :extension_izq, 'Extensión - (0º - 10ª)'
                  =cadera_form.text_field :extension_izq, class: 'form-control'
              .col-md-6.col-sm-6.col-xs-12
                .form-group
                  =cadera_form.label :abduccion_der, 'Abducción - (0º - 50ª)'
                  =cadera_form.text_field :abduccion_der, class: 'form-control'
              .col-md-6.col-sm-6.col-xs-12
                .form-group
                  =cadera_form.label :abduccion_izq, 'Abducción - (0º - 50ª)'
                  =cadera_form.text_field :abduccion_izq, class: 'form-control'
              .col-md-6.col-sm-6.col-xs-12
                .form-group
                  =cadera_form.label :aduccion_der, 'Aducción - (0º - 30ª)'
                  =cadera_form.text_field :aduccion_der, class: 'form-control'
              .col-md-6.col-sm-6.col-xs-12
                .form-group
                  =cadera_form.label :aduccion_izq, 'Aducción - (0º - 30ª)'
                  =cadera_form.text_field :aduccion_izq, class: 'form-control'
              .col-md-6.col-sm-6.col-xs-12
                .form-group
                  =cadera_form.label :rotacion_medial_der, 'Rotación medial - (0º - 45ª)'
                  =cadera_form.text_field :rotacion_medial_der, class: 'form-control'
              .col-md-6.col-sm-6.col-xs-12
                .form-group
                  =cadera_form.label :rotacion_medial_izq, 'Rotación medial - (0º - 45ª)'
                  =cadera_form.text_field :rotacion_medial_izq, class: 'form-control'
              .col-md-6.col-sm-6.col-xs-12
                .form-group
                  =cadera_form.label :rotacion_lateral_der, 'Rotación lateral - (0º - 50ª)'
                  =cadera_form.text_field :rotacion_lateral_der, class: 'form-control' 
              .col-md-6.col-sm-6.col-xs-12
                .form-group
                  =cadera_form.label :rotacion_lateral_izq, 'Rotación lateral - (0º - 50ª)'
                  =cadera_form.text_field :rotacion_lateral_izq, class: 'form-control'
          %hr
          %h4.text-center MIEMBROS INFERIORES
          %br
          =f.fields_for :musculos_inferior do |mi_form|
            .row.text-center
              .col-md-6.col-sm-6.col-xs-12
                %h4 Derecho
                %br
              .col-md-6.col-sm-6.col-xs-12
                %h4 Izquierdo
                %br
              .col-md-6.col-sm-6.col-xs-12
                .form-group
                  =mi_form.label :flexion_rodilla_der, 'Flexión rodilla - (130º - 140ª)'
                  =mi_form.text_field :flexion_rodilla_der, class: 'form-control'
              .col-md-6.col-sm-6.col-xs-12
                .form-group
                  =mi_form.label :flexion_rodilla_izq, 'Flexión rodilla - (130º - 140ª)'
                  =mi_form.text_field :flexion_rodilla_izq, class: 'form-control'
              .col-md-6.col-sm-6.col-xs-12
                .form-group
                  =mi_form.label :extension_der, 'Extensión - (5º - 10ª)'
                  =mi_form.text_field :extension_der, class: 'form-control'
              .col-md-6.col-sm-6.col-xs-12    
                .form-group
                  =mi_form.label :extension_izq, 'Extensión - (5º - 10ª)'
                  =mi_form.text_field :extension_izq, class: 'form-control'
              .col-md-6.col-sm-6.col-xs-12
                .form-group
                  =mi_form.label :dorsflexion_tobillo_der, 'Dorsflexión tobillo - (0º - 30ª)'
                  =mi_form.text_field :dorsflexion_tobillo_der, class: 'form-control'
              .col-md-6.col-sm-6.col-xs-12
                .form-group
                  =mi_form.label :dorsflexion_tobillo_izq, 'Dorsflexión tobillo - (0º - 30ª)'
                  =mi_form.text_field :dorsflexion_tobillo_izq, class: 'form-control'
              .col-md-6.col-sm-6.col-xs-12
                .form-group
                  =mi_form.label :plantiflexion_der, 'Plantiflexión - (0º - 50ª)'
                  =mi_form.text_field :plantiflexion_der, class: 'form-control'
              .col-md-6.col-sm-6.col-xs-12
                .form-group
                  =mi_form.label :plantiflexion_izq, 'Plantiflexión - (0º - 50ª)'
                  =mi_form.text_field :plantiflexion_izq, class: 'form-control'
              .col-md-6.col-sm-6.col-xs-12
                .form-group
                  =mi_form.label :inversion_tobillo_der, 'Inversión tobillo - (0º - 60ª)'
                  =mi_form.text_field :inversion_tobillo_der, class: 'form-control'
              .col-md-6.col-sm-6.col-xs-12
                .form-group
                  =mi_form.label :inversion_tobillo_izq, 'Inversión tobillo - (0º - 60ª)'
                  =mi_form.text_field :inversion_tobillo_izq, class: 'form-control'
              .col-md-6.col-sm-6.col-xs-12
                .form-group
                  =mi_form.label :eversion_tobillo_der, 'Eversión tobillo - (0º - 30ª)'
                  =mi_form.text_field :eversion_tobillo_der, class: 'form-control'
              .col-md-6.col-sm-6.col-xs-12
                .form-group
                  =mi_form.label :eversion_tobillo_izq, 'Eversión tobillo - (0º - 30ª)'
                  =mi_form.text_field :eversion_tobillo_izq, class: 'form-control'
                %br

    .panel.panel-default
      .panel-heading{role:'tab', id:'heading6'}
        %h4.panel-title
          %a.collapsed{role:'button', 'data-toggle'=>'collapse', 'data-parent'=>'#accordion', href:'#collapse6', 'aria-expanded'=>'false', 'aria-controls'=>'collapse6'}
            DOLORES
            %span +
      #collapse6.panel-collapse.collapse{role:'tabpanel', 'aria-labelledby'=>'heading6'}
        .panel-body
          =f.fields_for :dolors do |dolor_form|
            .row.text-center
              .col-md-4.col-sm-4.col-xs-12
                .form-group
                  =dolor_form.label :localizacion, 'Localización'
                  =dolor_form.text_field :localizacion, class: 'dolor_count form-control'
              .col-md-4.col-sm-4.col-xs-12
                .form-group
                  =dolor_form.label :tipo
                  =dolor_form.text_field :tipo, class: 'form-control'
              .col-md-4.col-sm-4.col-xs-12
                .form-group
                  =dolor_form.label :reposo
                  =dolor_form.text_field :reposo, class: 'form-control'
              .col-md-4.col-sm-4.col-xs-12
                .form-group
                  =dolor_form.label :movimiento
                  =dolor_form.text_field :movimiento, class: 'form-control'
              .col-md-4.col-sm-4.col-xs-12
                .form-group
                  =dolor_form.label :palpacion, 'Palpación'
                  =dolor_form.text_field :palpacion, class: 'form-control'
              .col-md-4.col-sm-4.col-xs-12
                .form-group
                  =dolor_form.label :resistencia
                  =dolor_form.text_field :resistencia, class: 'form-control'
              .col-md-4.col-sm-4.col-xs-12
                .form-group
                  =dolor_form.label :exaservacion, 'Exacerbación'
                  =dolor_form.text_field :exaservacion, class: 'form-control'
            .text-right
              =dolor_form.label :_destroy, 'Eliminar', class: 'link_remove'
              =dolor_form.check_box :_destroy
            %hr
          .input_fields_wrap
          %button.add_field_button.btn.btn-primary{ type: 'button', onclick: "add_more_dolor()" } Agregar Dolores
          %br

    .panel.panel-default
      .panel-heading{role:'tab', id:'heading7'}
        %h4.panel-title
          %a.collapsed{role:'button', 'data-toggle'=>'collapse', 'data-parent'=>'#accordion', href:'#collapse7', 'aria-expanded'=>'false', 'aria-controls'=>'collapse7'}
            EDEMAS
            %span +
      #collapse7.panel-collapse.collapse{role:'tabpanel', 'aria-labelledby'=>'heading7'}
        .panel-body
          =f.fields_for :edemas do |edema_form|
            .row.text-center.form_inline_patient
              .col-md-4.col-sm-4.col-xs-12
                .form-group
                  =edema_form.label :localizacion, 'Localización'
                  =edema_form.text_field :localizacion, class: 'edema_count form-control'
              .col-md-4.col-sm-4.col-xs-12
                .form-group
                  =edema_form.label :derecho
                  =edema_form.text_field :derecho, class: 'form-control'
              .col-md-4.col-sm-4.col-xs-12
                .form-group
                  =edema_form.label :izquierdo
                  =edema_form.text_field :izquierdo, class: 'form-control'
              .col-md-4.col-sm-4.col-xs-12
                .form-group
                  =edema_form.label :total
                  =edema_form.text_field :total, class: 'form-control'
              .col-md-4.col-sm-4.col-xs-12
                .form-group
                  =edema_form.label :grado
                  =edema_form.text_field :grado, class: 'form-control'

            .text-right
              =edema_form.label :_destroy, 'Eliminar', class: 'link_remove'
              =edema_form.check_box :_destroy
            %hr
          .input_fields_wrap_edema
          %button.add_field_button.btn.btn-primary{ type: 'button', onclick: "add_more_edema()" } Agregar Edemas
          %br

    .panel.panel-default
      .panel-heading{role:'tab', id:'heading8'}
        %h4.panel-title
          %a.collapsed{role:'button', 'data-toggle'=>'collapse', 'data-parent'=>'#accordion', href:'#collapse8', 'aria-expanded'=>'false', 'aria-controls'=>'collapse8'}
            FUERZA ESCALA DE DANIELS
            %span +
      #collapse8.panel-collapse.collapse{role:'tabpanel', 'aria-labelledby'=>'heading8'}
        .panel-body
          =f.fields_for :daniels do |daniel|
            .text-center.form_inline_patient
              %table.table-daniels{:style => "width:100%; border: 0"}
                %tr
                  %th{:style => "padding-bottom:12px"} FUERZA
                  %th{:style => "padding-bottom:12px"} GRADO
                  %th{:style => "padding-bottom:12px"} MÚSCULO
                %tr
                  %td Ninguna respuesta muscular
                  %td 0
                  %td=daniel.text_field :musculo_cero, class: 'edema_count form-control'
                %tr
                  %td Contracción visible/palpable sin movimiento
                  %td 1
                  %td=daniel.text_field :musculo_uno, class: 'edema_count form-control'
                %tr
                  %td Rango total sin gravedad/sin resistencia
                  %td 2
                  %td=daniel.text_field :musculo_dos, class: 'edema_count form-control'
                %tr
                  %td Rango total contra gravedad/sin resistencia
                  %td 3
                  %td=daniel.text_field :musculo_tres, class: 'edema_count form-control'
                %tr
                  %td Rango total contra gravedad/resistencia moderada
                  %td 4
                  %td=daniel.text_field :musculo_cuatro, class: 'edema_count form-control'
                %tr
                  %td Rango total resitencia manual max/contra gravedad
                  %td 5
                  %td=daniel.text_field :musculo_cinco, class: 'edema_count form-control'
            .text-right
              =#edema_form.label :_destroy, 'Eliminar', class: 'link_remove'
              =#edema_form.check_box :_destroy
          %br

    .panel.panel-default
      .panel-heading{role:'tab', id:'heading8'}
        %h4.panel-title
          %a.collapsed{role:'button', 'data-toggle'=>'collapse', 'data-parent'=>'#accordion', href:'#collapse9', 'aria-expanded'=>'false', 'aria-controls'=>'collapse9'}
            FUERZA MUSCULAR Y MOVILIDAD ARTICULAR FUNCIONAL
            %span +
      #collapse9.panel-collapse.collapse{role:'tabpanel', 'aria-labelledby'=>'heading9'}
        .panel-body
          =f.fields_for :fuerza_muscular do |fmuscular|
            .row.text-center.form_inline_patient
              %p
                Escala: F: FUNCIONAL  FP: FUNCIONAL PARCIAL  A: AUSENTE   NE: NO EVALUABLE
              .col-md-6.col-sm-6.col-xs-12
                %h4 Derecho
                %br
              .col-md-6.col-sm-6.col-xs-12
                %h4 Izquierdo
                %br
              .col-md-6.col-sm-6.col-xs-12
                .form-group
                  =fmuscular.label :cuello_d, 'Cuello'
                  =fmuscular.text_field :cuello_d, class: 'form-control'
              .col-md-6.col-sm-6.col-xs-12
                .form-group
                  =fmuscular.label :cuello_i, 'Cuello'
                  =fmuscular.text_field :cuello_i, class: 'form-control'
              .col-md-6.col-sm-6.col-xs-12
                .form-group
                  =fmuscular.label :hombro_d, 'Hombro'
                  =fmuscular.text_field :hombro_d, class: 'form-control'
              .col-md-6.col-sm-6.col-xs-12
                .form-group
                  =fmuscular.label :hombro_i, 'Hombro'
                  =fmuscular.text_field :hombro_i, class: 'form-control'
              .col-md-6.col-sm-6.col-xs-12
                .form-group
                  =fmuscular.label :codo_d, 'Codo'
                  =fmuscular.text_field :codo_d, class: 'form-control'
              .col-md-6.col-sm-6.col-xs-12
                .form-group
                  =fmuscular.label :codo_i, 'Codo'
                  =fmuscular.text_field :codo_i, class: 'form-control'
              .col-md-6.col-sm-6.col-xs-12  
                .form-group
                  =fmuscular.label :mineca_d, 'Muñeca'
                  =fmuscular.text_field :muneca_d, class: 'form-control'
              .col-md-6.col-sm-6.col-xs-12
                .form-group
                  =fmuscular.label :mineca_i, 'Muñeca'
                  =fmuscular.text_field :muneca_i, class: 'form-control'
              .col-md-6.col-sm-6.col-xs-12
                .form-group
                  =fmuscular.label :tronco_d, 'Tronco'
                  =fmuscular.text_field :tronco_d, class: 'form-control'
              .col-md-6.col-sm-6.col-xs-12
                .form-group
                  =fmuscular.label :tronco_i, 'Tronco'
                  =fmuscular.text_field :tronco_i, class: 'form-control'
              .col-md-6.col-sm-6.col-xs-12
                .form-group
                  =fmuscular.label :miembro_superior_d, 'Miembros superiores'
                  =fmuscular.text_field :miembro_superior_d, class: 'form-control'
              .col-md-6.col-sm-6.col-xs-12
                .form-group
                  =fmuscular.label :miembro_superior_i, 'Miembros superiores'
                  =fmuscular.text_field :miembro_superior_i, class: 'form-control'
              .col-md-6.col-sm-6.col-xs-12
                .form-group
                  =fmuscular.label :miembro_inferior_d, 'Miembros inferiores'
                  =fmuscular.text_field :miembro_inferior_d, class: 'form-control'
              .col-md-6.col-sm-6.col-xs-12
                .form-group
                  =fmuscular.label :miembro_inferior_i, 'Miembros inferiores'
                  =fmuscular.text_field :miembro_inferior_i, class: 'form-control'


              .col-md-12.col-sm-12.col-xs-12
                %hr
              .col-md-6.col-sm-6.col-xs-6
                .form-group
                  =fmuscular.label :ayudas, 'Usa ayudas o aditamentos externos?'
                  .radio
                    %label
                      = fmuscular.radio_button :ayudas, true
                      Si
                  .radio
                    %label
                      = fmuscular.radio_button :ayudas, false
                      No
              .col-md-6.col-sm-6.col-xs-6  
                .form-group
                  =fmuscular.label :ayudas_text, '¿Cuál?'
                  =fmuscular.text_area :ayudas_text, class: 'form-control'

          %br
  .text-center
    %br
    =f.submit class:'btn btn-primary'
    %br
    %br

-if current_usuario.can_edit == false && !@musculo.new_record?
  %script
    $( document ).ready(function() {
    disableInputs(', button');
    });
