.all_forms_style
  %h4 Crear Historia Clínica
  %p.text-center Para crear el historia clínica debe tener un paciente creado
  %br
  = form_for @clinic_history, url: {action: @clinic_history.id.nil? ? 'create_clinic_history' : 'update_clinic_history'}, html: {class: ""} do |f|
    =f.hidden_field :paciente_id, value: @patient.id
    .row.text-center
      .col-md-4.col-sm-4.col-xs-12
        .form-group
          =f.label :embarazos
          =f.text_field :embarazos, class: 'form-control'
      .col-md-4.col-sm-4.col-xs-12
        .form-group
          =f.label :partos
          =f.text_field :partos, class: 'form-control'
      .col-md-4.col-sm-4.col-xs-12
        .form-group
          =f.label :cesarea, 'Cesárea'
          =f.text_field :cesarea, class: 'form-control'
      .col-md-4.col-sm-4.col-xs-12
        .form-group
          =f.label :hijos_vivos
          =f.text_field :hijos_vivos, class: 'form-control'
      .col-md-4.col-sm-4.col-xs-12
        .form-group
          =f.label :embarazo_actual
          =f.text_field :embarazo_actual, class: 'form-control'
      .col-md-4.col-sm-4.col-xs-12
        .form-group
          =f.label :fum
          =f.text_field :fum, class: 'form-control'
      .col-md-4.col-sm-4.col-xs-12
        .form-group
          =f.label :medicamentos
          =f.text_area :medicamentos, class: 'form-control'
      .col-md-4.col-sm-4.col-xs-12
        .form-group
          =f.label :cirugias, 'Cirugías'
          =f.text_area :cirugias, class: 'form-control'
      .col-md-4.col-sm-4.col-xs-12
        .form-group
          =f.label :antecedentes_familiares
          =f.text_area :antecedentes_familiares, class: 'form-control'
      .col-md-4.col-sm-4.col-xs-12
        .form-group
          =f.label :motivo_consulta
          =f.text_area :motivo_consulta, class: 'form-control'
      .col-md-4.col-sm-4.col-xs-12
        .form-group
          =f.label :antecedentes_personales
          =f.text_area :antecedentes_personales, class: 'form-control'

    .text-center
      %br
      =f.submit class: 'btn primary-btn'