%script
  $( document ).ready(function() {
  //LLama al datepicker y lo traduce
  $( ".datepicker" ).datepicker({
  changeMonth: true,
  changeYear: true
  });
  date_picker_es();
  //Inicializa la librería Jquery Chosen, para los selects
  $(".chosen-selects").chosen();
  });
=render template: 'partials/top_menu'
-#if notice
-#  .notice.alert.alert-success.alert-dismissible{role: 'alert', style: "top: 85px; position: absolute; width: 100%; margin:0" }
-#    %button.close{type:'button', 'data-dismiss'=>'alert', 'aria-label'=>'Close'}
-#      %span{'aria-hidden'=>'true'}X
-#    %p.alert_info=notice
-#if alert
-#  .alert.alert-danger.alert-dismissible{role: 'alert', style: "top: 85px; position: absolute; width: 100%; margin:0"}
-#    %button.close{type:'button', 'data-dismiss'=>'alert', 'aria-label'=>'Close'}
-#      %span{'aria-hidden'=>'true'}X
-#    %p.alert_info=alert

.container_fluid
  .container_tabs
    %div.tabbable.tabs-left
      %ul.nav.nav-tabs{role:'tablist'}
        %li.text-center
          =image_tag "#{current_usuario.logo_empresa}", class: 'logo_menu_left'
        %li.active{role:'presentation'}
          %a{href:'#new_patient', 'aria-controls'=>'new_patient', role:'tab', 'data-toggle'=>'tab'}
            %span.md-menu Paciente
            %span.sm-menu P
        -unless @patient.id.nil?
          %li{role:'presentation'}
            %a{href:'#clinic_history', 'aria-controls'=>'clinic_history', role:'tab', 'data-toggle'=>'tab'}
              %span.md-menu Historia Clínica
              %span.sm-menu HC
          -unless @patient.historia_clinica.nil?
            %li{role:'presentation'}
              %a{href:'#cardiopulmonar', 'aria-controls'=>'cardiopulmona', role:'tab', 'data-toggle'=>'tab'}
                %span.md-menu Sistema Cardiopulmonar
                %span.sm-menu SC
            %li{role:'presentation'}
              %a{href:'#musculoesqueletico', 'aria-controls'=>'musculoesqueletico', role:'tab', 'data-toggle'=>'tab'}
                %span.md-menu Sistema Musculoesquelético
                %span.sm-menu SM
            %li{role:'presentation'}
              %a{href:'#neuromuscular', 'aria-controls'=>'neuromuscular', role:'tab', 'data-toggle'=>'tab'}
                %span.md-menu Sistema Neuromuscular
                %span.sm-menu SN
          %li{role:'presentation'}
            %a{href:'#pruebas_especiales', 'aria-controls'=>'pruebas_especiales', role:'tab', 'data-toggle'=>'tab'}
              %span.md-menu Pruebas Especiales
              %span.sm-menu PE
          %li{role:'presentation'}
            %a{href:'#tegumentario', 'aria-controls'=>'tegumentario', role:'tab', 'data-toggle'=>'tab'}
              %span.md-menu Sistema Tegumentario
              %span.sm-menu ST
          %li{role:'presentation'}
            %a{href:'#diagnostico', 'aria-controls'=>'diagnostico', role:'tab', 'data-toggle'=>'tab'}
              %span.md-menu Diagnóstico
              %span.sm-menu D

      .tab-content
        .tab-pane.active{id:'new_patient', role:'tabpanel'}
          =render template: 'patients/new_patient'
        -unless @patient.id.nil?
          .tab-pane{id:'clinic_history', role:'tabpanel'}
            =render template: 'patients/clinic_history_patient'
          -unless @patient.historia_clinica.nil?
            .tab-pane{id:'cardiopulmonar', role:'tabpanel'}
              =render template: 'patients/sistema_cardiopulmonar'
            .tab-pane{id:'musculoesqueletico', role:'tabpanel'}
              =render template: 'patients/sistema_musculoesqueletico'
            .tab-pane{id:'neuromuscular', role:'tabpanel'}
              =render template: 'patients/sistema_neuromuscular'
          .tab-pane{id:'tegumentario', role:'tabpanel'}
            =render template: 'patients/sistema_tegumentario'
          .tab-pane{id:'pruebas_especiales', role:'tabpanel'}
            =render template: 'patients/pruebas_especiales'
          .tab-pane{id:'diagnostico', role:'tabpanel'}
            =render template: 'patients/diagnostico'
