.all_forms_style
  %h4 DIAGNÓSTICO
  %p Resultado de la evalución del especialista
  %br
  = form_for @clinic_history, url: {action: @clinic_history.id.nil? ? 'create_clinic_history' : 'update_clinic_history'}, html: {class: ""} do |f|
    =f.hidden_field :paciente_id, value: @patient.id
    =f.fields_for :diagnostico do |diag|
      .row.text-center
        .col-md-4.col-sm-4.col-xs-12
          .form-group
            =diag.label :diagnostico, 'Diagnóstico general'
            =diag.text_area :diagnostico, class: 'form-control'
        .col-md-4.col-sm-4.col-xs-12
          .form-group
            =diag.label :recomendacion, 'Recomendaciones'
            =diag.text_area :recomendacion, class: 'form-control'
        .col-md-4.col-sm-4.col-xs-12
          .form-group
            =diag.label :restriccion, 'Restricciones'
            =diag.text_area :restriccion, class: 'form-control'
      %hr
    %br
    .text-center
      %br
      =f.submit class: 'btn primary-btn'