%script
  $(document).ready(function(){
  //LLama a la función del data Table para mostrar los pacientes - patients.js
  //data_table('#table_patients', 'Paciente', 'Pacientes');
  
  $('#table_patients').dataTable({
  'paging'      : false,
  'lengthChange': false,
  'searching'   : false,
  'ordering'    : false,
  'info'        : false,
  'autoWidth'   : false
  });

  // al detectar la carga de una imagen en el logo, inicia el proceso para
  // almacenarla y asociarla al usuario
  $("#upfile").on('change', function (event, files, label) {
  var tmppath = URL.createObjectURL(event.target.files[0]);
  $("#company_logo").attr("src", tmppath);
  save_company_logo(tmppath, "#{current_usuario.id}");
  });
  });

.container.login
  .container_logo{onclick: "getFile();"}
    =image_tag "#{current_usuario.logo_empresa}", class: 'logo', id: 'company_logo'
    %input#upfile{ type: 'file' }
    %p.change_logo Cambiar logo
  %ul.inline-block.float-right.links-right
    %li.inline-block
      -if current_usuario.user_services.first.service_id == 2 # fisio
        =link_to 'Ingresar Paciente', new_fisio_patient_path
      -else
        =link_to 'Ingresar Paciente', new_medical_patient_path
    %li.inline-block
      =link_to 'Cerrar Sesión', destroy_usuario_session_path, method: :delete
  %br
  .list_patients
    %h2 Lista de pacientes
    %form.form-inline.pull-right{ method: 'get', action: root_path }
      .form-group
        %input.form-control{ type: "text", id: "search_term", name: 'search_term', placeholder: 'Buscar' }
      %button.btn.btn-default{ type: "submit" }
        %i.fa.fa-search
    %table#table_patients.display{:cellspacing => "0", :width => "100%"}
      %thead
        %tr
          %th Nombre
          %th N. Documento
          %th Teléfono
          %th Celular
          %th Fecha Ingreso
          %th Acción
      %tbody
        -@patients.each do |patient|
          %tr
            %td
              -if current_usuario.user_services.first.service_id == 2 # fisio
                =link_to patient.nombre, edit_fisio_patient_path(id: patient.id)
              -else
                =link_to patient.nombre, edit_medical_patient_path(id: patient.id)

            %td=patient.documento
            %td=patient.telefono
            %td=patient.movil
            %td=patient.fecha_actual
            %td
              -#=link_to 'Eliminar', patient_path(id: patient.id), method: :delete, data: {confirm: 'Está seguro de eliminar este Paciente?'}
              -if current_usuario.user_services.first.service_id == 2 # fisio
                =link_to '<i class="fa fa-search icon-btn"></i>'.html_safe, edit_fisio_patient_path(id: patient.id)
              -else
                =link_to '<i class="fa fa-search icon-btn"></i>'.html_safe, edit_medical_patient_path(id: patient.id)

    -total = @patients.count
    -if params[:search_term].nil? || params[:search_term].empty?
      %strong="Total pacientes: #{total}"
    -else
      %strong="Pacientes encontrados: #{total}"
    
    -unless params[:page].nil?
      %br
      -limit = params[:page].to_i*10
      %strong="Mostrando: #{(params[:page].to_i*10)-9}...#{limit < total ? limit : total} de #{total}"


    %br
    .pull-right
      = will_paginate @patients, renderer: BootstrapPagination::Rails
    %br
    .text-left
      %p.current_user
        =current_usuario.nombre
        =current_usuario.apellido
        %br
        =current_usuario.tarjeta_profesional
%br
%br

.container
  %a.link-hover{type:"button", "data-toggle"=>"modal", "data-target"=>"#myModal"}  
    Acuerdo de uso y licencia

= render template: 'layouts/license'