.all_forms_style
  %h4 Información del Paciente
  %br

  .container-fluid
    .row-fluid
      .pull-right
        -# solo mostrar el boton imprimir cuando existe paciente
        -unless @patient.id.nil?
          =link_to '<i class="fa fa-print icon-btn"></i> Imprimir'.html_safe, print_patients_path(id: @patient.id, :format => :pdf), class: 'second-btn', target: '_blank'
  %br
  = form_for @patient, url: {action: @patient.id.nil? ? 'create' : 'update'}, html: {class: ""} do |f|
    -if !@patient.id.nil?
      =f.hidden_field :id, value: @patient.id
    .row.text-center
      .col-md-4.col-sm-4.col-xs-12
        .form-group
          = f.label :nombre, 'Nombre completo'
          = f.text_field :nombre, class: 'form-control', required:true
      .col-md-4.col-sm-4.col-xs-12
        .form-group
          = f.label :fecha_nacimiento
          = f.text_field :fecha_nacimiento, class: 'form-control datepicker', required:true
      .col-md-4.col-sm-4.col-xs-12
        .form-group
          = f.label :edad
          = f.text_field :edad, class: 'form-control', required:true
      .col-md-4.col-sm-4.col-xs-12
        .form-group
          = f.label :type_document_id
          = f.collection_select(:type_document_id, TypeDocument.where(status: true), :id, :name, {}, {:class=>'form-control chosen-selects'})
      .col-md-4.col-sm-4.col-xs-12
        .form-group
          = f.label :documento
          = f.text_field :documento, class: 'form-control', required:true
      .col-md-4.col-sm-4.col-xs-12
        .form-group
          = f.label :genero, 'Género'
          = f.text_field :genero, class: 'form-control'
      .col-md-4.col-sm-4.col-xs-12
        .form-group
          = f.label :estado_civil_id
          = f.collection_select(:estado_civil_id, EstadoCivil.all, :id, :name, {}, {:class=>'form-control chosen-selects'})
      .col-md-4.col-sm-4.col-xs-12
        .form-group
          = f.label :profesion, 'Ocupación'
          = f.text_field :profesion, class: 'form-control'
      .col-md-4.col-sm-4.col-xs-12
        .form-group
          = f.label :escolaridad, 'Escolaridad'
          = f.text_field :escolaridad, class: 'form-control'
      .col-md-4.col-sm-4.col-xs-12
        .form-group
          = f.label :direccion, 'Residencia'
          = f.text_field :direccion, class: 'form-control'
      .col-md-4.col-sm-4.col-xs-12
        .form-group
          = f.label :telefono, 'Teléfono'
          = f.text_field :telefono, class: 'form-control'
      .col-md-4.col-sm-4.col-xs-12
        .form-group
          = f.label :fecha_actual
          = f.text_field :fecha_actual, value: f.object.fecha_actual || Time.now.strftime("%Y-%m-%d"), class: 'form-control datepicker'
      .col-md-4.col-sm-4.col-xs-12
        .form-group
          = f.label :eps
          = f.text_field :eps, class: 'form-control'
      .col-md-4.col-sm-4.col-xs-12
        .form-group
          = f.label :telefono, 'Teléfono'
          = f.text_field :telefono, class: 'form-control'
      .col-md-4.col-sm-4.col-xs-12
        .form-group
          = f.label :movil, 'Móvil'
          = f.text_field :movil, class: 'form-control'
      .col-md-4.col-sm-4.col-xs-12
        .form-group
          = f.label :nombre_acompanante, 'Acudiente'
          = f.text_field :nombre_acompanante, class: 'form-control'
      .col-md-4.col-sm-4.col-xs-12
        .form-group
          = f.label :movil_acompanante, 'Móvil acompañante'
          = f.text_field :movil_acompanante, class: 'form-control'

      .col-md-4.col-sm-4.col-xs-12
        .form-group
          = f.label :rh
          = f.text_field :rh, class: 'form-control', required:true

      .col-md-4.col-sm-4.col-xs-12
        .form-group
          = f.label :remitido_por
          = f.text_field :remitido_por, class: 'form-control'

      .col-md-4.col-sm-4.col-xs-12
        .form-group
          = f.label :email
          = f.text_field :email, class: 'form-control'

    .text-center
      %br
      = f.hidden_field :usuario_id, value: current_usuario.id
      = f.submit params[:id].nil? ? 'Guardar' : 'Editar', class: 'btn primary-btn'