<table class="table table-striped table-import-patient">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Fecha de ingreso</th>
      <th class="pull-right">Acción</th>
    </tr>
  </thead>
  <tbody>
    <%-@result.each do |paciente|%>
      <tr>
        <td><%= paciente.nombre %></td>
        <td><%= paciente.created_at.strftime("%Y-%m-%d") %></td>
        <td class="pull-right"><button onclick="confirmImport('<%=paciente.id%>', '<%=paciente.nombre%>', '<%=paciente.created_at.strftime("%Y-%m-%d")%>')" class="btn btn-info">Copiar</button></td>
      </tr>
    <%end%>
  </tbody>
</table>


<div id="pacientes-links">
  <%= will_paginate @result, renderer: BootstrapPagination::Rails, link_options: {'data-remote'=> true} %>
</div>

<%= form_tag '/patients/import_data', method: :post, id: 'form_import_data' do%>
  <%=hidden_field_tag :import_paciente_id, '', required: true %>
<%end%>