-paciente = @patient
%div
  =wicked_pdf_image_tag current_usuario.logo_empresa.url, style: 'width: 135px; object-fit: contain, display: inline-block; vertical-align: middle; margin-right: 60px' unless current_usuario.logo_empresa.url.nil?
  %h2{style: 'display: inline-block; font-size: 15px; color: #333; font-family:Arial'} FISIOTERAPIA EVELIN PINEDA DIAZ
%div.personal-info
  %h4{style: 'text-align:center; margin-bottom:5px; font-size: 10px; border-bottom: 1px solid #333; color: #333; font-family:Arial; padding:4px; margin-top: 0'} INFORMACIÓN PERSONAL

  %p{style: 'margin:0 0 2px; color: #272525; font-family:Arial; font-size: 10px; width: 75%; display: inline-block'}
    %b{style: 'color: #333; font-family:Arial'} Nombre:
    =paciente.nombre
  %p{style: 'margin:0 0 2px; color: #272525; font-family:Arial; font-size: 10px; width: 24%; display: inline-block; text-align:right'}
    %b{style: 'color: #333; font-family:Arial'} Fecha:
    =paciente.fecha_actual

  %p{style: 'margin:0 0 2px; color: #272525; font-family: Arial; font-size: 10px; display: inline-block; width: 38%'}
    %b{style: 'color: #333; font-family:Arial'} Documento:
    =paciente.documento
  %p{style: 'margin:0 0 2px; color: #272525; font-family:Arial; font-size: 10px; display: inline-block; width: 39%'}
    %b{style: 'color: #333; font-family:Arial'} Fec. Nacimiento:
    =paciente.fecha_nacimiento
  %p{style: 'margin:0 0 2px; color: #272525; font-family:Arial; font-size: 10px; display: inline-block; width: 21%; text-align:right'}
    %b{style: 'color: #333; font-family:Arial'} Edad:
    =paciente.edad
    = paciente.edad.nil? ? '' : ' años'

  %p{style: 'margin:0 0 2px; color: #272525; font-family:Arial; font-size: 10px; width: 75%; display: inline-block'}
    %b{style: 'color: #333; font-family:Arial'} Dirección:
    =paciente.direccion

  %p{style: 'margin:0 0 2px; color: #272525; font-family:Arial; font-size: 10px; width: 24%; display: inline-block; text-align:right'}
    %b{style: 'color: #333; font-family:Arial'} Género:
    =paciente.genero

  %p{style: 'margin:0 0 2px; color: #272525; font-family:Arial; font-size: 10px; display: inline-block; width: 37%'}
    %b{style: 'color: #333; font-family:Arial'} Teléfono:
    =paciente.telefono

  %p{style: 'margin:0 0 2px; color: #272525; font-family:Arial; font-size: 10px; display: inline-block; width: 37%'}
    -if !paciente.movil.blank?
      %b{style: 'color: #333; font-family:Arial'} Celular:
      =paciente.movil
  %p{style: 'margin:0 0 2px; color: #272525; font-family:Arial; font-size: 10px; display: inline-block; width: 24%; text-align:right'}
    %b{style: 'color: #333; font-family:Arial'} R.H:
    =paciente.rh

  %p{style: 'margin:0 0 2px; color: #272525; font-family:Arial; font-size: 10px; display: inline-block; width: 50%'}
    %b{style: 'color: #333; font-family:Arial'} Estado civil:
    =paciente.estado_civil.nil? ? 'Sin asignar' : paciente.estado_civil.name
  %p{style: 'margin:0 0 2px; color: #272525; font-family:Arial; font-size: 10px; display: inline-block; width: 49%; text-align: right'}
    -if !paciente.profesion.blank?
      %b{style: 'color: #333; font-family:Arial'} Profesión:
      =paciente.profesion

  %p{style: 'margin:0 0 2px; color: #272525; font-family:Arial; font-size: 10px; display: inline-block; width: 55%'}
    %b{style: 'color: #333; font-family:Arial'} Nombre Acompañante:
    =paciente.nombre_acompanante
  %p{style: 'margin:0 0 2px; color: #272525; font-family:Arial; font-size: 10px; display: inline-block; width: 44%; text-align: right'}
    -if !paciente.movil_acompanante.blank?
      %b Celular:
      =paciente.movil_acompanante

  %p{style: 'margin:0 0 2px; color: #272525; font-family:Arial; font-size: 10px; display: inline-block; width: 58%'}
    %b{style: 'color: #333; font-family:Arial'} Remitido por:
    =paciente.remitido_por
  %p{style: 'margin:0 0 2px; color: #272525; font-family:Arial; font-size: 10px; display: inline-block; width: 41%; text-align: right'}
    -if !paciente.eps.blank?
      %b{style: 'color: #333; font-family:Arial'} EPS:
      =paciente.eps

%div.clinic-history
  -if paciente.historia_clinica.nil?
  -else
    %h4{style: 'text-align:center; margin-bottom:5px; font-size: 10px; border-bottom: 1px solid #333; color: #333; font-family:Arial; padding:4px'} HISTORIA CLÍNICA
    %p{style: 'margin:0 0 2px; color: #272525; font-family:Arial; font-size: 10px;  width: 33%; display: inline-block'}
      %b{style: 'color: #333; font-family:Arial'} Embarazos:
      =paciente.historia_clinica.embarazos
    %p{style: 'margin:0 0 2px; color: #272525; font-family:Arial; font-size: 10px; width: 33%; display: inline-block'}
      %b{style: 'color: #333; font-family:Arial'} Partos:
      =paciente.historia_clinica.partos
    %p{style: 'margin:0 0 2px; color: #272525; font-family:Arial; font-size: 10px; width: 32%; display: inline-block; text-align:right'}
      %b{style: 'color: #333; font-family:Arial'} Cesárea:
      =paciente.historia_clinica.cesarea
    %p{style: 'margin:0 0 2px; color: #272525; font-family:Arial; font-size: 10px; width: 33%; display: inline-block'}
      %b{style: 'color: #333; font-family:Arial'} Hijos vivos:
      =paciente.historia_clinica.hijos_vivos
    %p{style: 'margin:0 0 2px; color: #272525; font-family:Arial; font-size: 10px;  width: 33%; display: inline-block'}
      %b{style: 'color: #333; font-family:Arial'} Embarazo actual:
      =paciente.historia_clinica.embarazo_actual
    %p{style: 'margin:0 0 2px; color: #272525; font-family:Arial; font-size: 10px;  width: 32%; display: inline-block; text-align:right'}
      %b{style: 'color: #333; font-family:Arial'} FUM:
      =paciente.historia_clinica.fum
    -if !paciente.historia_clinica.medicamentos.blank?
      %p{style: 'margin:0 0 2px; color: #272525; font-family:Arial; font-size: 10px'}
        %b{style: 'color: #333; font-family:Arial'} Medicamentos:
        =paciente.historia_clinica.medicamentos
    -if !paciente.historia_clinica.cirugias.blank?
      %p{style: 'margin:0 0 2px; color: #272525; font-family:Arial; font-size: 10px'}
        %b{style: 'color: #333; font-family:Arial'} Cirugías:
        =paciente.historia_clinica.cirugias
    -if !paciente.historia_clinica.antecedentes_familiares.blank?
      %p{style: 'margin:0 0 2px; color: #272525; font-family:Arial; font-size: 10px'}
        %b{style: 'color: #333; font-family:Arial'} Antecedentes Familiares:
        =paciente.historia_clinica.antecedentes_familiares
    -if !paciente.historia_clinica.antecedentes_personales.blank?
      %p{style: 'margin:0 0 2px; color: #272525; font-family:Arial; font-size: 10px'}
        %b{style: 'color: #333; font-family:Arial'} Antecedentes Personales:
        =paciente.historia_clinica.antecedentes_personales
    -if !paciente.historia_clinica.motivo_consulta.blank?
      %p{style: 'margin:0 0 2px; color: #272525; font-family:Arial; font-size: 10px'}
        %b{style: 'color: #333; font-family:Arial'} Motivo Consulta:
        =paciente.historia_clinica.motivo_consulta

-unless paciente.historia_clinica.nil?
  %div.sistema-cardiopulmonar
    -if paciente.historia_clinica.sistema_cardiopulmonar.nil?
    -else
      %h4{style: 'text-align:center; margin-bottom:5px; font-size: 10px; border-bottom: 1px solid #333; color: #333; font-family:Arial; padding:4px'} SISTEMA CARDIOPULMONAR
      %p{style: 'margin:0 0 2px; color: #272525; font-family:Arial; font-size: 10px; width: 33%; display: inline-block'}
        %b{style: 'color: #333; font-family:Arial'} Presión arterial:
        =paciente.historia_clinica.sistema_cardiopulmonar.pa
      %p{style: 'margin:0 0 2px; color: #272525; font-family:Arial; font-size: 10px; width: 33%; display: inline-block'}
        %b{style: 'color: #333; font-family:Arial'} Frecuencia cardíaca:
        =paciente.historia_clinica.sistema_cardiopulmonar.fc
      %p{style: 'margin:0 0 2px; color: #272525; font-family:Arial; font-size: 10px; width: 32%; display: inline-block; text-align: right'}
        %b{style: 'color: #333; font-family:Arial'} Frecuencia respiratoria:
        =paciente.historia_clinica.sistema_cardiopulmonar.fr

      %p{style: 'margin:0 0 2px; color: #272525; font-family:Arial; font-size: 10px; width: 33%; display: inline-block'}
        %b{style: 'color: #333; font-family:Arial'} Saturacíon de oxígeno:
        =paciente.historia_clinica.sistema_cardiopulmonar.sao2
      %p{style: 'margin:0 0 2px; color: #272525; font-family:Arial; font-size: 10px; width: 33%; display: inline-block'}
        %b{style: 'color: #333; font-family:Arial'} Auscultación pulmonar:
        =paciente.historia_clinica.sistema_cardiopulmonar.ausc_pulmonar
      %p{style: 'margin:0 0 2px; color: #272525; font-family:Arial; font-size: 10px; width: 32%; display: inline-block; text-align: right'}
        %b{style: 'color: #333; font-family:Arial'} Auscultación cardíaca:
        =paciente.historia_clinica.sistema_cardiopulmonar.ausc_cardiaca

  %div.sistema-musculoesqueletico
    -if paciente.historia_clinica.sistema_musculoesqueletico.nil?
    -else
      %h4{style: 'text-align:center; margin-bottom:5px; font-size: 10px; border-bottom: 1px solid #333; color: #333; font-family:Arial; padding:4px'} SISTEMA MUSCULOESQUELÉTICO
      %h4{style: 'margin: 5px 0; text-decoration:underline; color: #333; font-family:Arial; font-size: 10px'} ANTROPOMETRÍA:
      %div.antropometria
        %p{style: 'margin:0 0 2px; color: #272525; font-family:Arial; font-size: 10px; width: 22%; display: inline-block'}
          %b{style: 'color: #333; font-family:Arial'} Talla:
          =paciente.historia_clinica.sistema_musculoesqueletico.talla
        %p{style: 'margin:0 0 2px; color: #272525; font-family:Arial; font-size: 10px; width: 23%; display: inline-block'}
          %b{style: 'color: #333; font-family:Arial'} Peso:
          =paciente.historia_clinica.sistema_musculoesqueletico.peso
        %p{style: 'margin:0 0 2px; color: #272525; font-family:Arial; font-size: 10px; width: 28%; display: inline-block'}
          %b{style: 'color: #333; font-family:Arial'} IMC:
          =paciente.historia_clinica.sistema_musculoesqueletico.imc
        %p{style: 'margin:0 0 2px; color: #272525; font-family:Arial; font-size: 10px; width: 25%; display: inline-block; text-align: right'}
          %b{style: 'color: #333; font-family:Arial'} Grasa Total:
          =paciente.historia_clinica.sistema_musculoesqueletico.grasa_total

      -if validate_perimetro_impression paciente.historia_clinica.sistema_musculoesqueletico.perimetro
      -else
        %h4{style: 'margin: 5px 0; text-decoration:underline; color: #333; font-family:Arial; font-size: 10px;'} PERÍMETRO:
        %div.perimetro
          %p{style: 'margin:0 0 2px; color: #272525; font-family:Arial; font-size: 10px; width: 33%; display: inline-block'}
            %b{style: 'color: #333; font-family:Arial'} Biceps:
            =paciente.historia_clinica.sistema_musculoesqueletico.perimetro.biceps
          %p{style: 'margin:0 0 2px; color: #272525; font-family:Arial; font-size: 10px; width: 33%; display: inline-block'}
            %b{style: 'color: #333; font-family:Arial'} Pecho:
            =paciente.historia_clinica.sistema_musculoesqueletico.perimetro.pecho
          %p{style: 'margin:0 0 2px; color: #272525; font-family:Arial; font-size: 10px; width: 32%; display: inline-block; text-align: right'}
            %b{style: 'color: #333; font-family:Arial'} Abdomen:
            =paciente.historia_clinica.sistema_musculoesqueletico.perimetro.abdomen
          %p{style: 'margin:0 0 2px; color: #272525; font-family:Arial; font-size: 10px; width: 33%; display: inline-block'}
            %b{style: 'color: #333; font-family:Arial'} Cadera:
            =paciente.historia_clinica.sistema_musculoesqueletico.perimetro.cadera
          %p{style: 'margin:0 0 2px; color: #272525; font-family:Arial; font-size: 10px; width: 33%; display: inline-block'}
            %b{style: 'color: #333; font-family:Arial'} Muslo:
            =paciente.historia_clinica.sistema_musculoesqueletico.perimetro.muslo
          %p{style: 'margin:0 0 2px; color: #272525; font-family:Arial; font-size: 10px; width: 32%; display: inline-block; text-align: right'}
            %b{style: 'color: #333; font-family:Arial'} Pierna:
            =paciente.historia_clinica.sistema_musculoesqueletico.perimetro.pierna

      -if  validate_simetria_impression paciente.historia_clinica.sistema_musculoesqueletico
      -else
        %h4{style: 'margin: 5px 0; color: #333; font-family:Arial; font-size: 10px; text-decoration:underline'} SIMETRÍA:
        %div.simetria
          -if !paciente.historia_clinica.sistema_musculoesqueletico.m_superior_r_derecho.blank?
            %p{style: 'margin:0 0 2px; color: #272525; font-family:Arial; font-size: 10px; width: 49%; display: inline-block'}
              %b{style: 'color: #333; font-family:Arial'} Miembro Superior Real Derecho:
              =paciente.historia_clinica.sistema_musculoesqueletico.m_superior_r_derecho

          -if !paciente.historia_clinica.sistema_musculoesqueletico.m_superior_r_izquierdo.blank?
            %p{style: 'margin:0 0 2px; color: #272525; font-family:Arial; font-size: 10px; width: 49%; display: inline-block;'}
              %b{style: 'color: #333; font-family:Arial'} Miembro Superior Real Izquierdo:
              =paciente.historia_clinica.sistema_musculoesqueletico.m_superior_r_izquierdo

          -if !paciente.historia_clinica.sistema_musculoesqueletico.m_superior_a_derecho.blank?
            %p{style: 'margin:0 0 2px; color: #272525; font-family:Arial; font-size: 10px; width: 49%; display: inline-block'}
              %b{style: 'color: #333; font-family:Arial'} Miembro Superior Aparente Derecho:
              =paciente.historia_clinica.sistema_musculoesqueletico.m_superior_a_derecho

          -if !paciente.historia_clinica.sistema_musculoesqueletico.m_superior_a_izquierdo.blank?
            %p{style: 'margin:0 0 2px; color: #272525; font-family:Arial; font-size: 10px; width: 49%; display: inline-block;'}
              %b{style: 'color: #333; font-family:Arial'} Miembro Superior Aparente Izquierdo:
              =paciente.historia_clinica.sistema_musculoesqueletico.m_superior_a_izquierdo

          -if !paciente.historia_clinica.sistema_musculoesqueletico.m_superiores_diferencia.blank?
            %p{style: 'margin:0 0 2px; color: #272525; font-family:Arial; font-size: 10px; display: inline-block; width: 49%'}
              %b{style: 'color: #333; font-family:Arial'} Miembro Superior Diferencia:
              =paciente.historia_clinica.sistema_musculoesqueletico.m_superiores_diferencia

          -if !paciente.historia_clinica.sistema_musculoesqueletico.m_inferior_r_derecho.blank?
            %p{style: 'margin:0 0 2px; color: #272525; font-family:Arial; font-size: 10px; width: 49%; display: inline-block;'}
              %b{style: 'color: #333; font-family:Arial'} Miembro Inferior Real Derecho:
              =paciente.historia_clinica.sistema_musculoesqueletico.m_inferior_r_derecho

          -if !paciente.historia_clinica.sistema_musculoesqueletico.m_inferior_r_izquierdo.blank?
            %p{style: 'margin:0 0 2px; color: #272525; font-family:Arial; font-size: 10px; width: 49%; display: inline-block'}
              %b{style: 'color: #333; font-family:Arial'} Miembro Inferior Real Izquierdo:
              =paciente.historia_clinica.sistema_musculoesqueletico.m_inferior_r_izquierdo

          -if !paciente.historia_clinica.sistema_musculoesqueletico.m_inferior_a_derecho.blank?
            %p{style: 'margin:0 0 2px; color: #272525; font-family:Arial; font-size: 10px; width: 49%; display: inline-block;'}
              %b{style: 'color: #333; font-family:Arial'} Miembro Inferior Aparente Derecho:
              =paciente.historia_clinica.sistema_musculoesqueletico.m_inferior_a_derecho

          -if !paciente.historia_clinica.sistema_musculoesqueletico.m_inferior_a_izquierdo.blank?
            %p{style: 'margin:0 0 2px; color: #272525; font-family:Arial; font-size: 10px; width: 49%; display: inline-block'}
              %b{style: 'color: #333; font-family:Arial'} Miembro Inferior Aparente Izquierdo:
              =paciente.historia_clinica.sistema_musculoesqueletico.m_inferior_a_izquierdo

          -if !paciente.historia_clinica.sistema_musculoesqueletico.m_inferiores_diferencia.blank?
            %p{style: 'margin:0 0 2px; color: #272525; font-family:Arial; font-size: 10px; display: inline-block; width: 49%;'}
              %b{style: 'color: #333; font-family:Arial'} Miembro Inferior Diferencia:
              =paciente.historia_clinica.sistema_musculoesqueletico.m_inferiores_diferencia

      -if validate_adipometria_impression paciente.historia_clinica.sistema_musculoesqueletico.adipometrium
      -else
        %h4{style: 'margin: 5px 0; color: #333; font-family:Arial; font-size: 10px; text-decoration:underline'} ADIPOMETRÍA:
        %div.adipometria
          %p{style: 'margin:0 0 2px; color: #272525; font-family:Arial; font-size: 10px; width: 33%; display: inline-block'}
            %b{style: 'color: #333; font-family:Arial'} Triceps:
            =paciente.historia_clinica.sistema_musculoesqueletico.adipometrium.triceps
          %p{style: 'margin:0 0 2px; color: #272525; font-family:Arial; font-size: 10px; width: 33%; display: inline-block'}
            %b{style: 'color: #333; font-family:Arial'} S Escap:
            =paciente.historia_clinica.sistema_musculoesqueletico.adipometrium.s_escap
          %p{style: 'margin:0 0 2px; color: #272525; font-family:Arial; font-size: 10px; width: 32%; display: inline-block; text-align: right'}
            %b{style: 'color: #333; font-family:Arial'} S Iliaco:
            =paciente.historia_clinica.sistema_musculoesqueletico.adipometrium.s_iliaco
          %p{style: 'margin:0 0 2px; color: #272525; font-family:Arial; font-size: 10px; width: 33%; display: inline-block'}
            %b{style: 'color: #333; font-family:Arial'} Abdomen:
            =paciente.historia_clinica.sistema_musculoesqueletico.adipometrium.abdomen
          %p{style: 'margin:0 0 2px; color: #272525; font-family:Arial; font-size: 10px; width: 33%; display: inline-block'}
            %b Muslo:
            =paciente.historia_clinica.sistema_musculoesqueletico.adipometrium.muslo
          %p{style: 'margin:0 0 2px; color: #272525; font-family:Arial; font-size: 10px; width: 32%; display: inline-block; text-align: right'}
            %b{style: 'color: #333; font-family:Arial'} Pierna:
            =paciente.historia_clinica.sistema_musculoesqueletico.adipometrium.pierna
          %p{style: 'margin:0 0 2px; color: #272525; font-family:Arial; font-size: 10px; width: 100%; display: inline-block'}
            %b{style: 'color: #333; font-family:Arial'} Grasa Localizada:
            =""

      -if validate_rangos_movilidad_impression paciente.historia_clinica.sistema_musculoesqueletico
        %h4{style: 'margin: 10px 0; text-decoration:underline; color: #333; font-family:Arial; font-size: 10px'} RANGOS DE MOVILIDAD ARTICULAR:
      %div.rangos-movilidad
        -if validate_cuello_impression paciente.historia_clinica.sistema_musculoesqueletico.cuello
        -else
          %h4{style: 'margin: 5px 0; text-decoration:underline; text-align:center; color: #333; font-family:Arial; font-size: 10px'} CUELLO
          %p{style: 'margin:0 0 2px; color: #272525; font-family:Arial; font-size: 10px; width: 49%; display: inline-block'}
            %b{style: 'color: #333; font-family:Arial'} Flexión Derecho:
            =paciente.historia_clinica.sistema_musculoesqueletico.cuello.flexion_derecho
          %p{style: 'margin:0 0 2px; color: #272525; font-family:Arial; font-size: 10px; width: 50%; display: inline-block; text-align: right'}
            %b{style: 'color: #333; font-family:Arial'} Extensión Derecho:
            =paciente.historia_clinica.sistema_musculoesqueletico.cuello.ext_derecho
          %p{style: 'margin:0 0 2px; color: #272525; font-family:Arial; font-size: 10px; width: 49%; display: inline-block'}
            %b{style: 'color: #333; font-family:Arial'} Inclinación Lateral Derecho:
            =paciente.historia_clinica.sistema_musculoesqueletico.cuello.incl_lateral_der
          %p{style: 'margin:0 0 2px; color: #272525; font-family:Arial; font-size: 10px; display: inline-block; width:50%; text-align:right'}
            %b{style: 'color: #333; font-family:Arial'} Rotación Lateral Derecho:
            =paciente.historia_clinica.sistema_musculoesqueletico.cuello.rotacion_lat_der

          %p{style: 'margin:0 0 2px; color: #272525; font-family:Arial; font-size: 10px; width: 49%; display: inline-block'}
            %b{style: 'color: #333; font-family:Arial'} Flexión Izquierdo:
            =paciente.historia_clinica.sistema_musculoesqueletico.cuello.flexion_izquierdo
          %p{style: 'margin:0 0 2px; color: #272525; font-family:Arial; font-size: 10px; width: 50%; display: inline-block; text-align: right'}
            %b{style: 'color: #333; font-family:Arial'} Extensión Izquierdo:
            =paciente.historia_clinica.sistema_musculoesqueletico.cuello.ext_izquierdo
          %p{style: 'margin:0 0 2px; color: #272525; font-family:Arial; font-size: 10px; width: 49%; display: inline-block'}
            %b{style: 'color: #333; font-family:Arial'} Inclinación Lateral Izquierdo:
            =paciente.historia_clinica.sistema_musculoesqueletico.cuello.incl_lateral_izq
          %p{style: 'margin:0 0 2px; color: #272525; font-family:Arial; font-size: 10px; display: inline-block; width:50%; text-align:right'}
            %b{style: 'color: #333; font-family:Arial'} Rotación Lateral Izquierdo:
            =paciente.historia_clinica.sistema_musculoesqueletico.cuello.rotacion_lat_izq

        -if validate_hombro_impression paciente.historia_clinica.sistema_musculoesqueletico.hombro
        -else
          %h4{style: 'margin: 5px 0; text-decoration:underline; text-align:center; color: #333; font-family:Arial; font-size: 10px'} HOMBRO
          %p{style: 'margin:0 0 2px; color: #272525; font-family:Arial; font-size: 10px; width: 33%; display: inline-block'}
            %b{style: 'color: #333; font-family:Arial'} Flexión Derecho:
            =paciente.historia_clinica.sistema_musculoesqueletico.hombro.flexion_derecho
          %p{style: 'margin:0 0 2px; color: #272525; font-family:Arial; font-size: 10px; width: 33%; display: inline-block'}
            %b{style: 'color: #333; font-family:Arial'} Extensión Derecho:
            =paciente.historia_clinica.sistema_musculoesqueletico.hombro.ext_derecho
          %p{style: 'margin:0 0 2px; color: #272525; font-family:Arial; font-size: 10px; width: 32%; display: inline-block; text-align:right'}
            %b{style: 'color: #333; font-family:Arial'} Abducción Derecho:
            =paciente.historia_clinica.sistema_musculoesqueletico.hombro.abduccion_der
          %p{style: 'margin:0 0 2px; color: #272525; font-family:Arial; font-size: 10px; display: inline-block; width:33%'}
            %b{style: 'color: #333; font-family:Arial'} Aducción Derecho:
            =paciente.historia_clinica.sistema_musculoesqueletico.hombro.aduccion_der
          %p{style: 'margin:0 0 2px; color: #272525; font-family:Arial; font-size: 10px; width: 33%; display: inline-block'}
            %b{style: 'color: #333; font-family:Arial'} Rotación Interna Derecho:
            =paciente.historia_clinica.sistema_musculoesqueletico.hombro.rotacion_interna_der
          %p{style: 'margin:0 0 2px; color: #272525; font-family:Arial; font-size: 10px; display: inline-block; width:32%; text-align:right'}
            %b{style: 'color: #333; font-family:Arial'} Rotación Externa Derecho:
            =paciente.historia_clinica.sistema_musculoesqueletico.hombro.rotacion_externa_der

          %p{style: 'margin:0 0 2px; color: #272525; font-family:Arial; font-size: 10px; width: 33%; display: inline-block'}
            %b{style: 'color: #333; font-family:Arial'} Flexión Izquierdo:
            =paciente.historia_clinica.sistema_musculoesqueletico.hombro.flexion_izquierdo
          %p{style: 'margin:0 0 2px; color: #272525; font-family:Arial; font-size: 10px; width: 33%; display: inline-block'}
            %b{style: 'color: #333; font-family:Arial'} Extensión Izquierdo:
            =paciente.historia_clinica.sistema_musculoesqueletico.hombro.ext_izquierdo
          %p{style: 'margin:0 0 2px; color: #272525; font-family:Arial; font-size: 10px; width: 32%; display: inline-block; text-align:right'}
            %b{style: 'color: #333; font-family:Arial'} Abducción Izquierdo:
            =paciente.historia_clinica.sistema_musculoesqueletico.hombro.abduccion_izq
          %p{style: 'margin:0 0 2px; color: #272525; font-family:Arial; font-size: 10px; display: inline-block; width:33%'}
            %b{style: 'color: #333; font-family:Arial'} Aducción Izquierdo:
            =paciente.historia_clinica.sistema_musculoesqueletico.hombro.aduccion_izq
          %p{style: 'margin:0 0 2px; color: #272525; font-family:Arial; font-size: 10px; width: 33%; display: inline-block'}
            %b{style: 'color: #333; font-family:Arial'} Rotación Interna Izquierdo:
            =paciente.historia_clinica.sistema_musculoesqueletico.hombro.rotacion_interna_izq
          %p{style: 'margin:0 0 2px; color: #272525; font-family:Arial; font-size: 10px; display: inline-block; width:32%; text-align:right'}
            %b{style: 'color: #333; font-family:Arial'} Rotación Externa Izquierdo:
            =paciente.historia_clinica.sistema_musculoesqueletico.hombro.rotacion_externa_izq


      -if validate_msuperiores_impression paciente.historia_clinica.sistema_musculoesqueletico.musculos_superior
      -else
        %h4{style: 'margin: 5px 0; text-decoration:underline; text-align:center; color: #333; font-family:Arial; font-size: 10px'} MIEMBROS SUPERIORES
        %p{style: 'margin:0 0 2px; color: #272525; font-family:Arial; font-size: 10px; width: 49%; display: inline-block'}
          %b{style: 'color: #333; font-family:Arial'} Flexión Codo Derecho:
          =paciente.historia_clinica.sistema_musculoesqueletico.musculos_superior.flexion_codo_der
        %p{style: 'margin:0 0 2px; color: #272525; font-family:Arial; font-size: 10px; width: 50%; display: inline-block; text-align:right'}
          %b{style: 'color: #333; font-family:Arial'} Extensión Codo Derecho:
          =paciente.historia_clinica.sistema_musculoesqueletico.musculos_superior.extension_codo_der
        %p{style: 'margin:0 0 2px; color: #272525; font-family:Arial; font-size: 10px; width: 49%; display: inline-block'}
          %b{style: 'color: #333; font-family:Arial'} Supinación Codo Derecho:
          =paciente.historia_clinica.sistema_musculoesqueletico.musculos_superior.supinacion_codo_der
        %p{style: 'margin:0 0 2px; color: #272525; font-family:Arial; font-size: 10px; display: inline-block; width:50%; text-align:right'}
          %b{style: 'color: #333; font-family:Arial'} Pronación Codo Derecho:
          =paciente.historia_clinica.sistema_musculoesqueletico.musculos_superior.pronacion_codo_der
        %p{style: 'margin:0 0 2px; color: #272525; font-family:Arial; font-size: 10px; width: 50%; display: inline-block'}
          %b{style: 'color: #333; font-family:Arial'} Extensión Muñeca Derecho:
          =paciente.historia_clinica.sistema_musculoesqueletico.musculos_superior.extension_muneca_der
        %p{style: 'margin:0 0 2px; color: #272525; font-family:Arial; font-size: 10px; display: inline-block; width:49%; text-align:right'}
          %b{style: 'color: #333; font-family:Arial'} Desviación Ulnal Muñeca Derecho:
          =paciente.historia_clinica.sistema_musculoesqueletico.musculos_superior.desviacion_ulnar_muneca_der
        %p{style: 'margin:0 0 2px; color: #272525; font-family:Arial; font-size: 10px; display: inline-block; width:50%'}
          %b{style: 'color: #333; font-family:Arial'} Desviación Radial Muñeca Derecho:
          =paciente.historia_clinica.sistema_musculoesqueletico.musculos_superior.desviacion_radial_muneca_der
        %p{style: 'margin:0 0 2px; color: #272525; font-family:Arial; font-size: 10px; width: 49%; display: inline-block; text-align:right'}
          %b{style: 'color: #333; font-family:Arial'} Flexión Codo Izquierdo:
          =paciente.historia_clinica.sistema_musculoesqueletico.musculos_superior.flexion_codo_izq
        %p{style: 'margin:0 0 2px; color: #272525; font-family:Arial; font-size: 10px; width: 50%; display: inline-block'}
          %b{style: 'color: #333; font-family:Arial'} Extensión Codo Izquierdo:
          =paciente.historia_clinica.sistema_musculoesqueletico.musculos_superior.extension_codo_izq
        %p{style: 'margin:0 0 2px; color: #272525; font-family:Arial; font-size: 10px; width: 49%; display: inline-block; text-align:right'}
          %b{style: 'color: #333; font-family:Arial'} Supinación Codo Izquierdo:
          =paciente.historia_clinica.sistema_musculoesqueletico.musculos_superior.supinacion_codo_izq
        %p{style: 'margin:0 0 2px; color: #272525; font-family:Arial; font-size: 10px; display: inline-block; width:50%'}
          %b{style: 'color: #333; font-family:Arial'} Pronación Codo Izquierdo:
          =paciente.historia_clinica.sistema_musculoesqueletico.musculos_superior.pronacion_codo_izq
        %p{style: 'margin:0 0 2px; color: #272525; font-family:Arial; font-size: 10px; width: 49%; display: inline-block; text-align:right'}
          %b{style: 'color: #333; font-family:Arial'} Extensión Muñeca Izquierdo:
          =paciente.historia_clinica.sistema_musculoesqueletico.musculos_superior.extension_muneca_izq
        %p{style: 'margin:0 0 2px; color: #272525; font-family:Arial; font-size: 10px; display: inline-block; width:50%'}
          %b{style: 'color: #333; font-family:Arial'} Desviación Ulnal Muñeca Izquierdo:
          =paciente.historia_clinica.sistema_musculoesqueletico.musculos_superior.desviacion_ulnar_muneca_izq
        %p{style: 'margin:0 0 2px; color: #272525; font-family:Arial; font-size: 10px; display: inline-block; width:49%; text-align:right'}
          %b{style: 'color: #333; font-family:Arial'} Desviación Radial Muñeca Izquierdo:
          =paciente.historia_clinica.sistema_musculoesqueletico.musculos_superior.desviacion_radial_muneca_izq

      -if validate_tronco_impression paciente.historia_clinica.sistema_musculoesqueletico.tronco
      -else
        %h4{style: 'margin: 5px 0; text-decoration:underline; text-align:center; color: #333; font-family:Arial; font-size: 10px'} TRONCO
        %p{style: 'margin:0 0 2px; color: #272525; font-family:Arial; font-size: 10px; width: 49%; display: inline-block'}
          %b{style: 'color: #333; font-family:Arial'} Flexión Derecho:
          =paciente.historia_clinica.sistema_musculoesqueletico.tronco.flexion_der
        %p{style: 'margin:0 0 2px; color: #272525; font-family:Arial; font-size: 10px; width: 50%; display: inline-block; text-align: right'}
          %b{style: 'color: #333; font-family:Arial'} Extensión Derecho:
          =paciente.historia_clinica.sistema_musculoesqueletico.tronco.extension_der
        %p{style: 'margin:0 0 2px; color: #272525; font-family:Arial; font-size: 10px; width: 49%; display: inline-block'}
          %b{style: 'color: #333; font-family:Arial'} Flexión Lateral Derecho:
          =paciente.historia_clinica.sistema_musculoesqueletico.tronco.flexion_lateral_der
        %p{style: 'margin:0 0 2px; color: #272525; font-family:Arial; font-size: 10px; display: inline-block; width:50%; text-align:right'}
          %b{style: 'color: #333; font-family:Arial'} Rotación Derecho:
          =paciente.historia_clinica.sistema_musculoesqueletico.tronco.rotacion_der

        %p{style: 'margin:0 0 2px; color: #272525; font-family:Arial; font-size: 10px; width: 49%; display: inline-block'}
          %b{style: 'color: #333; font-family:Arial'} Flexión Izquierdo:
          =paciente.historia_clinica.sistema_musculoesqueletico.tronco.flexion_izq
        %p{style: 'margin:0 0 2px; width: 50%; display: inline-block; color: #272525; font-family:Arial; font-size: 10px; text-align: right'}
          %b{style: 'color: #333; font-family:Arial'} Extensión Izquierdo:
          =paciente.historia_clinica.sistema_musculoesqueletico.tronco.extension_izq
        %p{style: 'margin:0 0 2px; color: #272525; font-family:Arial; font-size: 10px; width: 49%; display: inline-block'}
          %b{style: 'color: #333; font-family:Arial'} Flexión Lateral Izquierdo:
          =paciente.historia_clinica.sistema_musculoesqueletico.tronco.flexion_lateral_izq
        %p{style: 'margin:0 0 2px; color: #272525; font-family:Arial; font-size: 10px; display: inline-block; width:50%; text-align:right'}
          %b{style: 'color: #333; font-family:Arial'} Rotación Izquierdo:
          =paciente.historia_clinica.sistema_musculoesqueletico.tronco.rotacion_izq

      -if validate_cadera_impression paciente.historia_clinica.sistema_musculoesqueletico.cadera
      -else
        %h4{style: 'margin: 5px 0; color: #333; font-family:Arial; font-size: 10px; text-decoration:underline; text-align:center'} CADERA
        %p{style: 'margin:0 0 2px; color: #272525; font-family:Arial; font-size: 10px; width: 33%; display: inline-block'}
          %b{style: 'color: #333; font-family:Arial'} Flexión Derecho:
          =paciente.historia_clinica.sistema_musculoesqueletico.cadera.flexion_der
        %p{style: 'margin:0 0 2px; color: #272525; font-family:Arial; font-size: 10px; width: 33%; display: inline-block'}
          %b{style: 'color: #333; font-family:Arial'} Extensión Derecho:
          =paciente.historia_clinica.sistema_musculoesqueletico.cadera.extension_der
        %p{style: 'margin:0 0 2px; color: #272525; font-family:Arial; font-size: 10px; width: 32%; display: inline-block; text-align:right'}
          %b{style: 'color: #333; font-family:Arial'} Abducción Derecho:
          =paciente.historia_clinica.sistema_musculoesqueletico.cadera.abduccion_der
        %p{style: 'margin:0 0 2px; color: #272525; font-family:Arial; font-size: 10px; width: 33%; display: inline-block'}
          %b{style: 'color: #333; font-family:Arial'} Aducción Derecho:
          =paciente.historia_clinica.sistema_musculoesqueletico.cadera.aduccion_der
        %p{style: 'margin:0 0 2px; color: #272525; font-family:Arial; font-size: 10px; width: 33%; display: inline-block'}
          %b{style: 'color: #333; font-family:Arial'} Rotación Medial Derecho:
          =paciente.historia_clinica.sistema_musculoesqueletico.cadera.rotacion_medial_der
        %p{style: 'margin:0 0 2px; color: #272525; font-family:Arial; font-size: 10px; width: 32%; display: inline-block; text-align:right'}
          %b{style: 'color: #333; font-family:Arial'} Rotación Lateral Derecho:
          =paciente.historia_clinica.sistema_musculoesqueletico.cadera.rotacion_lateral_der

        %p{style: 'margin:0 0 2px; color: #272525; font-family:Arial; font-size: 10px; width: 33%; display: inline-block'}
          %b{style: 'color: #333; font-family:Arial'} Flexión Izquierdo:
          =paciente.historia_clinica.sistema_musculoesqueletico.cadera.flexion_izq
        %p{style: 'margin:0 0 2px; color: #272525; font-family:Arial; font-size: 10px; width: 33%; display: inline-block'}
          %b{style: 'color: #333; font-family:Arial'} Extensión Izquierdo:
          =paciente.historia_clinica.sistema_musculoesqueletico.cadera.extension_izq
        %p{style: 'margin:0 0 2px; color: #272525; font-family:Arial; font-size: 10px; width: 32%; display: inline-block; text-align:right'}
          %b{style: 'color: #333; font-family:Arial'} Abducción Izquierdo:
          =paciente.historia_clinica.sistema_musculoesqueletico.cadera.abduccion_izq
        %p{style: 'margin:0 0 2px; color: #272525; font-family:Arial; font-size: 10px; width: 33%; display: inline-block'}
          %b{style: 'color: #333; font-family:Arial'} Aducción Izquierdo:
          =paciente.historia_clinica.sistema_musculoesqueletico.cadera.aduccion_izq
        %p{style: 'margin:0 0 2px; color: #272525; font-family:Arial; font-size: 10px; width: 33%; display: inline-block'}
          %b{style: 'color: #333; font-family:Arial'} Rotación Medial Izquierdo:
          =paciente.historia_clinica.sistema_musculoesqueletico.cadera.rotacion_medial_izq
        %p{style: 'margin:0 0 2px; color: #272525; font-family:Arial; font-size: 10px; width: 32%; display: inline-block; text-align:right'}
          %b{style: 'color: #333; font-family:Arial'} Rotación Lateral Izquierdo:
          =paciente.historia_clinica.sistema_musculoesqueletico.cadera.rotacion_lateral_izq

      -if validate_minferiores_impression paciente.historia_clinica.sistema_musculoesqueletico.musculos_inferior
      -else
        %h4{style: 'margin: 5px 0; text-decoration:underline; text-align:center; color: #333; font-family:Arial; font-size: 10px'} MIEMBROS INFERIORES
        %p{style: 'margin:0 0 2px; color: #272525; font-family:Arial; font-size: 10px; width: 49%; display: inline-block'}
          %b{style: 'color: #333; font-family:Arial'} Flexión Rodilla Derecho:
          =paciente.historia_clinica.sistema_musculoesqueletico.musculos_inferior.flexion_rodilla_der
        %p{style: 'margin:0 0 2px; color: #272525; font-family:Arial; font-size: 10px; width: 50%; display: inline-block; text-align:right'}
          %b{style: 'color: #333; font-family:Arial'} Extensión Derecho:
          =paciente.historia_clinica.sistema_musculoesqueletico.musculos_inferior.extension_der
        %p{style: 'margin:0 0 2px; color: #272525; font-family:Arial; font-size: 10px; width: 49%; display: inline-block'}
          %b{style: 'color: #333; font-family:Arial'} Dorsflexión Tobillo Derecho:
          =paciente.historia_clinica.sistema_musculoesqueletico.musculos_inferior.dorsflexion_tobillo_der
        %p{style: 'margin:0 0 2px; color: #272525; font-family:Arial; font-size: 10px; display: inline-block; width:50%; text-align:right'}
          %b{style: 'color: #333; font-family:Arial'} Plantiflexión Tobillo Derecho:
          =paciente.historia_clinica.sistema_musculoesqueletico.musculos_inferior.plantiflexion_der
        %p{style: 'margin:0 0 2px; color: #272525; font-family:Arial; font-size: 10px; width: 50%; display: inline-block'}
          %b{style: 'color: #333; font-family:Arial'} Inversión Tobillo Derecho:
          =paciente.historia_clinica.sistema_musculoesqueletico.musculos_inferior.inversion_tobillo_der
        %p{style: 'margin:0 0 2px; color: #272525; font-family:Arial; font-size: 10px; display: inline-block; width:49%; text-align:right'}
          %b{style: 'color: #333; font-family:Arial'} Eversión Tobillo Derecho:
          =paciente.historia_clinica.sistema_musculoesqueletico.musculos_inferior.eversion_tobillo_der

        %p{style: 'margin:0 0 2px; color: #272525; font-family:Arial; font-size: 10px; width: 49%; display: inline-block'}
          %b{style: 'color: #333; font-family:Arial'} Flexión Rodilla Izquierdo:
          =paciente.historia_clinica.sistema_musculoesqueletico.musculos_inferior.flexion_rodilla_izq
        %p{style: 'margin:0 0 2px; color: #272525; font-family:Arial; font-size: 10px; width: 50%; display: inline-block; text-align:right'}
          %b{style: 'color: #333; font-family:Arial'} Extensión Izquierdo:
          =paciente.historia_clinica.sistema_musculoesqueletico.musculos_inferior.extension_izq
        %p{style: 'margin:0 0 2px; color: #272525; font-family:Arial; font-size: 10px; width: 49%; display: inline-block'}
          %b{style: 'color: #333; font-family:Arial'} Dorsflexión Tobillo Izquierdo:
          =paciente.historia_clinica.sistema_musculoesqueletico.musculos_inferior.dorsflexion_tobillo_izq
        %p{style: 'margin:0 0 2px; color: #272525; font-family:Arial; font-size: 10px; display: inline-block; width:50%; text-align:right'}
          %b{style: 'color: #333; font-family:Arial'} Plantiflexión Tobillo Izquierdo:
          =paciente.historia_clinica.sistema_musculoesqueletico.musculos_inferior.plantiflexion_izq
        %p{style: 'margin:0 0 2px; width: 50%; display: inline-block; color: #272525; font-family:Arial; font-size: 10px'}
          %b{style: 'color: #333; font-family:Arial'} Inversión Tobillo Izquierdo:
          =paciente.historia_clinica.sistema_musculoesqueletico.musculos_inferior.inversion_tobillo_izq
        %p{style: 'margin:0 0 2px; color: #272525; font-family:Arial; font-size: 10px; display: inline-block; width:49%; text-align:right'}
          %b{style: 'color: #333; font-family:Arial'} Eversión Tobillo Izquierdo:
          =paciente.historia_clinica.sistema_musculoesqueletico.musculos_inferior.eversion_tobillo_izq


      -if paciente.historia_clinica.sistema_musculoesqueletico.dolors.count > 0
        %h4{style: 'margin: 5px 0; text-decoration:underline; text-align:center; color: #333; font-family:Arial; font-size: 10px'} DOLORES
        -paciente.historia_clinica.sistema_musculoesqueletico.dolors.each do |dolor|
          %p{style: 'margin:0 0 2px; color: #272525; font-family:Arial; font-size: 10px; width: 49%; display: inline-block'}
            %b{style: 'color: #333; font-family:Arial'} Localización:
            =dolor.localizacion
          %p{style: 'margin:0 0 2px; color: #272525; font-family:Arial; font-size: 10px; width: 50%; display: inline-block; text-align: right'}
            %b{style: 'color: #333; font-family:Arial'} Tipo:
            =dolor.tipo
          %p{style: 'margin:0 0 2px; color: #272525; font-family:Arial; font-size: 10px; width: 49%; display: inline-block'}
            %b{style: 'color: #333; font-family:Arial'} Reposo:
            =dolor.reposo
          %p{style: 'margin:0 0 2px; color: #272525; font-family:Arial; font-size: 10px; width: 49%; display: inline-block; text-align:right'}
            %b{style: 'color: #333; font-family:Arial'} Movimiento:
            =dolor.movimiento
          %p{style: 'margin:0 0 2px; color: #272525; font-family:Arial; font-size: 10px; width: 50%; display: inline-block'}
            %b{style: 'color: #333; font-family:Arial'} Palpación:
            =dolor.palpacion
          %p{style: 'margin:0 0 2px; color: #272525; font-family:Arial; font-size: 10px; width: 49%; display: inline-block; text-align: right'}
            %b{style: 'color: #333; font-family:Arial'} Resistencia:
            =dolor.resistencia
          -if !dolor.exaservacion.blank?
            %p{style: 'margin:0 0 2px; color: #272525; font-family:Arial; font-size: 10px;  width: 100%; display: inline-block'}
              %b{style: 'color: #333; font-family:Arial'} Exaservación:
              =dolor.exaservacion
          -if dolor != paciente.historia_clinica.sistema_musculoesqueletico.dolors.last
            %hr{style:'border-top: 1px dashed #f9f9f9; margin: 4px'}
      -else

      -if paciente.historia_clinica.sistema_musculoesqueletico.edemas.count > 0
        %h4{style: 'margin: 5px 0; text-decoration:underline; text-align:center; color: #333; font-family:Arial; font-size: 10px'} EDEMAS
        -paciente.historia_clinica.sistema_musculoesqueletico.edemas.each do |edema|
          %p{style: 'margin:0 0 2px; color: #272525; font-family:Arial; font-size: 10px; width: 33%; display: inline-block'}
            %b{style: 'color: #333; font-family:Arial'} Localización:
            =edema.localizacion
          %p{style: 'margin:0 0 2px; color: #272525; font-family:Arial; font-size: 10px; width: 33%; display: inline-block'}
            %b{style: 'color: #333; font-family:Arial'} Derecho:
            =edema.derecho
          %p{style: 'margin:0 0 2px; color: #272525; font-family:Arial; font-size: 10px; width: 32%; display: inline-block; text-align:right'}
            %b{style: 'color: #333; font-family:Arial'} Izquierdo:
            =edema.izquierdo
          %p{style: 'margin:0 0 2px; color: #272525; font-family:Arial; font-size: 10px; width: 50%; display: inline-block'}
            %b{style: 'color: #333; font-family:Arial'} Total:
            =edema.total
          %p{style: 'margin:0 0 2px; color: #272525; font-family:Arial; font-size: 10px; width: 49%; display: inline-block; text-align: right'}
            %b{style: 'color: #333; font-family:Arial'} Grado:
            =edema.grado
          -if edema != paciente.historia_clinica.sistema_musculoesqueletico.edemas.last
            %hr{style:'border-top: 1px dashed #f9f9f9; margin: 4px'}
      -else


  %div.neuromuscular
    -if paciente.historia_clinica.sistema_neuromusculars.count > 0
      %h4{style: 'text-align:center; margin-bottom:10px; font-size: 10px; border-bottom: 1px solid #333; color: #333; font-family:Arial; padding:5px'} SISTEMA NEUROMUSCULAR
      -paciente.historia_clinica.sistema_neuromusculars.each do |sm|
        %p{style: 'margin:0 0 2px; color: #272525; font-family:Arial; font-size: 10px; width: 50%; display: inline-block'}
          %b{style: 'color: #333; font-family:Arial'} Prueba Neuromuscular:
          =sm.prueba_neuromuscular.nombre
        %p{style: 'margin:0 0 2px; color: #272525; font-family:Arial; font-size: 10px; width: 49%; display: inline-block; text-align:right'}
          %b{style: 'color: #333; font-family:Arial'} Localización:
          =sm.localizacion
        -if !sm.resultado.blank?
          %p{style: 'margin:0 0 2px; color: #272525; font-family:Arial; font-size: 10px; width: 100%; display: inline-block'}
            %b{style: 'color: #333; font-family:Arial'} Resultado:
            =sm.resultado
        -if !sm.observacion.blank?
          %p{style: 'margin:0 0 2px; color: #272525; font-family:Arial; font-size: 10px; width: 100%; display: inline-block'}
            %b{style: 'color: #333; font-family:Arial'} Observación:
            =sm.observacion
        -if sm != paciente.historia_clinica.sistema_neuromusculars.last
          %hr{style:'border-top: 1px dashed #f9f9f9; margin: 4px'}
    -else


    %div.tegumentario
      -if paciente.historia_clinica.sistema_tegumentario.nil?
      -else
        %h4{style: 'text-align:center; margin-bottom:10px; font-size: 10px; border-bottom: 1px solid #333; color: #333; font-family:Arial; padding:5px'} SISTEMA TEGUMENTARIO
        %p{style: 'margin:0 0 2px; color: #272525; font-family:Arial; font-size: 10px; width: 33%; display: inline-block'}
          %b{style: 'color: #333; font-family:Arial'} Color:
          =paciente.historia_clinica.sistema_tegumentario.color
        %p{style: 'margin:0 0 2px; color: #272525; font-family:Arial; font-size: 10px; width: 33%; display: inline-block'}
          %b{style: 'color: #333; font-family:Arial'} Estado:
          =paciente.historia_clinica.sistema_tegumentario.estado
        %p{style: 'margin:0 0 2px; color: #272525; font-family:Arial; font-size: 10px; width: 32%; display: inline-block; text-align:right'}
          %b{style: 'color: #333; font-family:Arial'} Tumefacción:
          =paciente.historia_clinica.sistema_tegumentario.tumefaccion == true ? 'Si' : 'No'
        %p{style: 'margin:0 0 2px; color: #272525; font-family:Arial; font-size: 10px; width: 33%; display: inline-block'}
          %b{style: 'color: #333; font-family:Arial'} Escaras:
          =paciente.historia_clinica.sistema_tegumentario.escaras == true ? 'Si' : 'No'
        %p{style: 'margin:0 0 2px; color: #272525; font-family:Arial; font-size: 10px; width: 33%; display: inline-block'}
          %b{style: 'color: #333; font-family:Arial'} Heridas:
          =paciente.historia_clinica.sistema_tegumentario.heridas == true ? 'Si' : 'No'
        %p{style: 'margin:0 0 2px; color: #272525; font-family:Arial; font-size: 10px; width: 32%; display: inline-block; text-align:right'}
          %b{style: 'color: #333; font-family:Arial'} Cicatriz:
          =paciente.historia_clinica.sistema_tegumentario.cicatriz == "true" ? 'Si' : 'No'

    %div.pruebas_especiales
      -if paciente.historia_clinica.pruebas_especiales_pacientes.count > 0
        -if validate_pruebas_especiales paciente.historia_clinica.pruebas_especiales_pacientes
        -else
          %h4{style: 'text-align:center; margin-bottom:10px; font-size: 10px; border-bottom: 1px solid #333; color: #333; font-family:Arial; padding:5px'}PRUEBAS ESPECIALES
          -paciente.historia_clinica.pruebas_especiales_pacientes.each do |pe|
            %p{style: 'margin:0 0 2px; color: #272525; font-family:Arial; font-size: 10px; width: 49%; display: inline-block'}
              %b{style: 'color: #333; font-family:Arial'} Prueba Especial:
              =pe.pruebas_especial.nombre
            %p{style: 'margin:0 0 2px; color: #272525; font-family:Arial; font-size: 10px; width: 50%; display: inline-block; text-align:right'}
              %b{style: 'color: #333; font-family:Arial'} Zona:
              =pe.zona
            %p{style: 'margin:0 0 2px; color: #272525; font-family:Arial; font-size: 10px; width: 49%; display: inline-block'}
              %b{style: 'color: #333; font-family:Arial'} Derecho:
              =pe.derecho
            %p{style: 'margin:0 0 2px; color: #272525; font-family:Arial; font-size: 10px; width: 50%; display: inline-block; text-align:right'}
              %b{style: 'color: #333; font-family:Arial'} Izquierdo:
              =pe.izquierdo
            -if !pe.observaciones.blank?
              %p{style: 'margin:0 0 2px;color: #272525; font-family:Arial; font-size: 10px;  width: 100%; display: inline-block'}
                %b{style: 'color: #333; font-family:Arial'} Observaciones:
                =pe.observaciones
            -if pe != paciente.historia_clinica.pruebas_especiales_pacientes.last
              %hr{style:'border-top: 1px dashed #f9f9f9; margin: 4px'}
      -else

    %div.pruebas_flexibilidad
      -if paciente.historia_clinica.pruebas_flexibilidad_pacientes.count > 0
        -if validate_pruebas_flexibilidad paciente.historia_clinica.pruebas_flexibilidad_pacientes
        -else
          %h4{style: 'text-align:center; margin-bottom:10px; font-size: 10px; border-bottom: 1px solid #333; color: #333; font-family:Arial; padding:5px'}PRUEBAS DE FLEXIBILIDAD
          -paciente.historia_clinica.pruebas_flexibilidad_pacientes.each do |pf|
            -#%p{style: 'margin:0 0 2px; color: #272525; font-family:Arial; font-size: 10px; width: 100%; display: inline-block'}
              %b{style: 'color: #333; font-family:Arial'} Prueba Flexibilidad:
              =pf.pruebas_flexibilidad.nombre
            %p{style: 'margin:0 0 2px; color: #272525; font-family:Arial; font-size: 10px; width: 33%; display: inline-block'}
              %b{style: 'color: #333; font-family:Arial'} Músculo:
              =pf.musculo
            %p{style: 'margin:0 0 2px; color: #272525; font-family:Arial; font-size: 10px; width: 33%; display: inline-block'}
              %b{style: 'color: #333; font-family:Arial'} Positivo:
              =pf.positivo
            %p{style: 'margin:0 0 2px; color: #272525; font-family:Arial; font-size: 10px; width: 32%; display: inline-block; text-align:right'}
              %b{style: 'color: #333; font-family:Arial'} Negativo:
              =pf.negativo
            %p{style: 'margin:0 0 2px; color: #272525; font-family:Arial; font-size: 10px; width: 33%; display: inline-block'}
              %b{style: 'color: #333; font-family:Arial'} Leve:
              =pf.leve
            %p{style: 'margin:0 0 2px; color: #272525; font-family:Arial; font-size: 10px; width: 33%; display: inline-block'}
              %b{style: 'color: #333; font-family:Arial'} Moderado:
              =pf.moderado
            %p{style: 'margin:0 0 2px; color: #272525; font-family:Arial; font-size: 10px; width: 32%; display: inline-block; text-align:right'}
              %b{style: 'color: #333; font-family:Arial'} Severo:
              =pf.severo
            -if pf != paciente.historia_clinica.pruebas_flexibilidad_pacientes.last
              %hr{style:'border-top: 1px dashed #f9f9f9; margin: 4px'}
      -else


    %div.evoluciones
      -if paciente.evolucions.count > 0
        %h4{style: 'text-align:center; margin-bottom:10px; font-size: 9px; border-bottom: 1px solid #333; color: #333; font-family:Arial; padding:5px'}EVOLUCIONES
        -paciente.evolucions.order("creation_date asc").each do |evolucion|
          -if !evolucion.creation_date.blank?
            %p{style: 'margin:0 0 2px; color: #272525; font-family:Arial; font-size: 9px; width: 100%; display: inline-block'}
              %b{style: 'color: #333; font-family:Arial'} Fecha de Creación:
              =evolucion.creation_date
          -if !evolucion.descripcion.blank?
            %p{style: 'margin:0 0 2px; color: #272525; font-family:Arial; font-size: 9px; width: 100%; display: inline-block'}
              %b{style: 'color: #333; font-family:Arial'} Descripción:
              =evolucion.descripcion
          %hr{style:'border-top: 1px dashed #f9f9f9; margin: 4px'}
      -else
        -# PENDIENTE?
    
    %div.diagnostico
      - diag = paciente.historia_clinica.diagnostico
      -if !diag.nil?
        %h4{style: 'text-align:center; margin-bottom:10px; font-size: 9px; border-bottom: 1px solid #333; color: #333; font-family:Arial; padding:5px'}DIAGNÓSTICOS

        %p{style: 'margin:0 0 5px; color: #272525; font-family:Arial; font-size: 10px; width: 100%; display: inline-block'}
          %b{style: 'color: #333; font-family:Arial'} Diagnóstico:
          =diag.diagnostico
        %br
        %p{style: 'margin:0 0 5px; color: #272525; font-family:Arial; font-size: 10px; width: 100%; display: inline-block'}
          %b{style: 'color: #333; font-family:Arial'} Recomendaciones:
          =diag.recomendacion
        %br
        %p{style: 'margin:0 0 5px; color: #272525; font-family:Arial; font-size: 10px; width: 100%; display: inline-block'}
          %b{style: 'color: #333; font-family:Arial'} Restricciones:
          =diag.restriccion


