.all_forms_style
  %h4 PRUEBAS ESPECIALES PACIENTE
  %br
  =form_for @clinic_history, url: { action: @clinic_history.id.nil? ? 'create_clinic_history' : 'update_clinic_history' }, html: {class: ""} do |f|
    =f.hidden_field :paciente_id, value: @patient.id
    =f.fields_for :pruebas_especiales_pacientes do |test|
      .row.text-center
        .col-md-4.col-sm-4.col-xs-12
          .form-group
            =test.label :pruebas_especial
            =test.collection_select(:pruebas_especial_id, PruebasEspecial.all, :id, :nombre, {}, {:class=>'form-control chosen-selects'})
        .col-md-4.col-sm-4.col-xs-12
          .form-group
            =test.label :derecho
            =test.text_field :derecho, class: 'test_count form-control'
        .col-md-4.col-sm-4.col-xs-12
          .form-group
            =test.label :izquierdo
            =test.text_field :izquierdo, class: 'form-control'
        .col-md-4.col-sm-4.col-xs-12
          .form-group
            =test.label :zona
            =test.text_field :zona, class: 'form-control'
        .col-md-4.col-sm-4.col-xs-12
          .form-group
            =test.label :observaciones
            =test.text_field :observaciones, class: 'form-control'

      .text-right
        =test.label :_destroy, 'Eliminar', class: 'link_remove'
        =test.check_box :_destroy
      %hr
    .input_fields_wrap_tests
    %button.add_field_button.second-btn{ type: 'button', onclick: "add_more_tests()" } Agregar Pruebas
    %br
    %br
    %h4 PRUEBAS FLEXIBILIDAD PACIENTE
    %br
    =f.fields_for :pruebas_flexibilidad_pacientes do |testf|
      .row.text-center
        -#.col-md-4.col-sm-4.col-xs-12
          .form-group
            =testf.label :pruebas_flexibilidad
            =testf.collection_select(:pruebas_flexibilidad_id, PruebasFlexibilidad.all, :id, :nombre, {}, {:class=>'form-control chosen-selects'})
        .col-md-4.col-sm-4.col-xs-12
          .form-group
            =testf.label :musculo, 'Músculo'
            =testf.text_field :musculo, class: 'flex_count form-control'
        .col-md-4.col-sm-4.col-xs-12
          .form-group
            =testf.label :positivo
            =testf.text_field :positivo, class: 'form-control'
        .col-md-4.col-sm-4.col-xs-12
          .form-group
            =testf.label :negativo
            =testf.text_field :negativo, class: 'form-control'
        .col-md-4.col-sm-4.col-xs-12
          .form-group
            =testf.label :leve
            =testf.text_field :leve, class: 'form-control'
        .col-md-4.col-sm-4.col-xs-12
          .form-group
            =testf.label :moderado
            =testf.text_field :moderado, class: 'form-control'
        .col-md-4.col-sm-4.col-xs-12
          .form-group
            =testf.label :severo
            =testf.text_field :severo, class: 'form-control'

      .text-right
        =testf.label :_destroy, 'Eliminar', class: 'link_remove'
        =testf.check_box :_destroy
      %hr
    .input_fields_wrap_flex
    %button.add_field_button.second-btn{ type: 'button', onclick: "add_more_flex()" } Agregar Pruebas
    %br
    .text-center
      %br
      =f.submit class: 'btn primary-btn'
