.all_forms_style
  %h4 Crear Sistema tegumentario
  %p Para crear el historia clínica debe tener un paciente creado
  %br
  = form_for @clinic_history, url: {action: @clinic_history.id.nil? ? 'create_clinic_history' : 'update_clinic_history'}, html: {class: ""} do |f|
    =f.hidden_field :paciente_id, value: @patient.id
    =f.fields_for :sistema_tegumentario do |tegu|
      .text-center
        .form-group-check
          =tegu.label :color, class: 'lbl_subtitle_check'
          =label_tag(:color_normal, "Normal ")
          =tegu.radio_button(:color, "normal")
          =label_tag(:color_erimatosa, "Erimatosa ")
          =tegu.radio_button(:color, "erimatosa")
          =label_tag(:color_equimosis, "Equimosis ")
          =tegu.radio_button(:color, "equimosis")
          =label_tag(:color_otros, "Otros ")
          =tegu.radio_button(:color, "otros")
        .form-group-check
          =tegu.label :estado, class: 'lbl_subtitle_check'
          =label_tag(:estado_normal, "Normal ")
          =tegu.radio_button(:estado, "normal")
          =label_tag(:color_erimatosa, "Seca ")
          =tegu.radio_button(:estado, "seca")
          =label_tag(:estado_brillante, "Brillante ")
          =tegu.radio_button(:estado, "brillante")
        .form-group-check
          =tegu.label :tumefaccion, class: 'lbl_subtitle_check'
          =label_tag(:tumefaccion_si, "Si ")
          =tegu.radio_button(:tumefaccion, "true")
          =label_tag(:tumefaccion_no, "No ")
          =tegu.radio_button(:tumefaccion, "false")
        .form-group-check
          =tegu.label :escaras, class: 'lbl_subtitle_check'
          =label_tag(:escaras_si, "Si ")
          =tegu.radio_button(:escaras, "true")
          =label_tag(:escaras_no, "No ")
          =tegu.radio_button(:escaras, "false")
        .form-group-check
          =tegu.label :heridas, class: 'lbl_subtitle_check'
          =label_tag(:heridas_si, "Si ")
          =tegu.radio_button(:heridas, "true")
          =label_tag(:heridas_no, "No ")
          =tegu.radio_button(:heridas, "false")
        .form-group-check
          =tegu.label :cicatriz, class: 'lbl_subtitle_check'
          =label_tag(:cicatriz_si, "Si ")
          =tegu.radio_button(:cicatriz, "true")
          =label_tag(:cicatriz_no, "No ")
          =tegu.radio_button(:cicatriz, "false")

      %br
      .text-center
        =f.submit class: 'btn primary-btn'
