.all_forms_style
  %h4 Sistema Neuromuscular
  %p Para crear el sistema debe crear primero una historia clinica
  %br
  = form_for @clinic_history, url: {action: @clinic_history.id.nil? ? 'create_clinic_history' : 'update_clinic_history'}, html: {class: ""} do |f|
    =f.hidden_field :paciente_id, value: @patient.id
    =f.fields_for :sistema_neuromusculars do |neuro|
      .row.text-center
        .col-md-4.col-sm-4.col-xs-12
          .form-group
            =neuro.label :prueba_prueba_neuromuscular_id, 'Pruebas Neuromuscular'
            =neuro.collection_select(:prueba_neuromuscular_id, PruebaNeuromuscular.all, :id, :nombre, {}, {:class=>'form-control chosen-selects'})
        .col-md-4.col-sm-4.col-xs-12
          .form-group
            =neuro.label :localizacion, 'Localización', class: 'neuro_count'
            =neuro.text_field :localizacion, class: 'form-control'
        .col-md-4.col-sm-4.col-xs-12
          .form-group
            =neuro.label :resultado
            =neuro.text_field :resultado, class: 'form-control'
        .col-md-4.col-sm-4.col-xs-12
          .form-group
            =neuro.label :observacion, 'Observación'
            =neuro.text_area :observacion, class: 'form-control'

      .text-right
        =neuro.label :_destroy, 'Eliminar', class: 'link_remove'
        =neuro.check_box :_destroy
      %hr
    .input_fields_wrap_neuro
    %br
    %button.add_field_button.second-btn{ type: 'button', onclick: "add_more_neuro()" } Agregar
    %br
    .text-center
      %br
      =f.submit class: 'btn primary-btn'