.all_forms_style
  %h4 Sistema Cardiopulmonar
  %p Para crear el sistema debe crear primero una historia clinica
  %br
  = form_for @cardiopulmonar, url: {controller: 'cardiopulmonar', action: @cardiopulmonar.id.nil? ? 'create' : 'update'}, html: {class: ""} do |f|
    =hidden_field_tag :patient_id,  @patient.id
    =f.hidden_field :historia_clinica_id, value: @clinic_history.id
    .row.text-center
      .col-md-4.col-sm-4.col-xs-12
        .form-group
          =f.label :pa, 'Presión arterial'
          =f.text_field :pa, class: 'form-control'
      .col-md-4.col-sm-4.col-xs-12
        .form-group
          =f.label :fc, 'Frecuencia cardíaca'
          =f.text_field :fc, class: 'form-control'
      .col-md-4.col-sm-4.col-xs-12
        .form-group
          =f.label :fr, 'Frecuencia respiratoria'
          =f.text_field :fr, class: 'form-control'
      .col-md-4.col-sm-4.col-xs-12
        .form-group
          =f.label :sao2, 'Saturacíon de oxígeno'
          =f.text_field :sao2, class: 'form-control'
      .col-md-4.col-sm-4.col-xs-12
        .form-group
          =f.label :ausc_pulmonar, 'Auscultación pulmonar'
          =f.text_field :ausc_pulmonar, class: 'form-control'
      .col-md-4.col-sm-4.col-xs-12
        .form-group
          =f.label :ausc_cardiaca, 'Auscultación cardíaca'
          =f.text_field :ausc_cardiaca, class: 'form-control'
    .text-center
      %br
      =f.submit class: 'btn primary-btn'