%script
  $(document).ready(function(){
  $('#accordion').accordion();
  });

=link_to 'Cerrar Sesión', destroy_usuario_session_path, method: :delete, class: 'btn btn-danger'
%h1 VISTA PRUEBA PROYECTO NUEVO
%h2 1.PRUEBA BOOSTRAP
.row
  .col-md-6
    %h3 primera columna
  .col-md-6
    %h3 Segunda columna
%br
%h2 2. PRUEBA JQUERY - BOOTSTRAP
%button.btn.btn-primary.btn-lg{type:'button', data: {toggle:'modal', target: '#myModal'}} Launch demo modal
.modal.fade#myModal{tabindex:'-1', role:'dialog', 'aria-labelledby'=>'myModalLabel'}
  .modal-dialog{role:'document'}
    .modal-content
      .modal-header
        %button.close{type:'button', 'data-dismiss'=>'modal', 'aria-label'=>'Close'}
          %span{'aria-hidden'=>'true'}X
        %h4.modal-title#myModalLabel Modal title
      .modal-body Información en el body del modal
%br
%h2 3. PRUEBA JQUERY UI
.container
  #accordion
    %h3 Section 1
    %div
      %p
        Mauris mauris ante, blandit et, ultrices a, suscipit eget, quam. Integer
        ut neque. Vivamus nisi metus, molestie vel, gravida in, condimentum sit
        amet, nunc. Nam a nibh. Donec suscipit eros. Nam mi. Proin viverra leo ut
        odio. Curabitur malesuada. Vestibulum a velit eu ante scelerisque vulputate.

    %h3 Section 2
    %div
      %p
        Sed non urna. Donec et ante. Phasellus eu ligula. Vestibulum sit amet
        purus. Vivamus hendrerit, dolor at aliquet laoreet, mauris turpis porttitor
        velit, faucibus interdum tellus libero ac justo. Vivamus non quam. In
        suscipit faucibus urna.
%h2 4. PRUEBA TRADUCCIONES
%p cargada por defecto en :es en el archivo proyecto/config/initializers/locale.rb
%br
%p='Traduccion de activerecord.models.admin_user.many ubicado en proyecto/config/locales/es.yml = '+ t('activerecord.models.admin_user.many')
%br
%h2 5. PRUEBA ARQUITECTURA DDD
%p= 'esta funcionando el ejemplo de prueba de DDD(Domain Driven Design) ? '+ @prueba_ddd.to_s