.bg-white
  .container.login
    .text-left.menu
      %a{href:'#'}
        %div.logo

    .box
      .box-title
        %h3.text-center Iniciar sesión
      .box-content.text-center
        = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
          .form-group
            = f.email_field :email, autofocus: true, class: 'form-control', placeholder: 'Correo Electrónico'
          .form-group
            = f.password_field :password, autocomplete: 'off', class: 'form-control', placeholder: 'Contraseña'
          - if devise_mapping.rememberable?
            .form-group.text-left
              = f.check_box :remember_me
              = f.label :remember_me
          .actions
            = f.submit 'Iniciar Sesión', class: 'btn primary-btn'

    .text-right
      %br
      %br
      %ul.inline-block
        %li.inline-block
          %a{type:"button", "data-toggle"=>"modal", "data-target"=>"#myModal"}  
            ACUERDO DE USO Y LICENCIA



= render template: 'layouts/license'


