.field_with_errors > input, .field_with_errors >textarea {
  border-color: #dd4b39;
}

.button-submit-invoice {
  margin-bottom: 0;
  margin-top: 24px;
}

.period-edit {
  display: none;
}

.link-license {
  font-size: 14px;
  color: #444;
  padding: 0 7px;
  &:hover {
    cursor: pointer;
  }
}

//License 
.modal-license {
  .modal-title {
    color: #000 !important;
    text-align: center;
    font-family: 'monospace';
  }
  p {
    font-family: 'monospace';
    font-size: 15px;
    text-align: justify;
    padding: 12px;
  }
  .modal-body {
    a {
      color: #337ab7;
      font-family: 'monospace';
      font-size: 15px;
    }
  }
}

//Sidebar
.main-sidebar {
  -webkit-transition: -webkit-transform .3s ease-in-out,width .3s ease-in-out !important;
  -moz-transition: -moz-transform .3s ease-in-out,width .3s ease-in-out !important;
  -o-transition: -o-transform .3s ease-in-out,width .3s ease-in-out !important;
  transition: transform .3s ease-in-out,width .3s ease-in-out !important;
}

.content-wrapper, .main-footer {
  -webkit-transition: -webkit-transform .3s ease-in-out,margin .3s ease-in-out !important;
  -moz-transition: -moz-transform .3s ease-in-out,margin .3s ease-in-out !important;
  -o-transition: -o-transform .3s ease-in-out,margin .3s ease-in-out !important;
  transition: transform .3s ease-in-out,margin .3s ease-in-out !important;
}


//Form clinic history
.form-to-clinic-h .radio label {
  width: 50px;
  text-align: left;
}

.form-to-clinic-h label {
  display: block;
}

.form-to-clinic-h .radio {
  display: inline-block;
}

.form-group-check {
  text-align: left;
  margin-bottom: 14px;
  padding-left: 35px;
  .lbl_subtitle_check {
    width: 150px;
    color: #333 !important;
    &:after {
      content: ':';
    }
  }
  label {
    margin-bottom: 2px;
    color: #333;
  }
  input {
    margin-right: 25px;
  }
}

.form-to-clinic-h h3 {
  margin: 25px 0 30px;
}

.form-to-clinic-h hr {
  margin: 35px 0;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

.info-header-user small:nth-child(1) {
  margin: 0 30px 0 1px;
}

.cont-psicomotricidad .radio label {
  width: auto !important;
}

//Style accordion
.style-accordion {
  .panel-heading {
    h4 {
      color: #3c8dbc;
    }
    a {
      span {
        float: right;
        font-size: 29px;
        margin-top: -7px;
      }
    }
  }
  .panel-group .panel {
    margin-bottom: 10px;
  }
}

//Link delete item red.
.remove_field.link_remove {
  color: #A94442;
  display: inline-block;
  width: 95%;
  text-align: right;
}

//Table Daniels Scale
.table-daniels td {
  padding: 3px 0;
}

.datepicker.datepicker-dropdown {
  z-index: 9999 !important;
}


//Medical
.clinic-medical {
  textarea.form-control {
    min-height: 100px;
  }
}


//Responsive
@media (min-width: 768px) {
	.sidebar-toggle-small {
		display: none;
	}
} 

@media (max-width: 767px) {
	.sidebar-toggle-large {
		display: none;
	}
	.sidebar-toggle-small {
		display: inline-block;
	}
  .form-group-check {
    padding-left: 15px;
  }
  .lbl_subtitle_check {
    width: 150px;
    color: #333 !important;
  }
}

@media (max-width: 530px) {
  .lbl_subtitle_check {
    width: 100% !important;
  }
}

.hide-idemne {
  display: none;
}

