%script
  $(document).ready(function() {
  /*
  /*****
  /*
  /* Actualmente no se usa este script
  /*
  /*****
  /$('input[type=radio][class=radio-control]').change(function() {
  /console.log(this.value);
  /if (this.value == "f") {
  /$("#indemne_no").show();
  /}
  /else {
  /$("#indemne_no").hide();
  /}
  /});
  /*/
  });

= form_for @genito, url: { action: @genito.id.nil? ? 'create' : 'update'}, html: {class: "form-to-clinic-h"} do |f|
  .box_body
    =hidden_field_tag :patient_id,  @patient.id
    =f.hidden_field :historia_clinica_id
    .row.text-center
      / 
        -#Comentario de bloque de haml solo con ese "/"
        .col-md-12.col-sm-12.col-xs-12
          .form-group
            =f.label :indemne
            .radio
              %label
                = radio_button("sistema_neurosensorial_vestirse", "indemne", "t", { name: 'sistema_genitourinario[indemne]', checked: f.object.indemne ? true : false, class: 'radio-control' })
                Si
            .radio
              %label
                = radio_button("sistema_genitourinario_vestirse", "indemne", "f", { name: 'sistema_genitourinario[indemne]', checked: f.object.indemne ? false : true, class: 'radio-control' })
                No

        .col-md-12.col-sm-12.col-xs-12
          %p
            En caso de ser negativo opciones aquí abajo
      -##indemne_no{ class: @genito.indemne == true ? 'hide-idemne' : '' }
      #indemne_no{ class: @genito.indemne == true ? '' : '' }
        .col-md-4.col-sm-4.col-xs-12
          .form-group
            =f.label :incontinencia, 'Incontinencia urinaria'
            - opt = [['Seleccione una', nil],['Esfuerzo', 'Esfuerzo'], ['Urgencia', 'Urgencia'], ['Mixta', 'Mixta'], ['Rebosamiento', 'Rebosamiento'], ['Neurogena', 'Neurogena']]
            =f.select :incontinencia, opt, {}, {class:'form-control'}


        .col-md-4.col-sm-4.col-xs-12
          .form-group
            =f.label :prolapsos
            .radio
              %label
                = f.radio_button :prolapsos, true
                Si
            .radio
              %label
                = f.radio_button :prolapsos, false
                No

        .col-md-4.col-sm-4.col-xs-12
          .form-group
            =f.label :diastasis, 'Diástasis de los rectos del abdomen'
            .radio
              %label
                = f.radio_button :diastasis, true
                Si
            .radio
              %label
                = f.radio_button :diastasis, false
                No

        .col-md-4.col-sm-4.col-xs-12
          .form-group
            =f.label :trastornos, 'Trastornos de la menstruación'
            - opt = [['Seleccione una', nil],['Dismenorrea', 'Dismenorrea'], ['Hipomenorrea', 'Hipomenorrea'], ['Amenorrea', 'Amenorrea']]
            =f.select :trastornos, opt, {}, {class:'form-control'}

        .col-md-4.col-sm-4.col-xs-12
          .form-group
            =f.label :incontinencia_fecal
            .radio
              %label
                = f.radio_button :incontinencia_fecal, true
                Si
            .radio
              %label
                = f.radio_button :incontinencia_fecal, false
                No

        .col-md-4.col-sm-4.col-xs-12
          .form-group
            =f.label :estrenimiento, 'Estreñimiento'
            .radio
              %label
                = f.radio_button :estrenimiento, true
                Si
            .radio
              %label
                = f.radio_button :estrenimiento, false
                No
        .col-md-4.col-sm-4.col-xs-12
          .form-group
            =f.label :disfuncion_sexual, 'Disfunción sexual'
            .radio
              %label
                = f.radio_button :disfuncion_sexual, true
                Si
            .radio
              %label
                = f.radio_button :disfuncion_sexual, false
                No
        .col-md-12.col-sm-12.col-xs-12
          .form-group
            =f.label :observaciones
            =f.text_area :observaciones, class: 'form-control'
                
          


    .text-center
      %br
      =f.submit class: 'btn btn-primary'
      %br
      %br

-if current_usuario.can_edit == false && !@genito.new_record?
  %script
    disableInputs();