= form_for @remi, url: {action: @remi.id.nil? ? 'create' : 'update'}, html: {class: ""} do |diag|
  =diag.hidden_field :historia_clinica_id
  .row.text-center
    .col-md-6.col-sm-6.col-xs-12
      .form-group
        =diag.label :diagnostico, 'Diagnóstico general'
        =diag.text_area :diagnostico, class: 'form-control'
    .col-md-6.col-sm-6.col-xs-12
      .form-group
        =diag.label :recomendacion, 'Recomendaciones'
        =diag.text_area :recomendacion, class: 'form-control'
    .col-md-6.col-sm-6.col-xs-12
      .form-group
        =diag.label :sugerencia_terapeutica, 'Sugerencia terapéutica'
        =diag.text_area :sugerencia_terapeutica, class: 'form-control'
    .col-md-6.col-sm-6.col-xs-12
      .form-group
        =diag.label :objetivo_general, 'Objetivo general'
        =diag.text_area :objetivo_general, class: 'form-control'
    .col-md-6.col-sm-6.col-xs-12
      .form-group
        =diag.label :objetivo_especifico, 'Objetivo específico'
        =diag.text_area :objetivo_especifico, class: 'form-control'

  %hr
  %br
  .text-center
    %br
    =diag.submit class: 'btn btn-primary'

-if current_usuario.can_edit == false && !@remi.new_record?
  %script
    disableInputs();