
= form_for @tegu, url: {action: @tegu.id.nil? ? 'create' : 'update'}, html: {class: ""} do |tegu|
  =tegu.hidden_field :historia_clinica_id
  .text-center
    .form-group.form-group-check
      =tegu.label :color, class: 'lbl_subtitle_check'
      =label_tag(:color_normal, "Normal ")
      =tegu.radio_button(:color, "normal")
      =label_tag(:color_erimatosa, "Erimatosa ")
      =tegu.radio_button(:color, "erimatosa")
      =label_tag(:color_equimosis, "Equimosis ")
      =tegu.radio_button(:color, "equimosis")
      =label_tag(:color_otros, "Otros ")
      =tegu.radio_button(:color, "otros")
    .form-group.form-group-check
      =tegu.label :estado, class: 'lbl_subtitle_check'
      =label_tag(:estado_normal, "Normal ")
      =tegu.radio_button(:estado, "normal")
      =label_tag(:color_erimatosa, "Seca ")
      =tegu.radio_button(:estado, "seca")
      =label_tag(:estado_brillante, "Brillante ")
      =tegu.radio_button(:estado, "brillante")
    .form-group.form-group-check
      =tegu.label :tumefaccion, class: 'lbl_subtitle_check'
      =label_tag(:tumefaccion_si, "Si ")
      =tegu.radio_button(:tumefaccion, "true")
      =label_tag(:tumefaccion_no, "No ")
      =tegu.radio_button(:tumefaccion, "false")
    .form-group.form-group-check
      =tegu.label :escaras, class: 'lbl_subtitle_check'
      =label_tag(:escaras_si, "Si ")
      =tegu.radio_button(:escaras, "true")
      =label_tag(:escaras_no, "No ")
      =tegu.radio_button(:escaras, "false")
    .form-group.form-group-check
      =tegu.label :heridas, class: 'lbl_subtitle_check'
      =label_tag(:heridas_si, "Si ")
      =tegu.radio_button(:heridas, "true")
      =label_tag(:heridas_no, "No ")
      =tegu.radio_button(:heridas, "false")
    .form-group.form-group-check
      =tegu.label :cicatriz, class: 'lbl_subtitle_check'
      =label_tag(:cicatriz_si, "Si ")
      =tegu.radio_button(:cicatriz, "true")
      =label_tag(:cicatriz_no, "No ")
      =tegu.radio_button(:cicatriz, "false")

  %br
  .text-center
    =tegu.submit class: 'btn btn-primary'
  %br

-if current_usuario.can_edit == false && !@tegu.new_record?
  %script
    disableInputs();