/* Autor: Vanessa Pineda Diaz
*
* Fecha creacion: 20-01-2016
*
* Autor actualizacion:
*
* Fecha actualizacion:
*
* Estilo: para los datepicker del proyecto
*/

.ui-datepicker {
  border: 0px !important;
  padding: 0px !important;
  .ui-datepicker-header {
    background: $color-blue;
    border: 0px;
    height: 50px;
    @include border-radius(5px 5px 0px 0px);
    padding: 10px !important;
    .ui-icon {
      background-image: url("ui-icons_ffffff_256x240.png");
      transform: scale(1.5,1.5);
    }
    .ui-icon-circle-triangle-w {
      background-position: -100px 0px;
    }
    .ui-icon-circle-triangle-e {
      background-position: -34px 0px;
    }
  }
  .ui-datepicker-title {
    span {
      color: $color-white;
      font-family: $font-montserrat-regular;
      font-size: 16px;
    }
  }
  .ui-corner-all {
    cursor: pointer;
  }
  .ui-datepicker-prev {
     left: 20px !important;
     top: 10px !important;
  }
  .ui-datepicker-next {
    right: 20px !important;
    top: 10px !important;
  }
  .ui-state-hover, .ui-datepicker-prev-hover {
    background: none !important;
    border: 0px !important;
    opacity: 0.8;
  }
  .ui-datepicker-calendar {
    thead {
      th {
        padding: 4px 0px !important;
        span {
          color: $color-blue;
          font-family: $font-open-sans-regular;
          font-size: 14px;
        }
      }
    }
  }
  .ui-datepicker-calendar {
    border: 0px !important;
  }
  table thead {
    background-color: $color-gray;
  }
  .ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    border: 0px !important;
    background: transparent !important;
    font-family: $font-montserrat-light;
    font-size: 13px;
    color: $color-gray;
  }
  .ui-state-highlight {
    background-color: $color-blue !important;
    color: $color-white !important;
    text-align: center;
  }
}
