/* Autor: Vanessa Pineda Diaz
*
* Fecha creacion: 13-12-2015
*
* Autor actualizacion:
*
* Fecha actualizacion:
*
* Estilo: para el inicio de sesión
*/

.login {
  li {
    a {
      margin-right: 10px;
      color: $color-black;
      text-transform: uppercase;
      &:hover {
        cursor: pointer;
      }
    }
  }
  .menu {
    margin-bottom: 80px;
  }
}


//License 
.modal-license {
  .modal-title {
    color: #000 !important;
    text-align: center;
    font-family: 'monospace';
  }
  p {
    font-family: 'monospace';
    font-size: 15px;
    text-align: justify;
    padding: 12px;
  }
  .modal-body {
    a {
      color: #337ab7;
      font-family: 'monospace';
      font-size: 15px;
    }
  }
}

.link-hover:hover {
  cursor: pointer;
}