//Responsive

@media (max-width: 1000px) {
  .tabs-left .tab-content > .active {
    width: 89%;
    padding-top: 10px;
  }
  .tabs-left .nav-tabs {
  	width: 50px;
  	.logo_menu_left {
  		height: auto;
  		width: 100%;
  		padding: 0 5px;
		}
		li a {
			font-size: 20px;
			padding: 10px 5px;
			text-align: center;
		}
	}
	.tabs-left .tab-pane {
		margin-top: 25px;
	}
	.md-menu {
    display: none;
	}
	.sm-menu {
		display: inline-block;
	}
}


@media (max-width: 710px) {
  .tabs-left .tab-content > .active {
    width: 85%;
  }
  #edit_historia_clinica_3 .form-group-check .lbl_subtitle_check {
  	width: 100%;
  }
  #table_evolutions_wrapper {
    overflow-y: scroll;
	}
}

@media (max-width: 520px) {
  .tabs-left .tab-content > .active {
    width: 80%;
  }
  .btn.primary-btn {
  	padding: 9px !important;
    font-size: 9px !important;
  }
  .second-btn {
    display: inline-block;
    padding: 10px !important;
	}
	.text-center.form_inline_patient {
    overflow-y: scroll;
	}
}

@media (max-width: 380px) {
  .tabs-left .tab-content > .active {
    width: 75%;
  }
}

@media (max-width: 498px) {
	.list_patients {
		margin-top: 82px;
	}
	.links-right {
    padding-top: 38px;
	}
	.all_forms_style {
		padding: 0;
	}

}

@media (min-width: 1001px) {
	.sm-menu {
		display: none;
	}
}

