/* Autor: Vanessa Pineda Diaz
*
* Fecha creacion: 22-12-2015
*
* Autor actualizacion:
*
* Fecha actualizacion:
*
* Estilo: Estilos para los formularios para crear el paciente
*/


.all_forms_style {
  padding: 0px 15px;
  h4 {
    margin-top: 0px;
    text-align: center;
    text-transform: uppercase;
    color: $color-black;
  }
  p {
    text-align: center;
    color: $color-gray-dark;
    font-family: $font-roboto-light;
  }
  hr {
    margin-top: 10px;
    margin-bottom: 12px;
  }
  .form-group {
    margin-top: 5px;
    text-align: left;
    padding: 0px 10px;
    label, input, textarea, .chosen-container .chosen-single span {
      margin-bottom: 2px;
      font-family: $font-open-sans-regular !important;
      color: $color-gray-dark !important;
      font-size: 14px !important;
    }
    label {
      color: $color-black !important;
      font-family: $font-open-sans-semibold !important;
    }
    input, select, .chosen-search input {
      background-color: $color-white;
      border: 0px !important;
      height: 38px;
      border-radius: 0px;
      border: 1px solid #ccc !important;
      &:focus {
        outline: 0;
      }
    }
    .chosen-container {
      border: 0px !important;
      width: 100% !important;
      .chosen-drop {
        border: 0px;
        padding-top: 5px;
      }
      .chosen-results li {
        font-family: $font-open-sans-light !important;
        color: $color-gray-dark;
        font-size: 14px !important;
      }
      .highlighted {
        background: none;
        background-color: transparent;
        color: $color-blue !important;
      }
    }
    .chosen-single {
      border: 0px;
      height: 38px;
      background: $color-gray;
      border-radius: 0px;
      box-shadow: 0px 0px !important;
      padding-top: 7px;
      div {
        top: 8px;
      }
    }
    textarea {
      background-color: $color-white;
      border: 0 !important;
      border-radius: 0;
      height: 80px;
      border: 1px solid #ccc !important;
      &:focus {
        outline: 0;
      }
    }
  }
  .primary-btn {
    padding: 10px 40px !important;
  }
  .form-group-check {
    text-align: left;
    margin-bottom: 14px;
    padding-left: 20px;
    .lbl_subtitle_check {
      width: 150px;
      color: $color-black !important;
      font-family: $font-open-sans-bold;
      &:after {
        content: ':';
      }
    }
    label {
      margin-bottom: 2px;
      font-family: $font-open-sans-light;
      color: $color-black;
    }
    input {
      margin-right: 25px;
    }
  }
  .panel-heading {
    h4 {
      color: $color-blue;
    }
    a {
      span {
        float: right;
        font-size: 29px;
        margin-top: -7px;
      }
    }
  }
  .panel-group .panel {
    margin-bottom: 10px;
  }
}