/* Autor: Vanessa Pineda Diaz
*
* Fecha creacion: 17-11-2015
*
* Autor actualizacion:
*
* Fecha actualizacion:
*
* Estilo: Página donde se listan los pacientes
*/

#upfile {
  display: none;
}

.container_logo {
  position: relative;
  display: inline-block;
  cursor: pointer;
  .img_logo {
    width: 250px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 30px;
  }
  &:hover > p {
    opacity: 1;
  }
  &:hover {
    opacity: 0.96;
  }
}
.change_logo {
  position: absolute;
  left:3px;
  top: 119px;
  color: $color-black;
  font-size: 18px;
  opacity: 0.6;
  transition: 0.7s;
  text-decoration: underline;
  &:hover {
    opacity: 1;
  }
}

.list_patients {
  padding: 15px 20px;
  background-color: $color-white;
  margin-top: 60px;
  border-top: 3px solid #d2d6de;
  h2 {
    font-size: 23px;
    text-transform: uppercase;
    margin-bottom: 40px;
    text-align: center;
  }
  .current_user {
    margin-top: 30px;
    font-size: 18px;
    color: $color-black;
    font-family: $font-open-sans-semibold;
  }
  input, select {
    padding: 7px;
    border: 1px solid $color-gray;
  }
  select {
    height: 32px;
    border-radius: 0px !important;
  }
}


