/* Autor: Vanessa Pineda Diaz
*
* Fecha creacion: 05-12-2015
*
* Autor actualizacion:
*
* Fecha actualizacion:
*
* Estilo: Para poner los tabs vertical, con el menu al lado izquierdo
*/

.tabs-left {
  .nav-tabs {
    border-bottom: 0;
    float: left;
    margin-right: 20px;
    width: 245px;
    background-color: $bgcolor-left-menu;
    padding-top: 25px;
    min-height: 100%;
    li {
      float: none;
      a {
        border-radius: 0 !important;
        color: $color-left-menu-title;
        font-size: 14px;
        font-family: 'Source Sans Pro','Helvetica Neue',Helvetica,Arial,sans-serif;
        border-left: 3px solid transparent;
        &:hover, &:focus {
          border: 0;
          border-left: 3px solid #3c8dbc;
          border-radius: 0;
          background-color: #1e282c !important;
          color: $color-white !important;
        }
      }
    }
    .active {
      a {
        border: 0;
        border-left: 3px solid #3c8dbc;
        border-radius: 0;
        background-color: #1e282c !important;
        color: $color-white;   
      }
    }
  }
  .tab-pane {
    float: left;
    background-color: $color-white;
    border-top: 3px solid #d2d6de;
    margin-top: 50px;
    padding: 30px 10px;
    margin-bottom: 30px;
  }
  .tab-content > .active {
    width: 78%;
    @media (max-width: 1220px) {
      width: 71%;
    }
  }
}

.logo_menu_left {
  height: 80px;
  margin-bottom: 25px;
}