/* Autor: Vanessa Pineda Diaz
*
* Fecha creacion: 13-12-2015
*
* Autor actualizacion:
*
* Fecha actualizacion:
*
* Estilo: Estilos para el top menu
*/

.top_menu {
  background-color: $color-blue;
  top: 0px;
  width: 100%;
  z-index: 9;
  @include border-radius(0);
  border: 0;
  margin-bottom: 0;
  .logo_menu {
    height: 50px;
  }
  ul.nav.navbar-nav {
    padding: 1px 20px 0 50px;
    @media (max-width: 991px) {
      padding: 1px 0px 0 5px;
    }
    li {
      a {
        text-transform: uppercase;
        margin-right: 10px;
        color: $color-white;
        padding: 17px 20px;
        @media (max-width: 991px) {
          margin-right: 3px;
        }
        @media (max-width: 850px) {
          font-size: 13px;
          padding: 17px 15px;
        }
        &:hover {
          background-color: rgba(0,0,0,0.1);
          color: #f6f6f6 !important;
        }
      }
    }
    .active > a {
      background-color: rgba(0,0,0,0.1);
      color: #f6f6f6;
    }
  }
  .pull-left {
    width: 244px;
    text-align: center;
    background-color: $color-dark-blue;
    h3 {
      margin: 15px 0;
      a, a:hover, a:focus {
        color: $color-white !important;
        text-decoration: none;
      }
    }
  }
  .pull-right {
    padding: 1px 20px 0 0 !important;
    @media (max-width: 991px) {
      padding: 1px 0 0 0 !important;
    }
  }
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: $color-white;
}