%script
  $( document ).ready(function() {
  //LLama al datepicker y lo traduce
  $( ".datepicker" ).datepicker({
  changeMonth: true,
  changeYear: true,
  format: 'yyyy-mm-dd'
  });
  });

= form_for @evolucion, url: { action: @evolucion.id.nil? ? 'create' : 'update' }, html: { class: "" } do |f|
  .box-body
    -if !@patient.id.nil?
      =f.hidden_field :patient_id, value: @patient.id
    
    .row
      .col-md-12.col-sm-12.col-xs-12
        .form-group
          = f.label :descripcion, 'Descripción'
          = f.text_area :descripcion, class: 'form-control', required:true
      .col-md-6.col-sm-6.col-xs-12
        .form-group
          = f.label :is_important, 'Resaltar evolución?'
          = f.check_box :is_important
    .text-center
      %br
      = f.submit class: 'btn btn-primary'

-if current_usuario.can_edit == false && !@evolucion.new_record?
  %script
    disableInputs();