<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Evoluciones de <%= @patient.nombre %>
  </h1>
</section>

<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-xs-12">
      <div class="box">
        <div class="box-header">
          <h3 class="box-title">Evoluciones</h3>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
          <table id="example2" class="table table-bordered table-hover">
            <thead>
            <tr>
              <th>Id</th>
              <th>Descripción</th>
              <th>Fecha de creación</th>
              <th></th>
            </tr>
            </thead>
            <tbody>
              <%-@evoluciones.each do |evo|%>
                <tr>
                  <td><%= evo.id%></td>
                  <%-if evo.is_important %>
                    <td> <strong><%= evo.descripcion[0..110] %></strong> </td>
                  <%else%>
                    <td><%= evo.descripcion[0..110] %></td>
                  <%end%>
                  <td><%= evo.created_at.strftime("%Y-%m-%d %I:%M %p") %></td>
                  <td>
                    <a href="<%= edit_fisio_patient_evolucione_path(@patient, evo) %>">
                      <i class="fa fa-fw fa-edit"></i>  
                    </a>
                  </td>
                </tr>
              <%end%>
            </tbody>
          </table>
          <br>
          <div class="row">
            <div class="col-md-3">
              <a href="<%= new_fisio_patient_evolucione_path(@patient)%>" class="btn btn-primary">
                Crear
              </a>
            </div>
            <div class="col-md-9">
              <div class="pull-right">
                <%= will_paginate @evoluciones, renderer: BootstrapPagination::Rails %>    
              </div>
            </div>
          </div>
        </div>
        <!-- /.box-body -->
      </div>
      <!-- /.box -->
    </div>
    <!-- /.col -->
  </div>
  <!-- /.row -->
</section>
<!-- /.content -->

<script>
$(function () {
  $('#example2').dataTable({
    'paging'      : false,
    'lengthChange': false,
    'searching'   : false,
    'ordering'    : true,
    'info'        : true,
    'autoWidth'   : false
  })
})
</script>
