= form_for @cardio, url: { action: @cardio.id.nil? ? 'create' : 'update'}, html: {class: ""} do |f|
  .box_body
    =hidden_field_tag :patient_id,  @patient.id
    =f.hidden_field :historia_clinica_id, value: @history.id
    .row.text-center
      .col-md-4.col-sm-4.col-xs-12
        .form-group
          =f.label :pa, 'Presión arterial'
          =f.text_field :pa, class: 'form-control'
      .col-md-4.col-sm-4.col-xs-12
        .form-group
          =f.label :fc, 'Frecuencia cardíaca'
          =f.text_field :fc, class: 'form-control'
      .col-md-4.col-sm-4.col-xs-12
        .form-group
          =f.label :fr, 'Frecuencia respiratoria'
          =f.text_field :fr, class: 'form-control'
      .col-md-4.col-sm-4.col-xs-12
        .form-group
          =f.label :sao2, 'Saturacíon de oxígeno'
          =f.text_field :sao2, class: 'form-control'
      .col-md-4.col-sm-4.col-xs-12
        .form-group
          =f.label :ausc_pulmonar, 'Auscultación pulmonar'
          =f.text_field :ausc_pulmonar, class: 'form-control'
      .col-md-4.col-sm-4.col-xs-12
        .form-group
          =f.label :ausc_cardiaca, 'Auscultación cardíaca'
          =f.text_field :ausc_cardiaca, class: 'form-control'
    .text-center
      %br
      =f.submit class: 'btn btn-primary'

-if current_usuario.can_edit == false && !@cardio.new_record?
  %script
    disableInputs();