%html
  %head
    %meta{:content => 'text/html; charset=UTF-8', 'http-equiv' => 'Content-Type'}
    %meta{name: 'viewport', content: 'initial-scale=1, maximum-scale=1'}
    %title Control Médico
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    %link{:href => "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.5.0/css/font-awesome.min.css", :rel => "stylesheet"}
  %body
    -if notice
      .notice.alert.alert-success.alert-dismissible{role: 'alert'}
        %button.close{type:'button', 'data-dismiss'=>'alert', 'aria-label'=>'Close'}
          %span{'aria-hidden'=>'true'}X
        %p.alert_info=notice
    -if alert
      .alert.alert-danger.alert-dismissible{role: 'alert'}
        %button.close{type:'button', 'data-dismiss'=>'alert', 'aria-label'=>'Close'}
          %span{'aria-hidden'=>'true'}X
        %p.alert_info=alert
    = yield