#myModal.modal.fade.modal-license{"aria-labelledby" => "myModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
        %h4#myModalLabel.modal-title.text-center ACUERDO DE USO Y LICENCIA
      .modal-body
        %p 
          El software de gestión y desarrollo de historias clínicas con enfoque en fisioterapia entregado al doctor Gustavo Andrés García Sánchez y la fisioterapeuta Carol Priscila Bolívar Gómez quienes se conocerán como los usuarios, fué desarrollado como complemento a un producto de software previamente creado por los desarrolladores bajo una serie de requerimientos que fueron entregados por los usuarios para cumplir con las características básicas de gestión que necesitaban.
          %br
          %br
          El software desarrollado se entrega después de un periodo de pruebas y correcciones exitosas acordado entre los desarrolladores y los usuarios en el mes de octubre de 2017. El equipo de desarrollo no se hará responsable por el uso indebido que los usuarios den al software ni a la administración de información sensible que sea ingresada por los usuarios.
          %br
          %br
          Los usuarios tienen libre albedrío para escoger un proveedor de hosting para la instalación y puesta en marcha del software, permitiendo el acceso a los datos desde cualquier dispositivo y desde cualquier lugar del mundo sin limitaciones horarias.
          %br
          %br
          El software se encuentra bajo licencia "Software Libre GPLv3". Los derechos de autor se reportan a los desarrolladores del software Carlos Andres Torres Cruz y Vanessa Pineda Diaz.
          %br
          %br
          La licencia de Software Libre GPLv3 permite a los desarrolladores conservar su título como creadores del producto además de la opción de comercializarlo siempre y cuando el acceso al código fuente se encuentre de forma pública y accesible para los usuarios. para conocer más acerca de la licencia pueden ingresar en el link. 
          %a{href:'https://www.gnu.org/licenses/gpl.html', target: '_blank'}GPLv3.
          %br
          %br
          Para obtener una copia del código fuente del proyecto pueden ingresar al repositorio y descargar la información necesaria en 
          %a{href:'https://gitlab.com/katorres02/historia_clinica_pris', target:'_blank'}https://gitlab.com/katorres02/historia_clinica_pris 
          además el registro de licenciamiento lo pueden encontrar en 
          %a{href:'https://gitlab.com/katorres02/historia_clinica_pris/blob/master/LICENSE', target:'_blank'}https://gitlab.com/katorres02/historia_clinica_pris/blob/master/LICENSE
          %br
          %br
          Para la obtención del software los usuarios realizaron un pago por un valor único sin ningún tipo de atadura ni futuros cobros sobre el desarrollo entregado por parte de los desarrolladores. No se realizará ningún tipo de cobro periódico que usualmente realizan algunas compañías para mantener la licencia, puesto que se entrega una licencia libre y vitalicia.
          %br
          %br
          Los servicios de mantenimiento, asesorías, o desarrollo de funciones extras diferentes a las entregadas en la versión inicial, serán cotizadas y cobradas por aparte.
          %br
          %br
          Finalmente los usuarios asumen un costo periódico pactado por la empresa proveedora del servicio hosting la cual no tiene ningún tipo de relación con los desarrolladores ni con el software entregado.
        
      .modal-footer
        %button.btn.btn-default{"data-dismiss" => "modal", :type => "button"} Cerrar
        
